<div class="models-table-wrapper">
  <div class="pull-left">
    <form class="form-inline" action="">
      <div class="form-group">
        <label>Search:</label> {{input type="text" value=filterString class="form-control filterString"}}
      </div>
    </form>
  </div>
  {{#if showColumnsDropdown}}
    <div class="pull-right columns-dropdown">
      <div class="btn-group">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
          Columns <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
          <li><a {{action "showAllColumns" column bubbles=false}} href="#">Show all</a></li>
          <li><a {{action "hideAllColumns" column bubbles=false}} href="#">Hide all</a></li>
          <li><a {{action "restoreDefaultVisibility" column bubbles=false}} href="#">Restore defaults</a></li>
          <li class="divider"></li>
          {{#each columns as |column|}}
            <li>
              <a {{action "toggleHidden" column bubbles=false}} href="#">
                {{input type="checkbox" checked=column.isVisible disabled=true}} {{column.title}}
              </a>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  {{/if}}
  <table class="{{if tableStriped 'table-striped'}} {{if tableBordered 'table-bordered'}} {{if tableCondensed 'table-condensed'}} table">
    <thead>
    <tr>
      {{#each columns as |column|}}
        {{#if column.isVisible}}
          <td class="table-header" {{action "sort" column}}>
            {{column.title}}
            <span class="{{if column.sortAsc 'glyphicon-triangle-bottom'}} {{if column.sortDesc 'glyphicon-triangle-top'}} glyphicon"></span>
          </td>
        {{/if}}
      {{/each}}
    </tr>
    {{#if useFilteringByColumns}}
      <tr>
        {{#each columns as |column|}}
          {{#if column.isVisible}}
            <td>
              {{#if column.useFilter}}
                {{input type="text" value=column.filterString class="form-control"}}
              {{/if}}
            </td>
          {{/if}}
        {{/each}}
      </tr>
    {{/if}}
    </thead>
    <tbody>
    {{#if allColumnsAreHidden}}
      <tr><td colspan={{columns.length}}>{{{allColumnsAreHiddenMessage}}}</td></tr>
    {{else}}
      {{#if visibleContent.length}}
        {{#each visibleContent as |record|}}
          <tr>
            {{#each columns as |column|}}
              {{#if column.isVisible}}
                <td>
                  {{#if column.template}}
                    {{partial column.template}}
                  {{else}}
                    {{object-property record column.propertyName}}
                  {{/if}}
                </td>
              {{/if}}
            {{/each}}
          </tr>
        {{/each}}
      {{else}}
        <tr><td colspan={{columns.length}}>{{{allRowsAreFilteredOutMessage}}}</td></tr>
      {{/if}}
    {{/if}}
    </tbody>
  </table>
  {{#if showTableFooter}}
    <div class="table-footer clearfix">
      <div class="{{if useNumericPagination 'col-md-3' 'col-md-8'}} {{if useNumericPagination 'col-sm-3' 'col-sm-8'}} table-summary">
        {{summary}}
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="pull-right">

          <select class="form-control changePageSize" {{action 'changePageSize' on='change'}}>
            {{#each pageSizeValues key="@index" as |item|}}
              <option value="{{item}}" selected={{is-equal item selectedValue}}>
                {{item}}
              </option>
            {{/each}}
          </select>

        </div>
      </div>
      {{#if useNumericPagination}}
        <div class="table-nav col-md-7 col-sm-7">
          <div class="btn-toolbar pull-right" role="toolbar">
            <div class="btn-group" role="group">
              {{#each visiblePageNumbers as |page|}}
                {{#if page.isLink}}
                  <button type="button" class="{{if page.isActive 'active'}} btn btn-default" {{action "gotoCustomPage" page.label}}>{{page.label}}</button>
                {{else}}
                  <button disabled="disabled" type="button" class="btn btn-default" {{action "gotoCustomPage" page.label}}>{{page.label}}</button>
                {{/if}}
              {{/each}}
            </div>
          </div>
        </div>
      {{else}}
        <div class="table-nav col-md-2 col-sm-2">
          {{partial simplePaginationTemplate}}
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>