<div class="models-table-wrapper">
  {{! global filter start }}
  {{#if showGlobalFilter}}
    {{partial globalFilterTemplate}}
  {{/if}}
  {{! global filter end }}
  {{! columns dropdown start }}
  {{#if showColumnsDropdown}}
    {{partial columnsDropdownTemplate}}
  {{/if}}
  {{! columns dropdown end }}

  <!-- Div needed by Firefox to reset floating positioning -->
  <div style="clear:both"/>

  <div class="inner-table-wrapper">
    <table class="{{if tableStriped 'table-striped'}} {{if tableBordered 'table-bordered'}} {{if tableCondensed 'table-condensed'}} table">
      {{! table header start }}
      <thead>
      <tr>
        {{#each processedColumns as |column|}}
          {{#if column.isVisible}}
            <td class="table-header" {{action "sort" column}}>
              {{column.title}}
              <span class="{{if column.sortAsc 'glyphicon-triangle-bottom'}} {{if column.sortDesc 'glyphicon-triangle-top'}} glyphicon"></span>
            </td>
          {{/if}}
        {{/each}}
      </tr>
      {{#if useFilteringByColumns}}
        <tr>
          {{#each processedColumns as |column|}}
            {{#if column.isVisible}}
              <td>
                {{#if column.useFilter}}
                  {{#if column.filterWithSelect}}
                    <select class="form-control changeFilterForColumn {{column.propertyName}}" {{action 'changeFilterForColumn' column on='change'}}>
                      {{#each column.filterOptions key="@index" as |item|}}
                        <option value="{{item}}" selected={{is-equal item selectedValue}}>
                          {{item}}
                        </option>
                      {{/each}}
                    </select>
                  {{else}}
                    {{input type="text" value=column.filterString class="form-control"}}
                  {{/if}}
                {{/if}}
              </td>
            {{/if}}
          {{/each}}
        </tr>
      {{/if}}
      </thead>
      {{! table header end }}
      {{! table body start }}
      <tbody>
      {{#if allColumnsAreHidden}}
        <tr><td colspan={{processedColumns.length}}>{{{messages.allColumnsAreHidden}}}</td></tr>
      {{else}}
        {{#if visibleContent.length}}
          {{#each visibleContent as |record|}}
            <tr>
              {{#each processedColumns as |column|}}
                {{#if column.isVisible}}
                  <td class={{column.className}}>
                    {{#if column.template}}
                      {{partial column.template}}
                    {{else}}
                      {{object-property record column.propertyName}}
                    {{/if}}
                  </td>
                {{/if}}
              {{/each}}
            </tr>
          {{/each}}
        {{else}}
          <tr><td colspan={{processedColumns.length}}>{{{messages.noDataToShow}}}</td></tr>
        {{/if}}
      {{/if}}
      </tbody>
      {{! table body end }}
    </table>
  </div>
  {{! table footer start }}
  {{#if showTableFooter}}
    {{partial tableFooterTemplate}}
  {{/if}}
  {{! table footer end }}
</div>
