<div class="models-table-wrapper">
  {{! global filter start }}
  {{#if showGlobalFilter}}
    <div class="pull-left">
      <form class="form-inline globalSearch" action="">
        <div class="form-group">
          <label>{{messages.searchLabel}}</label> {{input type="text" value=filterString class="form-control filterString"}}
        </div>
      </form>
    </div>
  {{/if}}
  {{! global filter end }}
  {{! columns dropdown start }}
  {{#if showColumnsDropdown}}
    <div class="pull-right columns-dropdown">
      <div class="btn-group">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
          {{messages.columns-title}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
          <li><a {{action "showAllColumns" column bubbles=false}} href="#">{{messages.columns-showAll}}</a></li>
          <li><a {{action "hideAllColumns" column bubbles=false}} href="#">{{messages.columns-hideAll}}</a></li>
          <li><a {{action "restoreDefaultVisibility" column bubbles=false}} href="#">{{messages.columns-restoreDefaults}}</a></li>
          <li class="divider"></li>
          {{#each processedColumns as |column|}}
            {{#if column.mayBeHidden }}
              <li>
                <a {{action "toggleHidden" column bubbles=false}} href="#">
                    <span class="glyphicon {{if column.isVisible 'glyphicon-check' 'glyphicon-unchecked'}}"></span> {{column.title}}
                </a>
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  {{/if}}
  {{! columns dropdown end }}

  <!-- Div needed by Firefox to reset floating positioning -->
  <div style="clear:both"/>

  <div class="inner-table-wrapper">
    <table class="{{if tableStriped 'table-striped'}} {{if tableBordered 'table-bordered'}} {{if tableCondensed 'table-condensed'}} table">
      {{! table header start }}
      <thead>
      <tr>
        {{#each processedColumns as |column|}}
          {{#if column.isVisible}}
            <td class="table-header" {{action "sort" column}}>
              {{column.title}}
              <span class="{{if column.sortAsc 'glyphicon-triangle-bottom'}} {{if column.sortDesc 'glyphicon-triangle-top'}} glyphicon"></span>
            </td>
          {{/if}}
        {{/each}}
      </tr>
      {{#if useFilteringByColumns}}
        <tr>
          {{#each processedColumns as |column|}}
            {{#if column.isVisible}}
              <td>
                {{#if column.useFilter}}
                  {{#if column.filterWithSelect}}
                    <select class="form-control changeFilterForColumn {{column.propertyName}}" {{action 'changeFilterForColumn' column on='change'}}>
                      {{#each column.filterOptions key="@index" as |item|}}
                        <option value="{{item}}" selected={{is-equal item selectedValue}}>
                          {{item}}
                        </option>
                      {{/each}}
                    </select>
                  {{else}}
                    {{input type="text" value=column.filterString class="form-control"}}
                  {{/if}}
                {{/if}}
              </td>
            {{/if}}
          {{/each}}
        </tr>
      {{/if}}
      </thead>
      {{! table header end }}
      {{! table body start }}
      <tbody>
      {{#if allColumnsAreHidden}}
        <tr><td colspan={{processedColumns.length}}>{{{messages.allColumnsAreHidden}}}</td></tr>
      {{else}}
        {{#if visibleContent.length}}
          {{#each visibleContent as |record|}}
            <tr>
              {{#each processedColumns as |column|}}
                {{#if column.isVisible}}
                  <td class={{column.className}}>
                    {{#if column.template}}
                      {{partial column.template}}
                    {{else}}
                      {{object-property record column.propertyName}}
                    {{/if}}
                  </td>
                {{/if}}
              {{/each}}
            </tr>
          {{/each}}
        {{else}}
          <tr><td colspan={{processedColumns.length}}>{{{messages.noDataToShow}}}</td></tr>
        {{/if}}
      {{/if}}
      </tbody>
      {{! table body end }}
    </table>
  </div>
  {{! table footer start }}
  {{#if showTableFooter}}
    <div class="table-footer clearfix">
      {{! table summary start }}
      <div class="{{if useNumericPagination 'col-md-3' 'col-md-8'}} {{if useNumericPagination 'col-sm-3' 'col-sm-8'}} table-summary">
        {{summary}}
      </div>
      {{! table summary end }}
      {{! pagesize selection start }}
      <div class="col-md-2 col-sm-2">
        <div class="pull-right">

          <select class="form-control changePageSize" {{action 'changePageSize' on='change'}}>
            {{#each pageSizeValues key="@index" as |item|}}
              <option value="{{item}}" selected={{is-equal item selectedValue}}>
                {{item}}
              </option>
            {{/each}}
          </select>

        </div>
      </div>
      {{! pagesize selection end }}
      {{! pagination start }}
      {{#if useNumericPagination}}
        <div class="table-nav col-md-7 col-sm-7">
          <div class="btn-toolbar pull-right" role="toolbar">
            <div class="btn-group" role="group">
              {{#each visiblePageNumbers as |page|}}
                {{#if page.isLink}}
                  <button type="button" class="{{if page.isActive 'active'}} btn btn-default" {{action "gotoCustomPage" page.label}}>{{page.label}}</button>
                {{else}}
                  <button disabled="disabled" type="button" class="btn btn-default" {{action "gotoCustomPage" page.label}}>{{page.label}}</button>
                {{/if}}
              {{/each}}
            </div>
          </div>
        </div>
      {{else}}
        <div class="table-nav col-md-2 col-sm-2">
          {{partial simplePaginationTemplate}}
        </div>
      {{/if}}
      {{! pagination end }}
    </div>
  {{/if}}
  {{! table footer end }}
</div>
