<div class="models-table-wrapper">
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        {{#each column in columns}}
          <td {{bind-attr class=":table-header"}} {{action "sort" column}}>
            {{column.title}} <span {{bind-attr class="column.sortAsc:glyphicon-triangle-bottom column.sortDesc:glyphicon-triangle-top :glyphicon"}}></span>
          </td>
        {{/each}}
      </tr>
    </thead>
    <tbody>
    {{#each record in visibleContent}}
      <tr>
        {{#each column in columns}}
          <td>
            {{#if column.template}}
              {{partial column.template}}
            {{else}}
              {{#if column.isHtml}}
                {{{object-property record column.propertyName}}}
              {{else}}
                {{object-property record column.propertyName}}
              {{/if}}
            {{/if}}
          </td>
        {{/each}}
      </tr>
    {{/each}}
    </tbody>
  </table>
  {{#if showTableFooter}}
    <div class="table-footer clearfix">
      <div class="table-summary col-md-8 col-sm-8">
        {{summary}}
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="pull-right">
          {{view "select"
          content=pageSizeValues
          selection=pageSize
          class="form-control"
          }}
        </div>
      </div>
      <div class="table-nav col-md-2 col-sm-2">
        <a href="#" {{action "gotoFirst"}} {{bind-attr class="gotoBackEnabled:enabled:disabled"}}><span
            class="glyphicon glyphicon-chevron-left"></span></a>&nbsp;
        <a href="#" {{action "gotoPrev"}} {{bind-attr class="gotoBackEnabled:enabled:disabled"}}><span
            class="glyphicon glyphicon-menu-left"></span></a>&nbsp;
        <a href="#" {{action "gotoNext"}} {{bind-attr class="gotoForwardEnabled:enabled:disabled"}}><span
            class="glyphicon glyphicon-menu-right"></span></a>&nbsp;
        <a href="#" {{action "gotoLast"}} {{bind-attr class="gotoForwardEnabled:enabled:disabled"}}><span
            class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
    </div>
  {{/if}}
</div>