<a href="#" {{action "expandAllRows" bubbles=false}} class={{classes.expandAllRows}}><i class="{{icons.expand-all-rows}}"></i></a><br />
<a href="#" {{action "collapseAllRows" bubbles=false}} class={{classes.collapseAllRows}}><i
  class="{{icons.collapse-all-rows}}"></i></a>
