<div class="{{classes.globalFilterWrapper}}">
  <div class="form-inline globalSearch">
    <div class="form-group">
      <label>{{messages.searchLabel}}</label> {{input type="text" value=filterString class=(concat classes.input " filterString") enter="" placeholder=messages.searchPlaceholder}}
      {{#if globalFilterUsed}}
        <span onclick={{action (mut filterString) ""}} class="clearFilterIcon {{classes.clearFilterIcon}}"></span>
      {{/if}}
    </div>
  </div>
</div>
