<div class="pull-right">
  <form class="form-inline globalSearch" action="">
    <div class="form-group">
      {{input type="text" value=filterString class="form-control filterString" placeholder="{{messages.searchLabel}}"}}
    </div>
  </form>
  {{! table summary start }}
	<div class="{{if useNumericPagination 'col-md-12' 'col-md-8'}} {{if useNumericPagination 'col-sm-12' 'col-sm-8'}} table-summary">
	{{summary}}
	</div>
	{{! table summary end }}
</div>
