<tr>
  {{#each processedColumns as |column|}}
    {{#if column.isVisible}}
      <th class="{{classes.theadCell}} {{unless column.useFilter classes.theadCellNoFiltering}}">
        {{#if column.useFilter}}
          {{#if column.filterWithSelect}}
            <select class="form-control changeFilterForColumn {{column.cssPropertyName}}" {{action "changeFilterForColumn" column on="change"}}>
              {{#each column.filterOptions key="@index" as |item|}}
                <option value="{{item}}" selected={{is-equal item selectedValue}}>
                  {{item}}
                </option>
              {{/each}}
            </select>
          {{else}}
            {{input type="text" value=column.filterString class="form-control" enter="" focus-out="changeFilterString" placeholder=column.filterPlaceholder}}
          {{/if}}
        {{else}}
          &nbsp;
        {{/if}}
      </th>
    {{/if}}
  {{/each}}
</tr>