<div class="btn-toolbar pull-right" role="toolbar">
  <div class="btn-group" role="group">
    {{#each visiblePageNumbers as |page|}}
      {{#if page.isLink}}
        <button type="button" class="{{if page.isActive "active"}} {{classes.buttonDefault}}" {{action "gotoCustomPage" page.label}}>{{page.label}}</button>
      {{else}}
        <button disabled="disabled" type="button" class="{{classes.buttonDefault}}" {{action "gotoCustomPage" page.label}}>{{page.label}}</button>
      {{/if}}
    {{/each}}
  </div>
</div>
