<div class="btn-toolbar" role="toolbar">
  <div class="btn-group" role="group">
    {{#each visiblePageNumbers as |page|}}
      {{#if page.isLink}}
        <button type="button" class="btn-pagination {{if page.isActive 'active'}}" {{action "gotoCustomPage" page.label}}>{{page.label}}</button>
      {{else}}
        <button disabled="disabled" type="button" class="btn btn-default" {{action "gotoCustomPage" page.label}}>{{page.label}}</button>
      {{/if}}
    {{/each}}
  </div>
</div>
