<tr>
  {{#each processedColumns as |column|}}
    {{#if column.isVisible}}
      <td class={{column.className}}>
        {{#if column.routeName}}
          {{#link-to column.routeName record.id}}
            {{#if column.propertyName}}
              {{get record column.propertyName}}
            {{else}}
              {{record.id}}
            {{/if}}
          {{/link-to}}
        {{else}}
          {{#if column.template}}
            {{partial column.template}}
          {{else}}
            {{get record column.propertyName}}
          {{/if}}
        {{/if}}
      </td>
    {{/if}}
  {{/each}}
</tr>
{{#if (exists-in _expandedRowIndexes index)}}
  <tr class="expand-row {{concat "expand-" index}}">
    <td colspan="{{processedColumns.length}}">
      {{partial expandedRowTemplate}}
    </td>
  </tr>
{{/if}}