<a href="#" {{action "gotoFirst"}} {{bind-attr class="gotoBackEnabled:enabled:disabled"}}><span
    class="glyphicon glyphicon-chevron-left"></span></a>&nbsp;
<a href="#" {{action "gotoPrev"}} {{bind-attr class="gotoBackEnabled:enabled:disabled"}}><span
    class="glyphicon glyphicon-menu-left"></span></a>&nbsp;
<a href="#" {{action "gotoNext"}} {{bind-attr class="gotoForwardEnabled:enabled:disabled"}}><span
    class="glyphicon glyphicon-menu-right"></span></a>&nbsp;
<a href="#" {{action "gotoLast"}} {{bind-attr class="gotoForwardEnabled:enabled:disabled"}}><span
    class="glyphicon glyphicon-chevron-right"></span></a>