<div class="{{@themeInstance.globalFilterWrapper}}">
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    <div class={{concat @themeInstance.form " globalSearch"}}>
      <div class="input-group">
        {{#if @themeInstance.searchLabelMsg}}
          <label class="input-group-addon" for={{this.inputId}}>
            {{@themeInstance.searchLabelMsg}}
          </label>
        {{/if}}
        <Input
          id={{this.inputId}}
          type="text"
          value={{@value}}
          class={{concat @themeInstance.input " filterString"}}
          @enter={{this.noop}}
          {{on "input" this.updateGlobalFilterString}}
          placeholder={{@themeInstance.searchPlaceholderMsg}}/>
        <span class="input-group-btn">
          <BsButton
            class="clearFilterIcon"
            disabled={{unless @globalFilterUsed "disabled"}}
            @type="secondary"
            @onClick={{this.clearGlobalFilter}}>
            &nbsp;&nbsp;
            <i class={{@themeInstance.clearFilterIcon}}></i>
            <span class="emt-sr-only">{{@themeInstance.clearGlobalFilterMsg}}</span>
          </BsButton>
        </span>
      </div>
    </div>
  {{/if}}
</div>