<div class="{{@themeInstance.footerSummary}} {{this.paginationTypeClass}}">
  {{#if (has-block)}}
    {{yield
      (hash
        summary=this.summary
      )
    }}
  {{else}}
    <this.BsForm
      @formLayout="inline"
      @model={{this}}
      @onSubmit={{this.noop}}>
      <label>{{this.summary}}</label>
      <this.BsButton
        class={{concat "clearFilters " @themeInstance.buttonLink}}
        disabled={{unless @anyFilterUsed "disabled"}}
        @onClick={{this.doClearFilters}}
        @type="secondary">
        <i class={{@themeInstance.clearAllFiltersIcon}}></i>
        <span class="emt-sr-only">{{@themeInstance.clearAllFiltersMsg}}</span>
      </this.BsButton>
    </this.BsForm>
  {{/if}}
</div>