<div class="{{@themeInstance.footerSummary}} {{this.paginationTypeClass}}">
  {{#if (has-block)}}
    {{yield
      (hash
        summary=this.summary
      )
    }}
  {{else}}
    <BsForm
      @formLayout="inline"
      @model={{this}}
      @onSubmit={{this.noop}}>
      <label>{{this.summary}}</label>
      <BsButton
        class={{concat "clearFilters " @themeInstance.buttonLink}}
        disabled={{unless this.anyFilterUsed "disabled"}}
        @onClick={{fn this.doClearFilters}}
        @type="secondary">
        <i class={{@themeInstance.clearAllFiltersIcon}}></i>
        <span class="emt-sr-only">{{@themeInstance.clearAllFiltersMsg}}</span>
      </BsButton>
    </BsForm>
  {{/if}}
</div>