{{#let
  (hash
    Select=(
      component themeInstance.selectComponent
      options=options
      value=value
      label=themeInstance.groupByLabelMsg
      themeInstance=themeInstance
      class=themeInstance.changeGroupByField
    )
    sortByGroupedFieldDirection=sortByGroupedFieldDirection
    themeInstance=themeInstance
    sort=doSort
  )
as |DataGroupBySelect|}}
  {{#if (has-block)}}
    {{yield DataGroupBySelect}}
  {{else}}
    <div class="layout-row">
      <DataGroupBySelect.Select/>
      <PaperButton
        @class={{themeInstance.sortGroupedPropertyBtn}}
        @raised={{true}}
        @mini={{true}}
        @iconButton={{true}}
        @onClick={{action "doSort"}}>
        {{paper-icon (if
          (is-equal "asc" sortByGroupedFieldDirection)
            themeInstance.sortAscIcon
            themeInstance.sortDescIcon)}}
      </PaperButton>
    </div>
  {{/if}}
{{/let}}
