{{#let
  (hash
    Select=(
      component this.themeInstance.selectComponent
      options=this.options
      value=this.value
      label=this.themeInstance.groupByLabelMsg
      themeInstance=this.themeInstance
      class=this.themeInstance.changeGroupByField
    )
    sort=this.doSort
  )
as |DataGroupBySelect|}}
  {{#if (has-block)}}
    {{yield DataGroupBySelect}}
  {{else}}
    <div class="layout-row">
      <DataGroupBySelect.Select/>
      <PaperButton
        @class={{this.themeInstance.sortGroupedPropertyBtn}}
        @raised={{true}}
        @mini={{true}}
        @iconButton={{true}}
        @onClick={{this.doSort}}>
        <PaperIcon @icon={{if
      (is-equal "asc" this.sortByGroupedFieldDirection)
      this.themeInstance.sortAscIcon
      this.themeInstance.sortDescIcon}}/>
      </PaperButton>
    </div>
  {{/if}}
{{/let}}
