<div class="globalSearch">
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    <PaperInput
      class={{concat this.themeInstance.input " filterString"}}
      @label={{this.themeInstance.searchLabelMsg}}
      @placeholder={{this.themeInstance.searchPlaceholderMsg}}
      @value={{this.value}}
      @onChange={{fn (mut this.value)}}/>
    {{#if this.globalFilterUsed}}
      <PaperButton
        class={{concat "clearFilterIcon " this.themeInstance.clearFilterIcon}}
        @onClick={{fn this.clearGlobalFilter}}
        @iconButton={{true}}>
        {{paper-icon "close"}}
      </PaperButton>
    {{/if}}
  {{/if}}
</div>