{{#let
  (hash
    PageNumberSelect=(
      component themeInstance.selectComponent
      id=inputId
      label=themeInstance.currentPageNumberMsg
      options=currentPageNumberOptions
      value=currentPageNumber
      type="number"
      themeInstance=themeInstance)
    goToPage=goToPage
    visiblePageNumbers=visiblePageNumbers
    themeInstance=themeInstance) as |Pagination|}}
  {{#if (has-block)}}
    {{yield Pagination}}
  {{else}}
    <div class={{themeInstance.paginationInternalWrapper}}>
      {{#if showCurrentPageNumberSelect}}
        <Pagination.PageNumberSelect/>
      {{/if}}
      <div class={{themeInstance.paginationBlock}}>
        {{#each visiblePageNumbers as |page|}}
          {{#if page.isLink}}
            <PaperButton
              class={{themeInstance.buttonDefault}}
              @onClick={{action "gotoCustomPage" page.label}}>
              {{page.label}}
            </PaperButton>
          {{else}}
            <PaperButton
              class={{themeInstance.buttonDefault}}
              @disabled={{true}}>
              {{page.label}}
            </PaperButton>
          {{/if}}
        {{/each}}
      </div>
    </div>
  {{/if}}
{{/let}}