{{#let
  (hash
    PageNumberSelect=(
      component this.themeInstance.selectComponent
      id=this.inputId
      options=this.currentPageNumberOptions
      label=this.themeInstance.currentPageNumberMsg
      value=this.currentPageNumber
      type="number"
      themeInstance=this.themeInstance
    )
    goToPage=this.goToPage
    goToFirst=this.gotoFirst
    goToPrev=this.gotoPrev
    goToNext=this.gotoNext
    goToLast=this.gotoLast
    goToBackEnabled=this.goToBackEnabled
    goToForwardEnabled=this.goToForwardEnabled
  )
as |Pagination|}}
  {{#if (has-block)}}
    {{yield Pagination}}
  {{else}}
    <div class={{this.themeInstance.paginationInternalWrapper}}>
      {{#if @showCurrentPageNumberSelect}}
        <Pagination.PageNumberSelect/>
      {{/if}}
      <div class={{this.themeInstance.paginationBlock}}>
        <PaperButton
          aria-label={{this.themeInstance.goToFirstPageButtonTextMsg}}
          class={{concat this.themeInstance.buttonDefault (unless this.goToBackEnabled " disabled")}}
          @onClick={{this.gotoFirst}}
          @disabled={{not this.goToBackEnabled}}
          @iconButton={{true}}>
          <PaperIcon @icon={{this.themeInstance.navFirstIcon}} class={{this.themeInstance.navFirstIcon}}/>
        </PaperButton>
        <PaperButton
          aria-label={{this.themeInstance.goToPrevPageButtonTextMsg}}
          class={{concat this.themeInstance.buttonDefault (unless this.goToBackEnabled " disabled")}}
          @onClick={{this.gotoPrev}}
          @disabled={{not this.goToBackEnabled}}
          @iconButton={{true}}>
          <PaperIcon @icon={{this.themeInstance.navPrevIcon}} class={{this.themeInstance.navPrevIcon}}/>
        </PaperButton>
        <PaperButton
          aria-label={{this.themeInstance.goToNextPageButtonTextMsg}}
          class={{concat this.themeInstance.buttonDefault (unless this.goToForwardEnabled " disabled")}}
          @onClick={{this.gotoNext}}
          @disabled={{not this.goToForwardEnabled}}
          @iconButton={{true}}>
          <PaperIcon @icon={{this.themeInstance.navNextIcon}} class={{this.themeInstance.navNextIcon}}/>
        </PaperButton>
        <PaperButton
          aria-label={{this.themeInstance.goToLastPageButtonTextMsg}}
          class={{concat this.themeInstance.buttonDefault (unless this.goToForwardEnabled " disabled")}}
          @onClick={{this.gotoLast}}
          @disabled={{not this.goToForwardEnabled}}
          @iconButton={{true}}>
          <PaperIcon @icon={{this.themeInstance.navLastIcon}} class={{this.themeInstance.navLastIcon}}/>
        </PaperButton>
      </div>
    </div>
  {{/if}}
{{/let}}