{{#let
  (hash
    PageNumberSelect=(
      component themeInstance.selectComponent
      id=inputId
      options=currentPageNumberOptions
      label=themeInstance.currentPageNumberMsg
      value=currentPageNumber
      type="number"
      themeInstance=themeInstance
    )
    goToPage=goToPage
    goToFirst=(action "gotoFirst")
    goToPrev=(action "gotoPrev")
    goToNext=(action "gotoNext")
    goToLast=(action "gotoLast")
    goToBackEnabled=goToBackEnabled
    goToForwardEnabled=goToForwardEnabled
  )
as |Pagination|}}
  {{#if (has-block)}}
    {{yield Pagination}}
  {{else}}
    <div class={{themeInstance.paginationInternalWrapper}}>
      {{#if showCurrentPageNumberSelect}}
        <Pagination.PageNumberSelect/>
      {{/if}}
      <div class={{themeInstance.paginationBlock}}>
        <PaperButton
          aria-label={{themeInstance.goToFirstPageButtonTextMsg}}
          class={{concat themeInstance.buttonDefault (unless goToBackEnabled " disabled")}}
          @onClick={{action "gotoFirst"}}
          @disabled={{not goToBackEnabled}}
          @iconButton={{true}}>
          {{paper-icon themeInstance.navFirstIcon class=themeInstance.navFirstIcon}}
        </PaperButton>
        <PaperButton
          aria-label={{themeInstance.goToPrevPageButtonTextMsg}}
          class={{concat themeInstance.buttonDefault (unless goToBackEnabled " disabled")}}
          @onClick={{action "gotoPrev"}}
          @disabled={{not goToBackEnabled}}
          @iconButton={{true}}>
          {{paper-icon themeInstance.navPrevIcon class=themeInstance.navPrevIcon}}
        </PaperButton>
        <PaperButton
          aria-label={{themeInstance.goToNextPageButtonTextMsg}}
          class={{concat themeInstance.buttonDefault (unless goToForwardEnabled " disabled")}}
          @onClick={{action "gotoNext"}}
          @disabled={{not goToForwardEnabled}}
          @iconButton={{true}}>
          {{paper-icon themeInstance.navNextIcon class=themeInstance.navNextIcon}}
        </PaperButton>
        <PaperButton
          aria-label={{themeInstance.goToLastPageButtonTextMsg}}
          class={{concat themeInstance.buttonDefault (unless goToForwardEnabled " disabled")}}
          @onClick={{action "gotoLast"}}
          @disabled={{not goToForwardEnabled}}
          @iconButton={{true}}>
          {{paper-icon themeInstance.navLastIcon class=themeInstance.navLastIcon}}
        </PaperButton>
      </div>
    </div>
  {{/if}}
{{/let}}