{{#let
  (hash
    PageNumberSelect=(
      component this.themeInstance.selectComponent
      id=this.inputId
      label=this.themeInstance.currentPageNumberMsg
      options=this.currentPageNumberOptions
      value=this.currentPageNumber
      type="number"
      themeInstance=this.themeInstance)
    visiblePageNumbers=this.visiblePageNumbers) as |Pagination|}}
  {{#if (has-block)}}
    {{yield Pagination}}
  {{else}}
    <div class={{this.themeInstance.paginationInternalWrapper}}>
      {{#if this.showCurrentPageNumberSelect}}
        <Pagination.PageNumberSelect/>&nbsp;
      {{/if}}
      <div class={{this.themeInstance.paginationBlock}}>
        {{#each this.visiblePageNumbers as |page|}}
          {{#if page.isLink}}
            <PaperButton
              class={{this.themeInstance.buttonDefault}}
              @onClick={{fn this.gotoCustomPage page.label}}>
              {{page.label}}
            </PaperButton>
          {{else}}
            <PaperButton
              class={{this.themeInstance.buttonDefault}}
              @disabled={{true}}>
              {{page.label}}
            </PaperButton>
          {{/if}}
        {{/each}}
      </div>
    </div>
  {{/if}}
{{/let}}