{{#if this.column.componentForFilterCell}}
  {{#let
    (component
      this.column.componentForFilterCell
      column=this.column
      data=this.data
      selectedItems=this.selectedItems
      expandedItems=this.expandedItems
      themeInstance=this.themeInstance
      expandAllRows=this.expandAllRows
      collapseAllRows=this.collapseAllRows
      toggleAllSelection=this.toggleAllSelection)
  as |CellContent|
  }}
    {{#if (has-block)}}
      {{yield CellContent}}
    {{else}}
      <CellContent/>
    {{/if}}
  {{/let}}
{{else}}
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    {{#if this.column.useFilter}}
      <div class={{this.themeInstance.filteringCellInternalWrapper}}>
        {{#if this.column.filterWithSelect}}
          {{component
            this.themeInstance.selectComponent
            options=this.column.filterOptions
            label=this.column.title
            placeholder=this.column.filterPlaceholder
            cssPropertyName=this.column.cssPropertyName
            value=this.column.filterString
            themeInstance=this.themeInstance
            class=(concat this.themeInstance.input " changeFilterForColumn")
            expandAllRows=this.expandAllRows
            collapseAllRows=this.collapseAllRows
          }}
        {{else}}
          <PaperInput
            class={{this.themeInstance.input}}
            @label={{this.column.title}}
            @placeholder={{this.column.filterPlaceholder}}
            @value={{this.column.filterString}}
            @onChange={{fn (mut this.column.filterString)}}/>
        {{/if}}
        {{#if this.column.filterUsed}}
          <PaperButton
            aria-label={{this.themeInstance.clearFilterMsg}}
            class="clearFilterIcon {{this.themeInstance.clearFilterIcon}}"
            @iconButton={{true}}
            @onClick={{fn this.clearFilter}}>
            <PaperIcon @icon="clear"/>
          </PaperButton>
        {{/if}}
      </div>
    {{/if}}
  {{/if}}
{{/if}}