{{#if (has-block)}}
  {{yield
    (hash
      column=column
      selectedItems=selectedItems
      expandedItems=expandedItems
      themeInstance=themeInstance
      expandAllRows=expandAllRows
      collapseAllRows=collapseAllRows
      toggleAllSelection=toggleAllSelection
    )}}
{{else}}
  {{#if column.componentForFilterCell}}
    {{#let
      (component
        column.componentForFilterCell
        column=column
        selectedItems=selectedItems
        expandedItems=expandedItems
        themeInstance=themeInstance
        expandAllRows=expandAllRows
        collapseAllRows=collapseAllRows
        toggleAllSelection=toggleAllSelection
    ) as |FilterCellContent|}}
      <FilterCellContent/>
    {{/let}}
  {{else}}
    {{#if column.useFilter}}
      <div class={{themeInstance.filtering-cell-internal-wrapper}}>
        {{#if column.filterWithSelect}}
          {{#let
            (component
              themeInstance.components.select
              options=column.filterOptions
              label=column.title
              placeholder=column.filterPlaceholder
              cssPropertyName=column.cssPropertyName
              value=column.filterString
              themeInstance=themeInstance
              class=(concat themeInstance.input " changeFilterForColumn")
              expandAllRows=expandAllRows
              collapseAllRows=collapseAllRows)
            as |DefaultSelect|}}
            <DefaultSelect/>
          {{/let}}
        {{else}}
          {{paper-input
            class=themeInstance.input
            label=column.title
            placeholder=column.filterPlaceholder
            value=column.filterString
            onChange=(action (mut column.filterString))}}
        {{/if}}
        {{#if column.filterUsed}}
          <PaperButton
            aria-label={{themeInstance.messages.clearFilter}}
            class="clearFilterIcon {{themeInstance.clearFilterIcon}}"
            @iconButton={{true}}
            @onClick={{action (mut column.filterString) ""}}>
            {{paper-icon "clear"}}
          </PaperButton>
        {{/if}}
      </div>
    {{/if}}
  {{/if}}
{{/if}}