<PaperSelect
  @label={{this.label}}
  @options={{this.options}}
  @selected={{this.value}}
  @disabled={{this.disabled}}
  @placeholder={{this.placeholder}}
  @onChange={{this.updateValue}}
as |opt|>
  {{#if (includes "value" (keys opt))}}
    <span aria-valuetext={{opt.value}}>{{opt.label}}</span>
  {{else}}
    {{opt}}
  {{/if}}
</PaperSelect>
{{yield}}