{{#if (has-block)}}
  {{yield
    (hash
      summary=summary
    )}}
{{else}}
  {{summary}}
  <PaperButton
    class="clearFilters"
    @disabled={{unless anyFilterUsed "disabled"}}
    @onClick={{action "doClearFilters"}}>
    {{#paper-icon themeInstance.clearAllFiltersIcon}}
      <span class="emt-sr-only">{{themeInstance.clearAllFiltersMsg}}</span>
    {{/paper-icon}}
  </PaperButton>
{{/if}}
