{{#if (has-block)}}
  {{yield
    (hash
      summary=this.summary
    )
  }}
{{else}}
  {{this.summary}}
  <PaperButton
    class="clearFilters"
    @disabled={{unless this.anyFilterUsed "disabled"}}
    @onClick={{fn this.doClearFilters}}>
    <PaperIcon @icon={{this.themeInstance.clearAllFiltersIcon}}>
      <span class="emt-sr-only">{{this.themeInstance.clearAllFiltersMsg}}</span>
    </PaperIcon>
  </PaperButton>
{{/if}}
