{{!-- template-lint-disable no-invalid-interactive  --}}
<div {{on "click" this.onClick}}>
  {{#if @isEditRow}}
    <button
      class="{{@themeInstance.buttonDefault}} {{@themeInstance.cancelRowButton}}"
      type="button"
      {{on "click" this.cancelClicked}}>
      {{@themeInstance.cancelRowButtonLabelMsg}}
    </button>
    <button
      class="{{@themeInstance.buttonDefault}} {{@themeInstance.saveRowButton}}"
      type="button"
      {{on "click" this.saveClicked}}>
      {{@themeInstance.saveRowButtonLabelMsg}}
    </button>
  {{else}}
    <button
      class="{{@themeInstance.buttonDefault}} {{@themeInstance.editRowButton}}"
      type="button"
      {{on "click" this.editClicked}}>
      {{@themeInstance.editRowButtonLabelMsg}}
    </button>
  {{/if}}
  {{yield}}
</div>