<button
  class="{{@themeInstance.buttonLink}} {{@themeInstance.expandAllRows}}"
  type="button"
  {{on "click" this.doExpandAllRows}}>
  <i class={{@themeInstance.expandAllRowsIcon}}></i>
</button>
<br>
<button
  class="{{@themeInstance.buttonLink}} {{@themeInstance.collapseAllRows}}"
  type="button"
  {{on "click" this.doCollapseAllRows}}>
  <i class={{@themeInstance.collapseAllRowsIcon}}></i>
</button>
{{yield}}