<button
  class="{{@themeInstance.buttonLink}} {{@themeInstance.expandAllRows}}"
  type="button"
  {{on "click" this.doExpandAllRows}}
>
  {{#let
    (component
      (ensure-safe-component @themeInstance.expandAllRowsIconComponent)
      themeInstance=@themeInstance
    )
    as |ExpandAllRowsIcon|
  }}<ExpandAllRowsIcon />{{/let}}
</button>
<br />
<button
  class="{{@themeInstance.buttonLink}} {{@themeInstance.collapseAllRows}}"
  type="button"
  {{on "click" this.doCollapseAllRows}}
>
  {{#let
    (component
      (ensure-safe-component @themeInstance.collapseAllRowsIconComponent)
      themeInstance=@themeInstance
    )
    as |CollapseAllRowsIcon|
  }}<CollapseAllRowsIcon />{{/let}}
</button>
{{yield}}