<div class="{{@themeInstance.pageSizeWrapper}}">
  {{#let (unique-id) as |pageSizeSelectId|}}
    {{#let
      (hash
        Select=(
          component (ensure-safe-component @themeInstance.selectComponent)
          id=pageSizeSelectId
          options=@pageSizeOptions
          value=@pageSize
          type=@type
          themeInstance=@themeInstance
          cssPropertyName="changePageSize"
          changeValue=@changePageSize
        )
      )
    as |PageSizeSelect|
    }}
      {{#if (has-block)}}
        {{yield PageSizeSelect}}
      {{else}}
        <form class={{@themeInstance.form}}>
          <div class={{@themeInstance.formElementWrapper}}>
            <label for={{pageSizeSelectId}}>{{@themeInstance.rowsCountMsg}}</label>
            <PageSizeSelect.Select/>
          </div>
        </form>
      {{/if}}
    {{/let}}
  {{/let}}
</div>