{{#if (has-block)}}
  {{yield}}
{{else}}
  <button
    type="button"
    class="{{@themeInstance.buttonDefault}}"
    {{on "click" this.doToggleGroupedRows}}
    ...attributes
  >
    {{@groupedValue}}
  </button>
{{/if}}