<th class="{{@themeInstance.theadCell}} {{@column.className}} {{this.filteringClassName}}" colspan="{{@column.realColspanForFilterCell}}">
  {{#if @column.componentForFilterCell}}
    {{#let
      (
        component
          @column.componentForFilterCell
          column=@column
          data=@data
          selectedItems=@selectedItems
          expandedItems=@expandedItems
          themeInstance=@themeInstance
          expandAllRows=@expandAllRows
          collapseAllRows=@collapseAllRows
          toggleAllSelection=@toggleAllSelection
          changeColumnFilter=@updateColumnFilterString
      )
    as |CellContent|
    }}
      {{#if (has-block)}}
        {{yield CellContent}}
      {{else}}
        <CellContent/>
      {{/if}}
    {{/let}}
  {{else}}
    {{#if (has-block)}}
      {{yield}}
    {{else}}
      {{#if @column.useFilter}}
        <div
          class={{concat
            @themeInstance.formElementWrapper
            (if @column.filterUsed " has-feedback")
          }}>
          <label for={{this.inputId}} class="emt-sr-only">{{@column.columnTitle}}</label>
          {{#if @column.filterWithSelect}}
            {{component
              @themeInstance.selectComponent
              id=this.inputId
              options=@column.filterOptions
              cssPropertyName=@column.cssPropertyName
              value=@column.filterString
              themeInstance=@themeInstance
              class=(concat @themeInstance.input " changeFilterForColumn")
              changeValue=this.updateColumnFilterString
            }}
          {{else}}
            <Input
              id={{this.inputId}}
              @type="text"
              @value={{@column.filterString}}
              class={{@themeInstance.input}}
              @enter={{this.noop}}
              {{on "input" this.updateColumnFilterString}}
              placeholder={{@column.filterPlaceholder}}/>
          {{/if}}
          {{#if @column.filterUsed}}
            <i
              role="button"
              class="clearFilterIcon {{@themeInstance.clearFilterIcon}}"
              {{on "click" this.clearFilter}}>
            </i>
          {{/if}}
        </div>
      {{else}}
        &nbsp;
      {{/if}}
    {{/if}}
  {{/if}}
</th>