<div class="{{@themeInstance.footerSummary}} {{this.paginationTypeClass}}">
  {{#if (has-block)}}
    {{yield
      (hash
        summary=this.summary
      )
    }}
  {{else}}
    <form class={{@themeInstance.form}}>
      <div class={{@themeInstance.formElementWrapper}}>
        <label for={{this.inputId}}>
          {{this.summary}}
          <a
            href="#"
            type="button"
            class={{concat "clearFilters " (unless @anyFilterUsed "hidden")}}
            {{on "click" this.doClearFilters}}>
            <i class={{@themeInstance.clearAllFiltersIcon}}></i>
            <span class="emt-sr-only">{{@themeInstance.clearAllFiltersMsg}}</span>
          </a>
        </label>
        {{! just a small hack to align label vertically }}
        <input id={{this.inputId}} class={{concat @themeInstance.input " invisible"}}>
      </div>
    </form>
  {{/if}}
</div>