<div class="{{@themeInstance.columnsDropdownWrapper}}" ...attributes>
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    <this.BSDropdown
      @closeOnMenuClick={{false}}
      class={{@themeInstance.columnsDropdownWrapper}}
      as |Dropdown|>
      <Dropdown.button class={{@themeInstance.buttonDefault}}>
        {{@themeInstance.columnsTitleMsg}}
        <span class={{@themeInstance.caretIcon}}></span>
      </Dropdown.button>
      <Dropdown.menu
        @align="right"
        as |Menu|>
        {{#if @columnDropdownOptions.showAll}}
          <Menu.item>
            <a
              href="#"
              class="dropdown-item"
              {{on "click" this.doShowAllColumns}}>
              {{@themeInstance.columnsShowAllMsg}}
            </a>
          </Menu.item>
        {{/if}}
        {{#if @columnDropdownOptions.hideAll}}
          <Menu.item>
            <a
              href="#"
              class="dropdown-item"
              {{on "click" this.doHideAllColumns}}>
              {{@themeInstance.columnsHideAllMsg}}
            </a>
          </Menu.item>
        {{/if}}
        {{#if @columnDropdownOptions.restoreDefaults}}
          <Menu.item>
            <a
              href="#"
              class="dropdown-item"
              {{on "click" this.doRestoreDefaultVisibility}}>
              {{@themeInstance.columnsRestoreDefaultsMsg}}
            </a>
          </Menu.item>
        {{/if}}
        {{#each @columnDropdownOptions.columnSets as |columnSet|}}
          <Menu.item>
            <a
              href="#"
              class="dropdown-item"
              {{on "click" (fn this.doToggleColumnSet columnSet)}}>
              {{columnSet.label}}
            </a>
          </Menu.item>
        {{/each}}
        <Menu.divider/>
        {{#each @processedColumns as |column|}}
          {{#if column.mayBeHidden}}
            <Menu.item>
              <a
                href="#"
                class="dropdown-item"
                {{on "click" (fn this.doToggleHidden column)}}>
                <i
                  class={{if column.isVisible @themeInstance.columnVisibleIcon @themeInstance.columnHiddenIcon}}>
                </i>
                {{column.columnTitle}}
              </a>
            </Menu.item>
          {{/if}}
        {{/each}}
      </Dropdown.menu>
    </this.BSDropdown>
  {{/if}}
</div>