<div class="{{@themeInstance.globalFilterWrapper}}" ...attributes>
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    <div class="globalSearch {{@themeInstance.inputGroup}}">
      {{#if @themeInstance.searchLabelMsg}}
          <label for={{this.inputId}} class="input-group-text">{{@themeInstance.searchLabelMsg}}</label>
      {{/if}}
      <Input
        id={{this.inputId}}
        @type="text"
        @value={{@value}}
        class="filterString {{@themeInstance.input}}"
        {{on "enter" this.noop}}
        {{on "input" this.updateGlobalFilterString}}
        placeholder={{@themeInstance.searchPlaceholderMsg}}/>
        <this.BsButton
          class="clearFilterIcon {{@themeInstance.buttonLink}}"
          disabled={{unless @globalFilterUsed "disabled"}}
          @outline={{true}}
          @onClick={{this.clearGlobalFilter}}>
          <i class={{@themeInstance.clearFilterIcon}}></i>
          <span class="emt-sr-only">{{@themeInstance.clearGlobalFilterMsg}}</span>
        </this.BsButton>
    </div>
  {{/if}}
</div>