<div class="{{@themeInstance.pageSizeWrapper}}" ...attributes>
  {{#let
    (hash
      Select=(
        component (ensure-safe-component @themeInstance.selectComponent)
        id=this.inputId
        options=@pageSizeOptions
        value=@pageSize
        type=@type
        themeInstance=@themeInstance
        cssPropertyName="changePageSize"
        changeValue=@changePageSize
      )
    )
  as |PageSizeSelect|
  }}
    {{#if (has-block)}}
      {{yield PageSizeSelect}}
    {{else}}
      <this.BSForm class="pull-left">
        <div class="input-group">
          <label for={{this.inputId}} class="input-group-text">{{@themeInstance.rowsCountMsg}}</label>
          <PageSizeSelect.Select/>
        </div>
      </this.BSForm>
    {{/if}}
  {{/let}}
</div>