<div class="{{@themeInstance.footerSummary}} {{this.paginationTypeClass}}" ...attributes>
  {{#if (has-block)}}
    {{yield
      (hash
        summary=this.summary
      )
    }}
  {{else}}
    <div class="input-group">
      <label class="input-group-text">{{this.summary}}</label>
      <this.BsButton
        class="clearFilters {{@themeInstance.buttonLink}}"
        disabled={{unless @anyFilterUsed "disabled"}}
        @outline={{true}}
        @onClick={{this.doClearFilters}}>
        <i class={{@themeInstance.clearAllFiltersIcon}}></i>
        <span class="emt-sr-only">{{@themeInstance.clearAllFiltersMsg}}</span>
      </this.BsButton>
    </div>
  {{/if}}
</div>