{{#if column.componentForFilterCell}}
  {{#let
    (component
      column.componentForFilterCell
      column=column
      data=data
      selectedItems=selectedItems
      expandedItems=expandedItems
      themeInstance=themeInstance
      expandAllRows=expandAllRows
      collapseAllRows=collapseAllRows
      toggleAllSelection=toggleAllSelection)
  as |CellContent|}}
    {{#if (has-block)}}
      {{yield CellContent}}
    {{else}}
      <CellContent/>
    {{/if}}
  {{/let}}
{{else}}
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    <div class="ui form">
      {{#if column.useFilter}}
        {{#if column.filterWithSelect}}
          <label for={{inputId}} class="ui label emt-sr-only">{{column.title}}</label>
          {{#let
            (component
              themeInstance.selectComponent
              id=inputId
              class=(concat themeInstance.input " changeFilterForColumn field")
              options=column.filterOptions
              cssPropertyName=column.cssPropertyName
              value=column.filterString
              clearable=true
              wide=true
              themeInstance=themeInstance
              expandAllRows=expandAllRows
              collapseAllRows=collapseAllRows
            ) as |DefaultSelect|}}
            <DefaultSelect/>
          {{/let}}
        {{else}}
          <div class="ui icon input">
            <label for={{inputId}} class="ui label emt-sr-only">{{column.title}}</label>
            {{input
              id=inputId
              type="text"
              value=column.filterString
              class=themeInstance.input
              enter=(action "noop")
              placeholder=column.filterPlaceholder}}
            {{#if column.filterUsed}}
              <i
                class="clearFilterIcon {{themeInstance.clearFilterIcon}}"
                role="button"
                aria-label={{themeInstance.clearFilterMsg}}
                onclick={{action (mut column.filterString) ""}}>
              </i>
            {{/if}}
          </div>
        {{/if}}
      {{/if}}
    </div>
  {{/if}}
{{/if}}