{{#if (has-block)}}
  {{yield
    (hash
      column=column
      selectedItems=selectedItems
      expandedItems=expandedItems
      themeInstance=themeInstance
      expandAllRows=expandAllRows
      collapseAllRows=collapseAllRows
      toggleAllSelection=toggleAllSelection
    )}}
{{else}}
  <div class="ui form">
    {{#if column.componentForFilterCell}}
      {{#with
        (component
          column.componentForFilterCell
          column=column
          selectedItems=selectedItems
          expandedItems=expandedItems
          themeInstance=themeInstance
          expandAllRows=expandAllRows
          collapseAllRows=collapseAllRows
          toggleAllSelection=toggleAllSelection
        ) as |FilterCellContent|}}
        <FilterCellContent/>
      {{/with}}
    {{else}}
      {{#if column.useFilter}}
        {{#if column.filterWithSelect}}
          <label for={{inputId}} class="ui label emt-sr-only">{{column.title}}</label>
          {{#with
            (component
              themeInstance.components.select
              id=inputId
              class=(concat themeInstance.input " changeFilterForColumn field")
              options=column.filterOptions
              cssPropertyName=column.cssPropertyName
              value=column.filterString
              clearable=true
              wide=true
              themeInstance=themeInstance
              expandAllRows=expandAllRows
              collapseAllRows=collapseAllRows
            ) as |DefaultSelect|}}
            <DefaultSelect/>
          {{/with}}
        {{else}}
          <div class="ui icon input">
            <label for={{inputId}} class="ui label emt-sr-only">{{column.title}}</label>
            {{input
              id=inputId
              type="text"
              value=column.filterString
              class=themeInstance.input
              enter=(action "noop")
              placeholder=column.filterPlaceholder}}
            {{#if column.filterUsed}}
              <i
                class="clearFilterIcon {{themeInstance.clearFilterIcon}}"
                role="button"
                aria-label={{themeInstance.messages.clearFilter}}
                onclick={{action (mut column.filterString) ""}}>
              </i>
            {{/if}}
          </div>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
{{/if}}