{{#if hasBlock}}
  {{yield
    (hash
      column=column
      selectedItems=selectedItems
      expandedItems=expandedItems
      sendAction=sendAction
      themeInstance=themeInstance
      expandAllRows=expandAllRows
      collapseAllRows=collapseAllRows
      toggleAllSelection=toggleAllSelection
    )}}
{{else}}
  <div class="ui form">
    {{#if column.componentForFilterCell}}
      {{component
        column.componentForFilterCell
        column=column
        selectedItems=selectedItems
        expandedItems=expandedItems
        sendAction=sendAction
        themeInstance=themeInstance
        expandAllRows=expandAllRows
        collapseAllRows=collapseAllRows
        toggleAllSelection=toggleAllSelection}}
    {{else}}
      {{#if column.useFilter}}
        {{#if column.filterWithSelect}}
          <label for={{inputId}} class="ui label emt-sr-only">{{column.title}}</label>
          {{component
            themeInstance.components.select
            id=inputId
            options=column.filterOptions
            cssPropertyName=column.cssPropertyName
            value=column.filterString
            sendAction=sendAction
            clearable=true
            wide=true
            themeInstance=themeInstance
            class=(concat themeInstance.input " changeFilterForColumn field")
            expandAllRows=expandAllRows
            collapseAllRows=collapseAllRows}}
        {{else}}
          <div class="ui icon input">
            <label for={{inputId}} class="ui label emt-sr-only">{{column.title}}</label>
            {{input
              id=inputId
              type="text"
              value=column.filterString
              class=themeInstance.input
              enter=(action "noop")
              placeholder=column.filterPlaceholder}}
            {{#if column.filterUsed}}
              <i
                class="clearFilterIcon {{themeInstance.clearFilterIcon}}"
                role="button"
                aria-label={{themeInstance.messages.clearFilter}}
                onclick={{action (mut column.filterString) ""}}>
              </i>
            {{/if}}
          </div>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
{{/if}}