{{#if this.column.componentForFilterCell}}
  {{#let
    (component
      this.column.componentForFilterCell
      column=this.column
      data=this.data
      selectedItems=this.selectedItems
      expandedItems=this.expandedItems
      themeInstance=this.themeInstance
      expandAllRows=this.expandAllRows
      collapseAllRows=this.collapseAllRows
      toggleAllSelection=this.toggleAllSelection)
  as |CellContent|}}
    {{#if (has-block)}}
      {{yield CellContent}}
    {{else}}
      <CellContent/>
    {{/if}}
  {{/let}}
{{else}}
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    <div class="ui form">
      {{#if this.column.useFilter}}
        {{#if this.column.filterWithSelect}}
          <label for={{this.inputId}} class="ui label emt-sr-only">{{this.column.title}}</label>
          {{#let
            (component
              this.themeInstance.selectComponent
              id=this.inputId
              class=(concat this.themeInstance.input " changeFilterForColumn field")
              options=this.column.filterOptions
              cssPropertyName=this.column.cssPropertyName
              value=this.column.filterString
              clearable=true
              wide=true
              themeInstance=this.themeInstance
              expandAllRows=this.expandAllRows
              collapseAllRows=this.collapseAllRows
            ) as |DefaultSelect|}}
            <DefaultSelect/>
          {{/let}}
        {{else}}
          <div class="ui icon input">
            <label for={{this.inputId}} class="ui label emt-sr-only">{{this.column.title}}</label>
            <Input
              id={{this.inputId}}
              type="text"
              @value={{this.column.filterString}}
              class={{this.themeInstance.input}}
              @enter={{this.noop}}
              placeholder={{this.column.filterPlaceholder}}/>
            {{#if this.column.filterUsed}}
              <i
                class="clearFilterIcon {{this.themeInstance.clearFilterIcon}}"
                role="button"
                aria-label={{this.themeInstance.clearFilterMsg}}
                onclick={{fn (mut this.column.filterString) ""}}>
              </i>
            {{/if}}
          </div>
        {{/if}}
      {{/if}}
    </div>
  {{/if}}
{{/if}}