<UiDropdown
  class={{concat "selection " (unless @wide "compact") (unless @options.length " disabled")}}
  @selected={{@value}}
  @placeholder={{@column.filterPlaceholder}}
  @onChange={{this.updateValue}}
as |execute mapper|>
  <i class="dropdown icon"></i>
  <div class="default text"></div>
  <div class="menu">
    {{#each @options as |opt|}}
      <div
        data-id={{stringify opt.value}}
        data-value={{map-value mapper opt.value}}
        class="item">
        {{opt.label}}
      </div>
    {{/each}}
  </div>
  {{#if (and (not-eq @value "") @clearable)}}
    <i
      role="button"
      class="clearFilterIcon {{this.themeInstance.clearFilterIcon}}"
      onclick={{fn (mut @value) ""}}>
    </i>
  {{/if}}
</UiDropdown>

{{yield}}