<UiDropdown
  class={{concat "selection " (unless this.wide "compact") (unless this.options.length " disabled")}}
  @selected={{this.value}}
  @placeholder={{this.column.filterPlaceholder}}
  @onChange={{this.updateValue}}
as |execute mapper|>
  <i class="dropdown icon"></i>
  <div class="default text"></div>
  <div class="menu">
    {{#each this.options as |opt|}}
      <div
        data-id={{stringify opt.value}}
        data-value={{map-value mapper opt.value}}
        class="item">
        {{opt.label}}
      </div>
    {{/each}}
  </div>
  {{#if (and (not-eq this.value "") this.clearable)}}
    <i
      role="button"
      class="clearFilterIcon {{this.themeInstance.clearFilterIcon}}"
      onclick={{fn (mut this.value) ""}}>
    </i>
  {{/if}}
</UiDropdown>

{{yield}}