{{#if hasBlock}}
  {{yield
    (hash
      themeInstance=themeInstance
    )}}
{{else}}
  <div class={{themeInstance.globalFilterWrapper}}>
    {{#bs-form
      formLayout="inline"
      class="globalSearch"
      model=this
      onSubmit=(action "noop")
    as |form|}}
      {{form.element
        label=themeInstance.messages.searchLabel
        placeholder=themeInstance.messages.searchPlaceholder
        class="filterString"
        property="value"
        type="text"}}
      {{#bs-button
        class=(concat "clearFilterIcon " themeInstance.buttonLink)
        disabled=(unless globalFilterUsed "disabled")
        type="bytton"
        onClick=(action (mut value) "")
        buttonType="link"}}
          <i class={{themeInstance.clearFilterIcon}}></i>
        {{/bs-button}}
    {{/bs-form}}
  </div>
{{/if}}