{{#if (has-block)}}
  {{yield}}
{{else}}
  <div class={{concat "dropdown right " this.themeInstance.columnsDropdownWrapper}}>
    <button
      type="button"
      class={{concat "dropdown-toggle " this.themeInstance.buttonDefault}}>
      {{this.themeInstance.columnsTitleMsg}} <span class={{this.themeInstance.caretIcon}}></span>
    </button>
    <div class="dropdown-menu">
      {{#if this.columnDropdownOptions.showAll}}
        <a
          href="#"
          onclick={{fn this.doShowAllColumns}}>
          {{this.themeInstance.columnsShowAllMsg}}
        </a>
      {{/if}}
      {{#if this.columnDropdownOptions.hideAll}}
        <a
          href="#"
          onclick={{fn this.doHideAllColumns}}>
          {{this.themeInstance.columnsHideAllMsg}}
        </a>
      {{/if}}
      {{#if this.columnDropdownOptions.restoreDefaults}}
        <a
          href="#"
          onclick={{fn this.doRestoreDefaultVisibility}}>
          {{this.themeInstance.columnsRestoreDefaultsMsg}}
        </a>
      {{/if}}
      {{#each this.columnDropdownOptions.columnSets as |columnSet|}}
        <a
          href="#"
          onclick={{fn this.doToggleColumnSet columnSet}}>
          {{columnSet.label}}
        </a>
      {{/each}}
      <div class="dropdown-divider"></div>
      {{#each this.processedColumns as |column|}}
        {{#if column.mayBeHidden}}
          <a
            href="#"
            onclick={{fn this.doToggleHidden column}}>
            <i class={{if column.isVisible this.themeInstance.columnVisibleIcon this.themeInstance.columnHiddenIcon}}></i>
            {{column.title}}
          </a>
        {{/if}}
      {{/each}}
    </div>
  </div>
{{/if}}
