{{#if (has-block)}}
  {{yield}}
{{else}}
  <div class="globalSearch">
    {{#if this.themeInstance.searchLabelMsg}}
      <label for={{this.inputId}}>{{this.themeInstance.searchLabelMsg}}</label>
    {{/if}}
    <Input
      id={{this.inputId}}
      class={{concat this.themeInstance.input " filterString"}}
      @value={{this.value}}
      @placeholder={{this.themeInstance.searchPlaceholderMsg}}
      @oninput={{this.updateGlobalFilterString}}/>
    <button
      type="button"
      class="clearFilterIcon"
      disabled={{unless this.globalFilterUsed "disabled"}}
      onClick={{fn this.clearGlobalFilter}}>
      <i class={{this.themeInstance.clearFilterIcon}}></i>
      <span class="emt-sr-only">{{this.themeInstance.clearGlobalFilterMsg}}</span>
    </button>
  </div>
{{/if}}