{{#if this.column.componentForFilterCell}}
  {{#let
    (component
      this.column.componentForFilterCell
      column=this.column
      data=this.data
      selectedItems=this.selectedItems
      expandedItems=this.expandedItems
      themeInstance=this.themeInstance
      expandAllRows=this.expandAllRows
      collapseAllRows=this.collapseAllRows
      toggleAllSelection=this.toggleAllSelection)
  as |CellContent|
  }}
    {{#if (has-block)}}
      {{yield CellContent}}
    {{else}}
      <CellContent/>
    {{/if}}
  {{/let}}
{{else}}
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    {{#if this.column.useFilter}}
      <div class="filter-wrapper">
        <label for={{this.inputId}} class="emt-sr-only">{{this.column.title}}</label>
        {{#if this.column.filterWithSelect}}
          {{component
            this.themeInstance.selectComponent
            id=this.inputId
            options=this.column.filterOptions
            cssPropertyName=this.column.cssPropertyName
            value=this.column.filterString
            themeInstance=this.themeInstance
            class=(concat this.themeInstance.input " changeFilterForColumn")
            expandAllRows=this.expandAllRows
            collapseAllRows=this.collapseAllRows
          }}
        {{else}}
          <Input
            id={{this.inputId}}
            @name=""
            @value={{this.column.filterString}}
            @placeholder={{this.column.filterPlaceholder}}
            onclick={{this.noop}}
            @oninput={{this.updateColumnFilterString}}/>
        {{/if}}
        <button
          type="button"
          class="clearFilterIcon"
          disabled={{unless this.column.filterUsed "disabled"}}
          onClick={{fn this.clearFilter}}>
          <i class={{this.themeInstance.clearFilterIcon}}></i>
          <span class="emt-sr-only">{{this.themeInstance.clearFilterMsg}}</span>
        </button>
      </div>
    {{else}}
      &nbsp;
    {{/if}}
  {{/if}}
{{/if}}