{{!-- template-lint-disable no-invalid-interactive  --}}
<div {{on "click" this.onClick}}>
  {{#if this.isEditRow}}
    <this.PaperButton
      class="{{@themeInstance.buttonDefault}} {{@themeInstance.cancelRowButton}}"
      @raised={{true}}
      @onClick={{this.cancelClicked}}>
      {{this.cancelButtonLabel}}
    </this.PaperButton>
    <this.PaperButton
      class="{{@themeInstance.buttonDefault}} {{@themeInstance.saveRowButton}}"
      @raised={{true}}
      @onClick={{this.saveClicked}}>
      {{this.saveButtonLabel}}
    </this.PaperButton>
  {{else}}
    <this.PaperButton
      class="{{@themeInstance.buttonDefault}} {{@themeInstance.editRowButton}}"
      @raised={{true}}
      @onClick={{this.editClicked}}>
      {{this.editButtonLabel}}
    </this.PaperButton>
  {{/if}}
  {{yield}}
</div>