<div class="{{@themeInstance.dataGroupBySelectWrapper}}">
  {{#let
    (hash
      Select=(
        component @themeInstance.selectComponent
        options=@options
        value=@value
        label=@themeInstance.groupByLabelMsg
        themeInstance=@themeInstance
        cssPropertyName=@themeInstance.changeGroupByField
        changeValue=this.doChangeGroupingPropertyName
      )
      sort=this.doSort
    )
  as |DataGroupBySelect|
  }}
    {{#if (has-block)}}
      {{yield DataGroupBySelect}}
    {{else}}
      <div class="layout-row">
        <DataGroupBySelect.Select/>
        <PaperButton
          @class={{@themeInstance.sortGroupedPropertyBtn}}
          @raised={{true}}
          @mini={{true}}
          @iconButton={{true}}
          @onClick={{this.doSort}}>
          <PaperIcon
            @icon={{if
              (is-equal "asc" @sortByGroupedFieldDirection)
              @themeInstance.sortAscIcon
              @themeInstance.sortDescIcon
            }}/>
        </PaperButton>
      </div>
    {{/if}}
  {{/let}}
</div>