<div class="globalSearch {{@themeInstance.globalFilterWrapper}}">
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    <this.PaperInput
      class={{concat @themeInstance.input " filterString"}}
      @label={{@themeInstance.searchLabelMsg}}
      @placeholder={{@themeInstance.searchPlaceholderMsg}}
      @value={{@value}}
      @onChange={{this.updateGlobalFilterString}}/>
    {{#if @globalFilterUsed}}
      <this.PaperButton
        class={{concat "clearFilterIcon " @themeInstance.clearFilterIcon}}
        @onClick={{this.clearGlobalFilter}}
        @iconButton={{true}}>
        <this.PaperIcon @icon="close"/>
      </this.PaperButton>
    {{/if}}
  {{/if}}
</div>