<div class="globalSearch {{@themeInstance.globalFilterWrapper}}">
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    <PaperInput
      class={{concat @themeInstance.input " filterString"}}
      @label={{@themeInstance.searchLabelMsg}}
      @placeholder={{@themeInstance.searchPlaceholderMsg}}
      @value={{this.value}}
      @onChange={{fn this.updateGlobalFilterString}}/>
    {{#if this.globalFilterUsed}}
      <PaperButton
        class={{concat "clearFilterIcon " @themeInstance.clearFilterIcon}}
        @onClick={{fn this.clearGlobalFilter}}
        @iconButton={{true}}>
        {{paper-icon "close"}}
      </PaperButton>
    {{/if}}
  {{/if}}
</div>