<div class="globalSearch {{@themeInstance.globalFilterWrapper}}" ...attributes>
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    <this.PaperInput
      class="filterString {{@themeInstance.input}}"
      @label={{@themeInstance.searchLabelMsg}}
      @placeholder={{@themeInstance.searchPlaceholderMsg}}
      @value={{@value}}
      @onChange={{this.updateGlobalFilterString}}/>
    {{#if @globalFilterUsed}}
      <this.PaperButton
        class="clearFilterIcon {{@themeInstance.clearFilterIcon}}"
        @onClick={{this.clearGlobalFilter}}
        @iconButton={{true}}>
        <this.PaperIcon @icon="close"/>
      </this.PaperButton>
    {{/if}}
  {{/if}}
</div>