<div class="{{@themeInstance.paginationWrapper}} {{@themeInstance.paginationWrapperDefault}}" ...attributes>
  {{#let
    (hash
      PageNumberSelect=(
        component (ensure-safe-component @themeInstance.selectComponent)
        id=this.inputId
        options=@currentPageNumberOptions
        label=@themeInstance.currentPageNumberMsg
        value=@currentPageNumber
        type="number"
        themeInstance=@themeInstance
        changeValue=this.goToPage
      )
      goToPage=this.goToPage
      goToFirst=this.gotoFirst
      goToPrev=this.gotoPrev
      goToNext=this.gotoNext
      goToLast=this.gotoLast
      goToBackEnabled=this.goToBackEnabled
      goToForwardEnabled=this.goToForwardEnabled
    )
  as |Pagination|
  }}
    {{#if (has-block)}}
      {{yield Pagination}}
    {{else}}
      <div class={{@themeInstance.paginationInternalWrapper}}>
        {{#if @showCurrentPageNumberSelect}}
          <Pagination.PageNumberSelect/>&nbsp;
        {{/if}}
        <div class={{@themeInstance.paginationBlock}}>
          <this.PaperButton
            aria-label={{@themeInstance.goToFirstPageButtonTextMsg}}
            class="{{@themeInstance.buttonDefault}} {{unless this.goToBackEnabled "disabled"}}"
            @onClick={{this.gotoFirst}}
            @disabled={{not this.goToBackEnabled}}
            @iconButton={{true}}>
            <this.PaperIcon @icon={{@themeInstance.navFirstIcon}} class={{@themeInstance.navFirstIcon}}/>
          </this.PaperButton>
          <this.PaperButton
            aria-label={{@themeInstance.goToPrevPageButtonTextMsg}}
            class="{{@themeInstance.buttonDefault}} {{unless this.goToBackEnabled "disabled"}}"
            @onClick={{this.gotoPrev}}
            @disabled={{not this.goToBackEnabled}}
            @iconButton={{true}}>
            <this.PaperIcon @icon={{@themeInstance.navPrevIcon}} class={{@themeInstance.navPrevIcon}}/>
          </this.PaperButton>
          <this.PaperButton
            aria-label={{@themeInstance.goToNextPageButtonTextMsg}}
            class="{{@themeInstance.buttonDefault}} {{unless this.goToForwardEnabled "disabled"}}"
            @onClick={{this.gotoNext}}
            @disabled={{not this.goToForwardEnabled}}
            @iconButton={{true}}>
            <this.PaperIcon @icon={{@themeInstance.navNextIcon}} class={{@themeInstance.navNextIcon}}/>
          </this.PaperButton>
          <this.PaperButton
            aria-label={{@themeInstance.goToLastPageButtonTextMsg}}
            class="{{@themeInstance.buttonDefault}} {{unless this.goToForwardEnabled "disabled"}}"
            @onClick={{this.gotoLast}}
            @disabled={{not this.goToForwardEnabled}}
            @iconButton={{true}}>
            <this.PaperIcon @icon={{@themeInstance.navLastIcon}} class={{@themeInstance.navLastIcon}}/>
          </this.PaperButton>
        </div>
      </div>
    {{/if}}
  {{/let}}
</div>