<th class="{{@themeInstance.theadCell}} {{@column.className}} {{this.filteringClassName}}" colspan="{{@column.realColspanForFilterCell}}">
  {{#if @column.componentForFilterCell}}
    {{#let
      (
        component
        (ensure-safe-component @column.componentForFilterCell)
        column=@column
        data=@data
        selectedItems=@selectedItems
        expandedItems=@expandedItems
        themeInstance=@themeInstance
        expandAllRows=@expandAllRows
        collapseAllRows=@collapseAllRows
        toggleAllSelection=@toggleAllSelection
        changeColumnFilter=this.updateColumnFilter
        clearColumnFilter=this.clearColumnFilter
      )
    as |CellContent|
    }}
      {{#if (has-block)}}
        {{yield CellContent}}
      {{else}}
        <CellContent/>
      {{/if}}
    {{/let}}
  {{else}}
    {{#if (has-block)}}
      {{yield
        (hash
          changeColumnFilter=this.updateColumnFilter
          clearColumnFilter=this.clearColumnFilter
        )
      }}
    {{else}}
      {{#if @column.useFilter}}
        <div class={{@themeInstance.filteringCellInternalWrapper}}>
          {{#if @column.filterWithSelect}}
            {{#let (component (ensure-safe-component @themeInstance.selectComponent)) as |Select|}}
              <Select
                @id={{this.inputId}}
                @options={{@column.filterOptions}}
                @cssPropertyName={{@column.cssPropertyName}}
                @value={{@column.filterString}}
                @themeInstance={{@themeInstance}}
                @changeValue={{this.updateColumnFilter}}
                class="changeFilterForColumn"
              />
            {{/let}}
          {{else}}
            <this.PaperInput
              class={{@themeInstance.input}}
              @label={{@column.columnTitle}}
              @placeholder={{@column.filterPlaceholder}}
              @value={{@column.filterString}}
              @onChange={{this.updateColumnFilter}}/>
          {{/if}}
          {{#if @column.filterUsed}}
            <this.PaperButton
              aria-label={{@themeInstance.clearFilterMsg}}
              class="clearFilterIcon {{@themeInstance.clearFilterIcon}}"
              @iconButton={{true}}
              @onClick={{this.clearColumnFilter}}>
              <this.PaperIcon @icon="clear"/>
            </this.PaperButton>
          {{/if}}
        </div>
      {{/if}}
    {{/if}}
  {{/if}}
</th>
