<this.PaperSelect
  id={{this.id}}
  @label={{@label}}
  @options={{@options}}
  @selected={{@value}}
  @disabled={{this.disabled}}
  @placeholder={{@placeholder}}
  @onChange={{this.updateValue}}
  class="{{@themeInstance.input}} {{@themeInstance.select}} {{@cssPropertyName}}"
as |opt|>
  {{#if (includes "value" (keys opt))}}
    <span aria-valuetext={{opt.value}}>{{opt.label}}</span>
  {{else}}
    {{opt}}
  {{/if}}
</this.PaperSelect>
{{yield}}