<div class="{{@themeInstance.footerSummary}} {{this.paginationTypeClass}}" ...attributes>
  {{#if (has-block)}}
    {{yield
      (hash
        summary=this.summary
      )
    }}
  {{else}}
    {{this.summary}}
    <this.PaperButton
      class="clearFilters"
      @disabled={{unless @anyFilterUsed "disabled"}}
      @onClick={{this.doClearFilters}}>
      <this.PaperIcon @icon={{@themeInstance.clearAllFiltersIcon}}>
        <span class="emt-sr-only">{{@themeInstance.clearAllFiltersMsg}}</span>
      </this.PaperIcon>
    </this.PaperButton>
  {{/if}}
</div>