<div class="code-block-example">
  {{#let (get-code-snippet @snippetName) as |snippet|}}
    <h4>{{@snippetName}}</h4>
    <button
      onclick={{this.toggleCodeVisibility}}
      type="button"
      class={{this.fw.themeInstance.buttonDefault}}>
      {{#if this.opened}}Hide{{else}}Show{{/if}} code
    </button>
    {{#if this.opened}}
      <CodeBlock
        class="code-block"
        @code={{snippet.source}}
        @language={{snippet.language}}/>
    {{/if}}
  {{/let}}
  {{yield}}
</div>