<p>
  <Input
    @type="checkbox"
    @name="showComponentFooter"
    @checked={{this.showComponentFooter}}/> Show Footer (<code>showComponentFooter</code>)
</p>
<p>
  <Input
    @type="checkbox"
    @name="showColumnsDropdown"
    @checked={{this.showColumnsDropdown}}/> Show Columns Dropdown (<code>showColumnsDropdown</code>)
</p>
<p>
  <Input
    @type="checkbox"
    @name="useFilteringByColumns"
    @checked={{this.useFilteringByColumns}}/> Use filtering by columns (<code>useFilteringByColumns</code>)
</p>
<p>
  <Input
    @type="checkbox"
    @name="showGlobalFilter"
    @checked={{this.showGlobalFilter}}/> Show global filter (<code>showGlobalFilter</code>)
</p>
<p>
  <Input
    @type="checkbox"
    @name="useNumericPagination"
    @checked={{this.useNumericPagination}}/> Use numeric pagination (<code>useNumericPagination</code>)
</p>
<p>
  <Input
    @type="checkbox"
    @name="showPageSize"
    @checked={{this.showPageSize}}/> Show page size select-box (<code>showPageSize</code>)
</p>
<p>Used only for first table:</p>
<p>
  <Input
    @type="checkbox"
    @name="filteringIgnoreCase"
    @checked={{this.filteringIgnoreCase}}/> Do filtering ignore case (<code>filteringIgnoreCase</code>)
</p>
<p>
  <Input
    @type="checkbox"
    @name="multipleColumnsSorting"
    @checked={{this.multipleColumnsSorting}}/> Do sorting by multiple columns (<code>multipleColumnsSorting</code>)
</p>
<p>
  <Input
    @type="checkbox"
    @name="doFilteringByHiddenColumns"
    @checked={{this.doFilteringByHiddenColumns}}/> Do filtering by hidden columns (<code>doFilteringByHiddenColumns</code>)
</p>
<p>
  <Input
    @type="checkbox"
    @name="showCurrentPageNumberSelect"
    @checked={{this.showCurrentPageNumberSelect}}/> Show dropdown for current page number (<code>showCurrentPageNumberSelect</code>)
</p>
<p class="form-inline">
  <Input
    @class="form-control"
    @name="collapseNumPaginationForPagesCount"
    @value={{this.collapseNumPaginationForPagesCount}}/>
  Collapse numeric pagination if pages count is greater (<code>collapseNumPaginationForPagesCount</code>)
</p>
{{yield}}