<p>
  <PaperCheckbox
    @value={{@showComponentFooter}}
    @onChange={{fn (mut @showComponentFooter)}}>
    "Show Footer (<code>showComponentFooter</code>)"
  </PaperCheckbox>
</p>
<p>
  <PaperCheckbox
    @value={{@showColumnsDropdown}}
    @onChange={{fn (mut @showColumnsDropdown)}}>
    "Show Columns Dropdown (<code>showColumnsDropdown</code>)"
  </PaperCheckbox>
</p>
<p>
  <PaperCheckbox
    @value={{@useFilteringByColumns}}
    @onChange={{fn (mut @useFilteringByColumns)}}>
    "Use filtering by columns (<code>useFilteringByColumns</code>)"
  </PaperCheckbox>
</p>
<p>
  <PaperCheckbox
    @value={{@showGlobalFilter}}
    @onChange={{fn (mut @showGlobalFilter)}}>
    Show global filter (<code>showGlobalFilter</code>)"
  </PaperCheckbox>
</p>
<p>
  <PaperCheckbox
    @value={{@useNumericPagination}}
    @onChange={{fn (mut @useNumericPagination)}}>
    Use numeric pagination (<code>useNumericPagination</code>)"
  </PaperCheckbox>
</p>
<p>
  <PaperCheckbox
    @value={{@showPageSize}}
    @onChange={{fn (mut @showPageSize)}}>
    "Show page size select-box (<code>showPageSize</code>)"
  </PaperCheckbox>
</p>
<p>Used only for first table:</p>
<p>
  <PaperCheckbox
    @value={{@filteringIgnoreCase}}
    @onChange={{fn (mut @filteringIgnoreCase)}}>
    "Do filtering ignore case (<code>filteringIgnoreCase</code>)"
  </PaperCheckbox>
</p>
<p>
  <PaperCheckbox
    @value={{@multipleColumnsSorting}}
    @onChange={{fn (mut @multipleColumnsSorting)}}>
    "Do sorting by multiple columns (<code>multipleColumnsSorting</code>)"
  </PaperCheckbox>
</p>
<p>
  <PaperCheckbox
    @value={{@doFilteringByHiddenColumns}}
    @onChange={{fn (mut @doFilteringByHiddenColumns)}}>
    "Do filtering by hidden columns (<code>doFilteringByHiddenColumns</code>)"
  </PaperCheckbox>
</p>
<p>
  <PaperCheckbox
    @value={{@showCurrentPageNumberSelect}}
    @onChange={{fn (mut @showCurrentPageNumberSelect)}}>
    "Show dropdown for current page number (<code>showCurrentPageNumberSelect</code>)"
  </PaperCheckbox>
</p>
<p>
  <PaperCheckbox
    @value={{@collapseNumPaginationForPagesCount}}
    @onChange={{fn (mut @collapseNumPaginationForPagesCount)}}>
    "Collapse numeric pagination if pages count is greater (<code>collapseNumPaginationForPagesCount</code>)"
  </PaperCheckbox>
</p>
{{yield}}