<p>
  <UiCheckbox
    @label={{html-safe "Show Footer (<code>showComponentFooter</code>)"}}
    @checked={{this.showComponentFooter}}
    @onChange={{fn (mut this.showComponentFooter)}}/>
</p>
<p>
  <UiCheckbox
    @label={{html-safe "Show Columns Dropdown (<code>showColumnsDropdown</code>)"}}
    @checked={{this.showColumnsDropdown}}
    @onChange={{fn (mut this.showColumnsDropdown)}}/>
</p>
<p>
  <UiCheckbox
    @label={{html-safe "Use filtering by columns (<code>useFilteringByColumns</code>)"}}
    @checked={{this.useFilteringByColumns}}
    @onChange={{fn (mut this.useFilteringByColumns)}}/>
</p>
<p>
  <UiCheckbox
    @label={{html-safe "Show global filter (<code>showGlobalFilter</code>)"}}
    @checked={{this.showGlobalFilter}}
    @onChange={{fn (mut this.showGlobalFilter)}}/>
</p>
<p>
  <UiCheckbox
    @label={{html-safe "Use numeric pagination (<code>useNumericPagination</code>)"}}
    @checked={{this.useNumericPagination}}
    @onChange={{fn (mut this.useNumericPagination)}}/>
</p>
<p>
  <UiCheckbox
    @label={{html-safe "Show page size select-box (<code>showPageSize</code>)"}}
    @checked={{this.showPageSize}}
    @onChange={{fn (mut this.showPageSize)}}/>
</p>
<p>Used only for first table:</p>
<p>
  <UiCheckbox
    @label={{html-safe "Do filtering ignore case (<code>filteringIgnoreCase</code>)"}}
    @checked={{this.filteringIgnoreCase}}
    @onChange={{fn (mut this.filteringIgnoreCase)}}/>
</p>
<p>
  <UiCheckbox
    @label={{html-safe "Do sorting by multiple columns (<code>multipleColumnsSorting</code>)"}}
    @checked={{this.multipleColumnsSorting}}
    @onChange={{fn (mut this.multipleColumnsSorting)}}/>
</p>
<p>
  <UiCheckbox
    @label={{html-safe "Do filtering by hidden columns (<code>doFilteringByHiddenColumns</code>)"}}
    @checked={{this.doFilteringByHiddenColumns}}
    @onChange={{fn (mut this.doFilteringByHiddenColumns)}}/>
</p>
<p>
  <UiCheckbox
    @label={{html-safe "Show dropdown for current page number (<code>showCurrentPageNumberSelect</code>)"}}
    @checked={{this.showCurrentPageNumberSelect}}
    @onChange={{fn (mut this.showCurrentPageNumberSelect)}}/>
</p>
<p>
  <UiCheckbox
    @label={{html-safe "Collapse numeric pagination if pages count is greater (<code>collapseNumPaginationForPagesCount</code>)"}}
    @checked={{this.collapseNumPaginationForPagesCount}}
    @onChange={{fn (mut this.collapseNumPaginationForPagesCount)}}/>
</p>
{{yield}}