<p>
  <UiCheckbox
    @label={{html-safe "Show Footer (<code>showComponentFooter</code>)"}}
    @checked={{@showComponentFooter}}
    @onChange={{fn (mut @showComponentFooter)}}/>
</p>
<p>
  <UiCheckbox
    @label={{html-safe "Show Columns Dropdown (<code>showColumnsDropdown</code>)"}}
    @checked={{@showColumnsDropdown}}
    @onChange={{fn (mut @showColumnsDropdown)}}/>
</p>
<p>
  <UiCheckbox
    @label={{html-safe "Use filtering by columns (<code>useFilteringByColumns</code>)"}}
    @checked={{@useFilteringByColumns}}
    @onChange={{fn (mut @useFilteringByColumns)}}/>
</p>
<p>
  <UiCheckbox
    @label={{html-safe "Show global filter (<code>showGlobalFilter</code>)"}}
    @checked={{@showGlobalFilter}}
    @onChange={{fn (mut @showGlobalFilter)}}/>
</p>
<p>
  <UiCheckbox
    @label={{html-safe "Use numeric pagination (<code>useNumericPagination</code>)"}}
    @checked={{@useNumericPagination}}
    @onChange={{fn (mut @useNumericPagination)}}/>
</p>
<p>
  <UiCheckbox
    @label={{html-safe "Show page size select-box (<code>showPageSize</code>)"}}
    @checked={{@showPageSize}}
    @onChange={{fn (mut @showPageSize)}}/>
</p>
<p>Used only for first table:</p>
<p>
  <UiCheckbox
    @label={{html-safe "Do filtering ignore case (<code>filteringIgnoreCase</code>)"}}
    @checked={{@filteringIgnoreCase}}
    @onChange={{fn (mut @filteringIgnoreCase)}}/>
</p>
<p>
  <UiCheckbox
    @label={{html-safe "Do sorting by multiple columns (<code>multipleColumnsSorting</code>)"}}
    @checked={{@multipleColumnsSorting}}
    @onChange={{fn (mut @multipleColumnsSorting)}}/>
</p>
<p>
  <UiCheckbox
    @label={{html-safe "Do filtering by hidden columns (<code>doFilteringByHiddenColumns</code>)"}}
    @checked={{@doFilteringByHiddenColumns}}
    @onChange={{fn (mut @doFilteringByHiddenColumns)}}/>
</p>
<p>
  <UiCheckbox
    @label={{html-safe "Show dropdown for current page number (<code>showCurrentPageNumberSelect</code>)"}}
    @checked={{@showCurrentPageNumberSelect}}
    @onChange={{fn (mut @showCurrentPageNumberSelect)}}/>
</p>
<p>
  <UiCheckbox
    @label={{html-safe "Collapse numeric pagination if pages count is greater (<code>collapseNumPaginationForPagesCount</code>)"}}
    @checked={{@collapseNumPaginationForPagesCount}}
    @onChange={{fn (mut @collapseNumPaginationForPagesCount)}}/>
</p>
{{yield}}