<p>
  <PaperCheckbox
    @value={{this.showComponentFooter}}
    @onChange={{fn (mut this.showComponentFooter)}}>
    "Show Footer (<code>showComponentFooter</code>)"
  </PaperCheckbox>
</p>
<p>
  <PaperCheckbox
    @value={{this.showColumnsDropdown}}
    @onChange={{fn (mut this.showColumnsDropdown)}}>
    "Show Columns Dropdown (<code>showColumnsDropdown</code>)"
  </PaperCheckbox>
</p>
<p>
  <PaperCheckbox
    @value={{this.useFilteringByColumns}}
    @onChange={{fn (mut this.useFilteringByColumns)}}>
    "Use filtering by columns (<code>useFilteringByColumns</code>)"
  </PaperCheckbox>
</p>
<p>
  <PaperCheckbox
    @value={{this.showGlobalFilter}}
    @onChange={{fn (mut this.showGlobalFilter)}}>
    Show global filter (<code>showGlobalFilter</code>)"
  </PaperCheckbox>
</p>
<p>
  <PaperCheckbox
    @value={{this.useNumericPagination}}
    @onChange={{fn (mut this.useNumericPagination)}}>
    Use numeric pagination (<code>useNumericPagination</code>)"
  </PaperCheckbox>
</p>
<p>
  <PaperCheckbox
    @value={{this.showPageSize}}
    @onChange={{fn (mut this.showPageSize)}}>
    "Show page size select-box (<code>showPageSize</code>)"
  </PaperCheckbox>
</p>
<p>Used only for first table:</p>
<p>
  <PaperCheckbox
    @value={{this.filteringIgnoreCase}}
    @onChange={{fn (mut this.filteringIgnoreCase)}}>
    "Do filtering ignore case (<code>filteringIgnoreCase</code>)"
  </PaperCheckbox>
</p>
<p>
  <PaperCheckbox
    @value={{this.multipleColumnsSorting}}
    @onChange={{fn (mut this.multipleColumnsSorting)}}>
    "Do sorting by multiple columns (<code>multipleColumnsSorting</code>)"
  </PaperCheckbox>
</p>
<p>
  <PaperCheckbox
    @value={{this.doFilteringByHiddenColumns}}
    @onChange={{fn (mut this.doFilteringByHiddenColumns)}}>
    "Do filtering by hidden columns (<code>doFilteringByHiddenColumns</code>)"
  </PaperCheckbox>
</p>
<p>
  <PaperCheckbox
    @value={{this.showCurrentPageNumberSelect}}
    @onChange={{fn (mut this.showCurrentPageNumberSelect)}}>
    "Show dropdown for current page number (<code>showCurrentPageNumberSelect</code>)"
  </PaperCheckbox>
</p>
<p>
  <PaperCheckbox
    @value={{this.collapseNumPaginationForPagesCount}}
    @onChange={{fn (mut this.collapseNumPaginationForPagesCount)}}>
    "Collapse numeric pagination if pages count is greater (<code>collapseNumPaginationForPagesCount</code>)"
  </PaperCheckbox>
</p>
{{yield}}