{{this.column.originalDefinition.CustomColumString}}|{{this.column.originalDefinition.CustomColumObject.name}}|{{this.column.originalDefinition.CustomColumBool}}|{{this.column.originalDefinition.CustomColumNumber}}

<span
  class="{{if this.column.sortAsc this.themeInstance.sortAscIcon}} {{if this.column.sortDesc this.themeInstance.sortDescIcon}}">
</span>
{{yield}}