<a href="#" onclick={{this.doToggleGroupedRows}}>
  {{@currentGroupingPropertyName}}:
  {{@groupedValue}}
  ({{@visibleGroupedItems.length}}).
  {{if @groupIsCollapsed "collapsed" "expanded"}}
</a>
<button
  type="button"
  class="toggle-selection-group"
  onclick={{this.doToggleGroupedRowsSelection}}>
</button>
<button
  type="button"
  class="toggle-expands-group"
  onclick={{this.doToggleGroupedRowsExpands}}>
</button>
<span class="expanded-count">{{@expandedGroupedItems.length}}</span>
<span class="selected-count">{{@selectedGroupedItems.length}}</span>