<a href="#" {{action "doToggleGroupedRows"}}>
  {{currentGroupingPropertyName}}:
  {{groupedValue}}
  ({{visibleGroupedItems.length}}).
  {{if groupIsCollapsed "collapsed" "expanded"}}
</a>
<button
  class="toggle-selection-group"
  onclick={{action "doToggleGroupedRowsSelection"}}>
</button>
<button
  class="toggle-expands-group"
  onclick={{action "doToggleGroupedRowsExpands"}}>
</button>
<span class="expanded-count">{{expandedGroupedItems.length}}</span>
<span class="selected-count">{{selectedGroupedItems.length}}</span>