{{@column.originalDefinition.CustomColumString}}|{{@column.originalDefinition.CustomColumObject.name}}|{{@column.originalDefinition.CustomColumBool}}|{{@column.originalDefinition.CustomColumNumber}}

<span
  class="{{if @column.sortAsc @themeInstance.sortAscIcon}} {{if @column.sortDesc @themeInstance.sortDescIcon}}">
</span>
{{yield}}