{{column.originalDefinition.CustomColumString}}|{{column.originalDefinition.CustomColumObject.name}}|{{column.originalDefinition.CustomColumBool}}|{{column.originalDefinition.CustomColumNumber}}

<span
  class="{{if column.sortAsc themeInstance.sort-asc}} {{if column.sortDesc themeInstance.sort-desc}}">
</span>
{{yield}}