<a href="#" onclick={{this.doToggleGroupedRows}}>
  {{this.currentGroupingPropertyName}}:
  {{this.groupedValue}}
  ({{this.visibleGroupedItems.length}}).
  {{if this.groupIsCollapsed "collapsed" "expanded"}}
</a>
<button
  type="button"
  class="toggle-selection-group"
  onclick={{this.doToggleGroupedRowsSelection}}>
</button>
<button
  type="button"
  class="toggle-expands-group"
  onclick={{this.doToggleGroupedRowsExpands}}>
</button>
<span class="expanded-count">{{this.expandedGroupedItems.length}}</span>
<span class="selected-count">{{this.selectedGroupedItems.length}}</span>