{{#if isEditRow}}
    <button class="btn btn-default" onclick={{action "cancelClicked"}}>
      {{cancelLabel}}
    </button>
    <button class="btn btn-default" onclick={{action "saveClicked"}}>
      {{saveLabel}}
    </button>
{{else}}
    <button class="btn btn-default" onclick={{action "editClicked"}}>
      {{editLabel}}
    </button>
{{/if}}