{{#if isExpanded}}
  <a
    href="#"
    class={{themeInstance.collapseRow}}
    {{action "doCollapseRow" index record bubbles=false}}>
    <i class={{themeInstance.collapseRowIcon}}></i>
  </a>
{{else}}
  <a
    href="#"
    class={{themeInstance.expandRow}}
    {{action "doExpandRow" index record bubbles=false}}>
    <i class={{themeInstance.expandRowIcon}}></i>
  </a>
{{/if}}
{{yield}}