<a
  href="#"
  class={{themeInstance.expandAllRows}}
  {{action "expandAllRows" bubbles=false}}>
  <i class={{themeInstance.expand-all-rows}}></i>
</a>
<br>
<a
  href="#"
  class={{themeInstance.collapseAllRows}}
  {{action "collapseAllRows" bubbles=false}}>
  <i class={{themeInstance.collapse-all-rows}}></i>
</a>
{{yield}}