<a href="#" {{action "expandAllRows" bubbles=false}} class={{themeInstance.expandAllRows}}><i class="{{themeInstance.expand-all-rows}}"></i></a><br />
<a href="#" {{action "collapseAllRows" bubbles=false}} class={{themeInstance.collapseAllRows}}><i
  class="{{themeInstance.collapse-all-rows}}"></i></a>
{{yield}}