<a
  href="#"
  class={{themeInstance.expandAllRows}}
  {{action "doExpandAllRows" bubbles=false}}>
  <i class={{themeInstance.expandAllRowsIcon}}></i>
</a>
<br>
<a
  href="#"
  class={{themeInstance.collapseAllRows}}
  {{action "doCollapseAllRows" bubbles=false}}>
  <i class={{themeInstance.collapseAllRowsIcon}}></i>
</a>
{{yield}}