{{#if isExpanded}}
  <a
    href="#" {{action "collapseRow" index record bubbles=false}}
    class={{themeInstance.collapseRow}}>
    <i class={{themeInstance.collapse-row}}></i>
  </a>
{{else}}
  <a
    href="#" {{action "expandRow" index record bubbles=false}}
    class={{themeInstance.expandRow}}>
    <i class={{themeInstance.expand-row}}></i>
  </a>
{{/if}}
{{yield}}