<div class={{if this.column.filterUsed "has-feedback"}}>
  <ModelsTable::Select
    @options={{this.filterOptions}}
    @cssPropertyName={{this.column.cssPropertyName}}
    @value={{this.column.filterString}}
    class={{concat this.themeInstance.input " changeFilterForColumn"}}/>
  {{#if this.column.filterUsed}}
    <span
      class="clearFilterIcon {{this.themeInstance.clearFilterIcon}}"
      role="button"
      aria-label={{this.themeInstance.clearFilterMsg}}
      onclick={{fn this.clearFilter}}>
    </span>
  {{/if}}
</div>
{{yield}}
