<div class={{if column.filterUsed "has-feedback"}}>
  {{models-table/select
    options=filterOptions
    cssPropertyName=column.cssPropertyName
    value=column.filterString
    class=(concat classes.input " changeFilterForColumn")}}
  {{#if column.filterUsed}}
    <span
      class="clearFilterIcon {{classes.clearFilterIcon}}"
      role="button"
      aria-label={{themeInstance.clearFilterMsg}}
      onclick={{action (mut column.filterString) ""}}>
    </span>
  {{/if}}
</div>
{{yield}}
