<div>
  <Input
    type="text"
    value={{this.column.filterString}}
    class={{this.themeInstance.input}}
    oninput={{this.updateColumnFilterString}}
    placeholder={{this.column.filterPlaceholder}}/>
  <button
    class="clearFilterIcon {{this.themeInstance.clearFilterIcon}}"
    type="button"
    aria-label={{this.themeInstance.clearFilterMsg}}
    onclick={{fn (mut this.column.filterString) ""}}>
  </button>
</div>
{{yield}}
