<div class={{if column.filterUsed "has-feedback"}}>
  {{input
    type="text"
    value=column.filterString
    class=classes.input
    enter=(action "noop")
    placeholder=column.filterPlaceholder}}
  <span
    class="clearFilterIcon {{classes.clearFilterIcon}}"
    role="button"
    aria-label={{themeInstance.clearFilterMsg}}
    onclick={{action (mut column.filterString) ""}}>
  </span>
</div>
{{yield}}
