<div class={{if @column.filterUsed "has-feedback"}}>
  <ModelsTable::Select
    @options={{this.filterOptions}}
    @cssPropertyName={{@column.cssPropertyName}}
    @value={{@column.filterString}}
    class={{concat this.themeInstance.input " changeFilterForColumn"}}/>
  {{#if @column.filterUsed}}
    <span
      class="clearFilterIcon {{this.themeInstance.clearFilterIcon}}"
      role="button"
      aria-label={{this.themeInstance.clearFilterMsg}}
      onclick={{fn (mut @column.filterString) ""}}>
    </span>
  {{/if}}
</div>
{{yield}}
