<div class={{if @column.filterUsed "has-feedback"}}>
  <ModelsTable::Select
    @options={{this.filterOptions}}
    @cssPropertyName={{@column.cssPropertyName}}
    @value={{@column.filterString}}
    @changeValue={{fn this.onChangeColumnFilter}}
    class={{concat @themeInstance.input " changeFilterForColumn"}}/>
  {{#if @column.filterUsed}}
    <span
      class="clearFilterIcon {{@themeInstance.clearFilterIcon}}"
      type="button"
      aria-label={{@themeInstance.clearFilterMsg}}
      {{on "click" this.clearFilter}}>
    </span>
  {{/if}}
</div>
{{yield}}
