<div class={{if @column.filterUsed "has-feedback"}}>
  <Input
    type="text"
    value={{@column.filterString}}
    class={{this.themeInstance.input}}
    @enter={{this.noop}}
    placeholder={{@column.filterPlaceholder}}/>
  <span
    class="clearFilterIcon {{this.themeInstance.clearFilterIcon}}"
    role="button"
    aria-label={{this.themeInstance.clearFilterMsg}}
    onclick={{fn (mut @column.filterString) ""}}>
  </span>
</div>
{{yield}}
