<div>
  <Input
    type="text"
    value={{@column.filterString}}
    class={{@themeInstance.input}}
    {{on "input" (fn this.updateColumnFilterString)}}
    placeholder={{@column.filterPlaceholder}}/>
  <button
    class="clearFilterIcon {{@themeInstance.clearFilterIcon}}"
    type="button"
    aria-label={{@themeInstance.clearFilterMsg}}
    onclick={{fn this.clearColumnFilterString}}>
  </button>
</div>
{{yield}}
