<div>
  <label for="custom-filter-cell-input" class="emt-sr-only">Custom filter cell input</label>
  <Input
    id="custom-filter-cell-input"
    @type="text"
    @value={{@column.filterString}}
    class={{@themeInstance.input}}
    {{on "input" this.updateColumnFilterString}}
    placeholder={{@column.filterPlaceholder}}/>
  <button
    class="clearFilterIcon {{@themeInstance.clearFilterIcon}}"
    type="button"
    aria-label={{@themeInstance.clearFilterMsg}}
    {{on "click" this.clearColumnFilterString}}>
  </button>
</div>
{{yield}}
