<div class="{{if column.filterUsed "has-feedback"}}">
  {{models-select options=filterOptions cssPropertyName=column.cssPropertyName value=column.filterString class=(concat classes.input " changeFilterForColumn")}}
  {{#if column.filterUsed}}
    <span onclick={{action (mut column.filterString) ""}} class="clearFilterIcon {{classes.clearFilterIcon}} "></span>
  {{/if}}
</div>
{{yield}}
