{{#if fw.isPaper}}
  <PaperCheckbox
    @value={{is-equal selectedItems.length data.length}}
    @onChange={{action "doToggleAllSelection"}} />
{{else}}
{{/if}}
<span {{action "doToggleAllSelection"}}
  class="toggle-all {{if
    (is-equal selectedItems.length data.length)
    themeInstance.selectAllRowsIcon
    themeInstance.deselectAllRowsIcon}}">
</span>
{{yield}}