{{#if fw.isPaper}}
  <PaperCheckbox
    @value={{isSelected}}
    @onChange={{action "doClickOnRow" index record}} />
{{else}}
  <span
    class={{if isSelected themeInstance.selectRowIcon themeInstance.deselectRowIcon}}
    onclick={{action "doClickOnRow" index record}}>
  </span>
{{/if}}
{{yield}}