<div class="{{@themeInstance.columnsDropdownWrapper}}">
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    <div class={{concat "dropdown right " @themeInstance.columnsDropdownWrapper}}>
      <button
        type="button"
        class={{concat "dropdown-toggle " @themeInstance.buttonDefault}}>
        {{@themeInstance.columnsTitleMsg}} <span class={{@themeInstance.caretIcon}}></span>
      </button>
      <div class="dropdown-menu">
        {{#if @columnDropdownOptions.showAll}}
          <a
            href="#"
            {{on "click" this.doShowAllColumns}}>
            {{@themeInstance.columnsShowAllMsg}}
          </a>
        {{/if}}
        {{#if @columnDropdownOptions.hideAll}}
          <a
            href="#"
            {{on "click" this.doHideAllColumns}}>
            {{@themeInstance.columnsHideAllMsg}}
          </a>
        {{/if}}
        {{#if @columnDropdownOptions.restoreDefaults}}
          <a
            href="#"
            {{on "click" this.doRestoreDefaultVisibility}}>
            {{@themeInstance.columnsRestoreDefaultsMsg}}
          </a>
        {{/if}}
        {{#each @columnDropdownOptions.columnSets as |columnSet|}}
          <a
            href="#"
            {{on "click" (fn this.doToggleColumnSet columnSet)}}>
            {{columnSet.label}}
          </a>
        {{/each}}
        <div class="dropdown-divider"></div>
        {{#each @processedColumns as |column|}}
          {{#if column.mayBeHidden}}
            <a
              href="#"
              {{on "click" (fn this.doToggleHidden column)}}>
              <i class={{if column.isVisible @themeInstance.columnVisibleIcon @themeInstance.columnHiddenIcon}}></i>
              {{column.columnTitle}}
            </a>
          {{/if}}
        {{/each}}
      </div>
    </div>
  {{/if}}
</div>