<div class="{{@themeInstance.globalFilterWrapper}}" ...attributes>
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    <div class="globalSearch">
      {{#if @themeInstance.searchLabelMsg}}
        <label for={{this.inputId}}>{{@themeInstance.searchLabelMsg}}</label>
      {{/if}}
      <Input
        id={{this.inputId}}
        class="filterString {{@themeInstance.input}}"
        @value={{@value}}
        placeholder={{@themeInstance.searchPlaceholderMsg}}
        {{on "input" this.updateGlobalFilterString}}/>
      <button
        type="button"
        class="clearFilterIcon"
        disabled={{unless @globalFilterUsed "disabled"}}
        onClick={{this.clearGlobalFilter}}>
        <i class={{@themeInstance.clearFilterIcon}}></i>
        <span class="emt-sr-only">{{@themeInstance.clearGlobalFilterMsg}}</span>
      </button>
    </div>
  {{/if}}
</div>