<th class="{{@themeInstance.theadCell}} {{@column.className}} {{this.filteringClassName}}" colspan="{{@column.realColspanForFilterCell}}">
  {{#if @column.componentForFilterCell}}
    {{#let
      (component
        (ensure-safe-component @column.componentForFilterCell)
        column=@column
        data=@data
        selectedItems=@selectedItems
        expandedItems=@expandedItems
        themeInstance=@themeInstance
        expandAllRows=@expandAllRows
        collapseAllRows=@collapseAllRows
        toggleAllSelection=@toggleAllSelection
        changeColumnFilter=this.updateColumnFilter
        clearColumnFilter=this.clearColumnFilter
      )
    as |CellContent|
    }}
      {{#if (has-block)}}
        {{yield CellContent}}
      {{else}}
        <CellContent/>
      {{/if}}
    {{/let}}
  {{else}}
    {{#if (has-block)}}
      {{yield
        (hash
          changeColumnFilter=this.updateColumnFilter
          clearColumnFilter=this.clearColumnFilter
        )
      }}
    {{else}}
      {{#if @column.useFilter}}
        {{#let (unique-id) as |rowFilteringCellId|}}
          <div class="filter-wrapper">
            <label for={{rowFilteringCellId}} class="emt-sr-only">{{@column.columnTitle}}</label>
            {{#if @column.filterWithSelect}}
              {{component
                (ensure-safe-component @themeInstance.selectComponent)
                id=rowFilteringCellId
                options=@column.filterOptions
                cssPropertyName=@column.cssPropertyName
                value=@column.filterString
                themeInstance=@themeInstance
                class=(concat @themeInstance.input " changeFilterForColumn")
                changeValue=this.updateColumnFilter
              }}
            {{else}}
              <Input
                id={{rowFilteringCellId}}
                @value={{@column.filterString}}
                placeholder={{@column.filterPlaceholder}}
                {{on "input" this.updateColumnFilter}}
                {{on "click" this.noop}}/>
            {{/if}}
            <button
              type="button"
              class="clearFilterIcon"
              disabled={{unless @column.filterUsed "disabled"}}
              {{on "click" this.clearColumnFilter}}>
              <i class={{@themeInstance.clearFilterIcon}}></i>
              <span class="emt-sr-only">{{@themeInstance.clearFilterMsg}}</span>
            </button>
          </div>
        {{/let}}
      {{else}}
        &nbsp;
      {{/if}}
    {{/if}}
  {{/if}}
</th>