<div class="row">
  <div class="col-md-12">
    <h4>{{title}}</h4>
    <p>{{description}}</p>
  </div>
  <div class="col-md-8">
    <p><button class="btn btn-default" {{action "toggleColumn"}}>Toggle "Last Name" column</button></p>
    {{models-table data=model columns=columns columnsAreUpdateable=true}}
  </div>
  <div class="col-md-4">
    <p>Component usage:</p>
      <pre><code class="handlebars">&lbrace;&lbrace;models-table
        data=model
        columns=columns
        columnsAreUpdateable=true &rbrace;&rbrace;</code></pre>
    <p><code>columns</code>:</p>
    <pre><code class="javascript">{{to-string this 'columns'}}</code></pre>
  </div>
</div>