<h4>
  Block usage
  <small>simple table</small>
</h4>

{{! BEGIN-SNIPPET block-usage-simple }}
<ModelsTable
  @data={{this.data}}
  @columns={{this.columns}}
  @multipleExpand={{true}}
  @multipleSelect={{true}} as |MT|>
  <MT.GlobalFilter/>
  <MT.ColumnsDropdown/>
  <MT.Table as |Table|>
    <Table.Header as |Header|>
      <Header.RowSorting as |RowSorting|>
        {{#each MT.visibleProcessedColumns as |column|}}
          <RowSorting.RowSortingCell @column={{column}} />
        {{/each}}
      </Header.RowSorting>
      <Header.RowFiltering as |RowFiltering|>
        {{#each MT.visibleProcessedColumns as |column|}}
          <RowFiltering.RowFilteringCell @column={{column}} />
        {{/each}}
      </Header.RowFiltering>
    </Table.Header>
    <Table.Body as |Body|>
      {{#if MT.allColumnsAreHidden}}
        <Body.ColumnsHidden/>
      {{else}}
        {{#each MT.visibleContent as |record index|}}
          <Body.Row @record={{record}} @index={{index}}/>
          {{#if (includes record MT.expandedItems)}}
            <Body.RowExpand @record={{record}} @index={{index}}>
              Row for Record #{{record.id}} is expanded. Row index is {{index}}
            </Body.RowExpand>
          {{/if}}
        {{else}}
          <Body.NoData/>
        {{/each}}
      {{/if}}
    </Table.Body>
  </MT.Table>
  <MT.Footer as |Footer|>
    <Footer.Summary/>
    <Footer.PageSizeSelect/>
    <Footer.PaginationSimple/>
  </MT.Footer>
</ModelsTable>
{{! END-SNIPPET }}
<CodeBlockExample @snippetName="block-usage-simple.hbs"/>
<h4>
  Block usage
  <small>complex table</small>
</h4>

<p>Check source code to see how components are used with block form</p>

<p><Input @type="checkbox" @name="useDataGrouping" @checked={{this.useDataGrouping}} /> Use Data Grouping</p>
<p><Input @type="checkbox" @name="useNumericPagination" @checked={{this.useNumericPagination}} /> Use Numeric Pagination</p>

{{! BEGIN-SNIPPET block-usage-advanced }}
<ModelsTable
  @data={{this.data}}
  @columns={{this.columnsForSecondTable}}
  @multipleExpand={{true}}
  @multipleSelect={{true}}
  @useDataGrouping={{this.useDataGrouping}}
  @dataGroupProperties={{this.dataGroupProperties}}
  @currentGroupingPropertyName={{this.currentGroupingPropertyName}}
  @useNumericPagination={{this.useNumericPagination}}
  @displayGroupedValueAs="column"
  @pageSize={{25}} as |MT|>
  <MT.GlobalFilter>
    <Input @value={{MT.globalFilter}} />
    <button type="button" disabled={{unless MT.globalFilterUsed "disabled"}} onclick={{fn (mut MT.globalFilter) ""}}>&times;</button>
  </MT.GlobalFilter>
  {{#if MT.useDataGrouping}}
    <MT.DataGroupBySelect as |DGBS|>
      <span>&nbsp;Group By:</span>
      <ModelsTable::Select
        @value={{MT.currentGroupingPropertyName}}
        @options={{MT.dataGroupOptions}}/>
      <button type="button" onclick={{DGBS.sort}}>
        {{#if (is-equal MT.sortByGroupedFieldDirection "asc")}}
          &uarr;
        {{else}}
          &darr;
        {{/if}}
      </button>
    </MT.DataGroupBySelect>
  {{/if}}
  <MT.ColumnsDropdown>
    <button type="button" onclick={{MT.showAllColumns}}>Show All</button>
    <button type="button" onclick={{MT.hideAllColumns}}>Hide All</button>
    <button type="button" onclick={{MT.restoreDefaultVisibility}}>Restore defaults</button>
    {{#each MT.processedColumns as |column|}}
      {{#if column.mayBeHidden}}
        <button type="button" onclick={{fn MT.toggleColumnVisibility column}}>
          {{#if column.isVisible}}
            &#9745;
          {{else}}
            &#9744;
          {{/if}}
          {{column.title}}
        </button>
      {{/if}}
    {{/each}}
  </MT.ColumnsDropdown>
  <MT.Table as |Table|>
    <Table.Header as |Header|>
      <Header.RowSorting as |RowSorting|>
        {{#if RowSorting.shouldAddExtraColumn}}
          <th></th>
        {{/if}}
        <th>
          <Header.SelectAllRowsCheckbox />
        </th>
        {{#each MT.visibleProcessedColumns as |column|}}
          <RowSorting.RowSortingCell @column={{column}} />
        {{/each}}
      </Header.RowSorting>
      <Header.RowFiltering as |RowFiltering|>
        {{#if RowFiltering.shouldAddExtraColumn}}
          <th></th>
        {{/if}}
        <th>
          <Header.ExpandAllRowsToggleCheckbox/>
        </th>
        {{#each MT.visibleProcessedColumns as |column|}}
          <RowFiltering.RowFilteringCell @column={{column}} as |RowFilteringCell|>
            {{#if column.componentForFilterCell}}
              <RowFilteringCell/>
            {{else}}
              {{#if column.useFilter}}
                <div class="filter-wrapper">
                  {{#if column.filterWithSelect}}
                    <ModelsTable::Select
                      @type="number"
                      @value={{column.filterString}}
                      @options={{column.filterOptions}}/>
                  {{else}}
                    <Input @value={{column.filterString}}/>
                  {{/if}}
                  <button type="button" disabled={{unless column.filterUsed "disabled"}} onclick={{fn (mut column.filterString) ""}}>&times;</button>
                </div>
              {{/if}}
            {{/if}}
          </RowFiltering.RowFilteringCell>
        {{/each}}
      </Header.RowFiltering>
    </Table.Header>
    <Table.Body as |Body|>
      {{#if MT.allColumnsAreHidden}}
        <Body.ColumnsHidden/>
      {{else}}
        {{#if MT.useDataGrouping}}
          {{#each MT.groupedVisibleContentValuesOrder as |groupedValue groupedIndex|}}
            {{#let (filter-by MT.currentGroupingPropertyName groupedValue MT.groupedArrangedContent) as |groupedItems|}}
              {{#let (object-at groupedIndex MT.groupedVisibleContent) as |visibleGroupedItems|}}
                {{#let
                  (component Body.RowGrouping
                    groupedValue=groupedValue
                    groupedLength=groupedItems.length
                    groupedItems=groupedItems
                    visibleGroupedItems=visibleGroupedItems
                  )
                as |RowGrouping|
                }}
                  {{#if (is-equal MT.displayGroupedValueAs "row")}}
                    <RowGrouping
                      @groupIsCollapsed={{includes groupedValue MT.collapsedGroupValues}}
                      @additionalColspan={{1}}/>
                  {{/if}}
                  {{#if (includes groupedValue MT.collapsedGroupValues)}}
                    {{#if (is-equal MT.displayGroupedValueAs "column")}}
                      <RowGrouping
                        @groupIsCollapsed={{true}}
                        @additionalColspan={{1}}/>
                    {{/if}}
                  {{else}}
                    {{#each visibleGroupedItems as |record index|}}
                      <Body.Row
                        @record={{record}}
                        @index={{index}}
                        @groupedValue={{groupedValue}}
                        @visibleGroupedItems={{visibleGroupedItems}} as |Row|>
                        {{#if Row.shouldShowGroupToggleCell}}
                          <td
                            rowspan={{Row.rowspanForFirstCell}}
                            class={{MT.themeInstance.groupingCell}}>
                            <Row.RowGroupToggle
                              @groupedValue={{groupedValue}}
                              @groupIsCollapsed={{includes groupedValue MT.collapsedGroupValues}} />
                          </td>
                        {{/if}}
                        <td>
                          <Row.RowSelectCheckbox @index={{index}} />
                          <Row.ExpandToggle @index={{index}} />
                        </td>
                        {{#each MT.visibleProcessedColumns as |column|}}
                          <Row.Cell @column={{column}} @index={{index}} />
                        {{/each}}
                      </Body.Row>
                      {{#if (includes record MT.expandedItems)}}
                        <Body.RowExpand @record={{record}} @index={{index}} @additionalColspan={{1}}>
                          Row for Record #{{record.id}} is expanded. Row index is {{index}}
                        </Body.RowExpand>
                      {{/if}}
                    {{/each}}
                  {{/if}}
                {{/let}}
              {{/let}}
            {{/let}}
          {{/each}}
        {{else}}
          {{#each MT.visibleContent as |record index|}}
            <Body.Row @record={{record}} @index={{index}} as |Row|>
              <td>
                <Row.RowSelectCheckbox @index={{index}} />
                <Row.ExpandToggle @index={{index}} />
              </td>
              {{#each MT.visibleProcessedColumns as |column|}}
                <Row.Cell @column={{column}} @index={{index}} />
              {{/each}}
            </Body.Row>
            {{#if (includes record MT.expandedItems)}}
              <Body.RowExpand @record={{record}} @index={{index}} @additionalColspan={{1}}>
                Row for Record #{{record.id}} is expanded. Row index is {{index}}
              </Body.RowExpand>
            {{/if}}
          {{else}}
            <Body.NoData/>
          {{/each}}
        {{/if}}
      {{/if}}
    </Table.Body>
    <Table.Footer as |Footer|>
      <tr>
        <td colspan={{if Footer.shouldAddExtraColumn (inc (inc MT.visibleProcessedColumns.length)) (inc MT.visibleProcessedColumns.length)}}>
          Some custom summary for table can be shown in the <code>tfoot</code>
        </td>
      </tr>
    </Table.Footer>
  </MT.Table>
  <div class={{MT.themeInstance.tfooterInternalWrapper}}>
    <MT.Summary>
      Show: {{MT.firstIndex}} - {{MT.lastIndex}} of {{MT.recordsCount}}
      <button type="button" disabled={{unless MT.anyFilterUsed "disabled"}} onclick={{MT.clearFilters}}>&times;</button>
    </MT.Summary>
    <div class={{MT.themeInstance.pageSizeWrapper}}>
      Rows:
      <ModelsTable::Select
        @type="number"
        @value={{MT.pageSize}}
        @options={{MT.pageSizeOptions}}/>
    </div>
    {{#if this.useNumericPagination}}
      <MT.PaginationNumeric as |Pagination|>
        <div class={{MT.themeInstance.currentPageSizeSelectWrapper}}>
          {{#each Pagination.visiblePageNumbers as |page|}}
            {{#if page.isLink}}
              <button type="button" onclick={{fn MT.goToPage page.label}}>
                {{page.label}}
              </button>
            {{else}}
              <button type="button" disabled="disabled">
                {{page.label}}
              </button>
            {{/if}}
          {{/each}}
        </div>
        <div class={{MT.themeInstance.currentPageSizeSelectWrapper}}>
          <ModelsTable::Select
            @type="number"
            @value={{MT.currentPageNumber}}
            @options={{MT.currentPageNumberOptions}}/>
        </div>
      </MT.PaginationNumeric>
    {{else}}
      <MT.PaginationSimple as |Pagination|>
        <div class={{MT.themeInstance.currentPageSizeSelectWrapper}}>
          <button type="button" disabled={{unless Pagination.goToBackEnabled "disabled"}} onclick={{Pagination.goToFirst}}>
            &lt;&lt;
          </button>
          <button type="button" disabled={{unless Pagination.goToBackEnabled "disabled"}} onclick={{Pagination.goToPrev}}>
            &lt;
          </button>
          <button type="button" disabled={{unless Pagination.goToForwardEnabled "disabled"}} onclick={{Pagination.goToNext}}>
            &gt;
          </button>
          <button type="button" disabled={{unless Pagination.goToForwardEnabled "disabled"}} onclick={{Pagination.goToLast}}>
            &gt;&gt;
          </button>
        </div>
        <div class={{MT.themeInstance.currentPageSizeSelectWrapper}}>
          <ModelsTable::Select
            @type="number"
            @value={{MT.currentPageNumber}}
            @options={{MT.currentPageNumberOptions}}/>
        </div>
      </MT.PaginationSimple>
    {{/if}}
  </div>
</ModelsTable>
{{! END-SNIPPET }}

<CodeBlockExample @snippetName="block-usage-advanced.hbs"/>