<h4>
  Block usage
  <small>simple table</small>
</h4>

{{! BEGIN-SNIPPET block-usage-simple }}
<ModelsTable
  @data={{this.data}}
  @columns={{this.columns}}
  @themeInstance={{this.fw.themeInstance}}
  @multipleExpand={{true}}
  @multipleSelect={{true}}
  as |MT|
>
  <MT.GlobalFilter />
  <MT.ColumnsDropdown />
  <MT.Table as |Table|>
    <Table.Header as |Header|>
      <Header.RowSorting as |RowSorting|>
        {{#each MT.visibleProcessedColumns as |column|}}
          <RowSorting.RowSortingCell @column={{column}} />
        {{/each}}
      </Header.RowSorting>
      <Header.RowFiltering as |RowFiltering|>
        {{#each MT.visibleProcessedColumns as |column|}}
          <RowFiltering.RowFilteringCell @column={{column}} />
        {{/each}}
      </Header.RowFiltering>
    </Table.Header>
    <Table.Body as |Body|>
      {{#if MT.allColumnsAreHidden}}
        <Body.ColumnsHidden />
      {{else}}
        {{#each MT.visibleContent as |record index|}}
          <Body.Row @record={{record}} @index={{index}} />
          {{#if (includes record MT.expandedItems)}}
            <Body.RowExpand @record={{record}} @index={{index}}>
              Row for Record #{{record.id}}
              is expanded. Row index is
              {{index}}
            </Body.RowExpand>
          {{/if}}
        {{else}}
          <Body.NoData />
        {{/each}}
      {{/if}}
    </Table.Body>
  </MT.Table>
  <MT.Footer as |Footer|>
    <Footer.Summary />
    <Footer.PageSizeSelect />
    <Footer.PaginationSimple />
  </MT.Footer>
</ModelsTable>
{{! END-SNIPPET }}
<CodeBlockExample @snippetName="block-usage-simple.hbs" />
<h4>
  Block usage
  <small>complex table</small>
</h4>