<h4>
  Common table
  <small>simple table</small>
</h4>

<p>This options are applied for both tables:</p>
<p>
  {{input
    type="checkbox"
    name="showComponentFooter"
    checked=showComponentFooter}} Show Footer (<code>showComponentFooter</code>)
</p>
<p>
  {{input
    type="checkbox"
    name="showColumnsDropdown"
    checked=showColumnsDropdown}} Show Columns Dropdown (<code>showColumnsDropdown</code>)
</p>
<p>
  {{input
    type="checkbox"
    name="useFilteringByColumns"
    checked=useFilteringByColumns}} Use filtering by columns (<code>useFilteringByColumns</code>)
</p>
<p>
  {{input
    type="checkbox"
    name="showGlobalFilter"
    checked=showGlobalFilter}} Show global filter (<code>showGlobalFilter</code>)
</p>
<p>
  {{input
    type="checkbox"
    name="useNumericPagination"
    checked=useNumericPagination}} Use numeric pagination (<code>useNumericPagination</code>)
</p>
<p>
  {{input
    type="checkbox"
    name="showPageSize"
    checked=showPageSize}} Show page size select-box (<code>showPageSize</code>)
</p>
<p>Used only for first table:</p>
<p>
  {{input
    type="checkbox"
    name="filteringIgnoreCase"
    checked=filteringIgnoreCase}} Do filtering ignore case (<code>filteringIgnoreCase</code>)
</p>
<p>
  {{input
    type="checkbox"
    name="multipleColumnsSorting"
    checked=multipleColumnsSorting}} Do sorting by multiple columns (<code>multipleColumnsSorting</code>)
</p>
<p>
  {{input
    type="checkbox"
    name="doFilteringByHiddenColumns"
    checked=doFilteringByHiddenColumns}} Do filtering by hidden columns (<code>doFilteringByHiddenColumns</code>)
</p>
<p class="form-inline">
  {{input
    class="form-control"
    name="collapseNumPaginationForPagesCount"
    value=collapseNumPaginationForPagesCount}}
  Collapse numeric pagination if pages count is greater (<code>collapseNumPaginationForPagesCount</code>)
</p>

{{models-table
  data=data
  columns=columns
  showComponentFooter=showComponentFooter
  showColumnsDropdown=showColumnsDropdown
  useFilteringByColumns=useFilteringByColumns
  showGlobalFilter=showGlobalFilter
  doFilteringByHiddenColumns=doFilteringByHiddenColumns
  useNumericPagination=useNumericPagination
  filteringIgnoreCase=filteringIgnoreCase
  multipleColumnsSorting=multipleColumnsSorting
  collapseNumPaginationForPagesCount=collapseNumPaginationForPagesCount
  showPageSize=showPageSize}}

<h4>
  Common table
  <small>server paginated table</small>
</h4>
{{models-table-server-paginated
  data=model
  columns=columns
  filterQueryParameters=filterQueryParameters
  showComponentFooter=showComponentFooter
  showColumnsDropdown=showColumnsDropdown
  useFilteringByColumns=useFilteringByColumns
  showGlobalFilter=showGlobalFilter
  useNumericPagination=useNumericPagination
  collapseNumPaginationForPagesCount=collapseNumPaginationForPagesCount
  showPageSize=showPageSize}}
