<h4>
  Common table
  <small>simple table</small>
</h4>

<p>This options are applied for both tables:</p>

{{#if fw.isBs3}}
  <CommonTableSettingsBs3
    @showComponentFooter={{showComponentFooter}}
    @showColumnsDropdown={{showColumnsDropdown}}
    @useFilteringByColumns={{useFilteringByColumns}}
    @showGlobalFilter={{showGlobalFilter}}
    @useNumericPagination={{useNumericPagination}}
    @doFilteringByHiddenColumns={{doFilteringByHiddenColumns}}
    @filteringIgnoreCase={{filteringIgnoreCase}}
    @multipleColumnsSorting={{multipleColumnsSorting}}
    @showPageSize={{showPageSize}}
    @collapseNumPaginationForPagesCount={{collapseNumPaginationForPagesCount}}
    @showCurrentPageNumberSelect={{showCurrentPageNumberSelect}}/>
{{/if}}

{{#if fw.isBs4}}
  <CommonTableSettingsBs4
    @showComponentFooter={{showComponentFooter}}
    @showColumnsDropdown={{showColumnsDropdown}}
    @useFilteringByColumns={{useFilteringByColumns}}
    @showGlobalFilter={{showGlobalFilter}}
    @useNumericPagination={{useNumericPagination}}
    @doFilteringByHiddenColumns={{doFilteringByHiddenColumns}}
    @filteringIgnoreCase={{filteringIgnoreCase}}
    @multipleColumnsSorting={{multipleColumnsSorting}}
    @showPageSize={{showPageSize}}
    @collapseNumPaginationForPagesCount={{collapseNumPaginationForPagesCount}}
    @showCurrentPageNumberSelect={{showCurrentPageNumberSelect}}/>
{{/if}}

{{#if fw.isSemanticUI}}
  <CommonTableSettingsSemantic
    @showComponentFooter={{showComponentFooter}}
      @showColumnsDropdown={{showColumnsDropdown}}
    @useFilteringByColumns={{useFilteringByColumns}}
      @showGlobalFilter={{showGlobalFilter}}
    @useNumericPagination={{useNumericPagination}}
      @doFilteringByHiddenColumns={{doFilteringByHiddenColumns}}
    @filteringIgnoreCase={{filteringIgnoreCase}}
      @multipleColumnsSorting={{multipleColumnsSorting}}
    @showPageSize={{showPageSize}}
      @collapseNumPaginationForPagesCount={{collapseNumPaginationForPagesCount}}
    @showCurrentPageNumberSelect={{showCurrentPageNumberSelect}}/>
{{/if}}

<ModelsTable
  @data={{data}}
  @columns={{columns}}
  @showComponentFooter={{showComponentFooter}}
  @showColumnsDropdown={{showColumnsDropdown}}
  @useFilteringByColumns={{useFilteringByColumns}}
  @showGlobalFilter={{showGlobalFilter}}
  @doFilteringByHiddenColumns={{doFilteringByHiddenColumns}}
  @useNumericPagination={{useNumericPagination}}
  @filteringIgnoreCase={{filteringIgnoreCase}}
  @multipleColumnsSorting={{multipleColumnsSorting}}
  @showCurrentPageNumberSelect={{showCurrentPageNumberSelect}}
  @collapseNumPaginationForPagesCount={{collapseNumPaginationForPagesCount}}
  @showPageSize={{showPageSize}}/>

<h4>
  Common table
  <small>server paginated table</small>
</h4>
<ModelsTableServerPaginated
  @data={{model}}
  @columns={{columns}}
  @filterQueryParameters={{filterQueryParameters}}
  @showComponentFooter={{showComponentFooter}}
  @showColumnsDropdown={{showColumnsDropdown}}
  @useFilteringByColumns={{useFilteringByColumns}}
  @showGlobalFilter={{showGlobalFilter}}
  @useNumericPagination={{useNumericPagination}}
  @showCurrentPageNumberSelect={{showCurrentPageNumberSelect}}
  @collapseNumPaginationForPagesCount={{collapseNumPaginationForPagesCount}}
  @showPageSize={{showPageSize}}/>
