<h4>
  Common table
  <small>simple table</small>
</h4>

<p>This options are applied for both tables:</p>

{{component
  (ensure-safe-component this.settingsComponentName)
  showComponentFooter=this.showComponentFooter
  showColumnsDropdown=this.showColumnsDropdown
  useFilteringByColumns=this.useFilteringByColumns
  showGlobalFilter=this.showGlobalFilter
  useNumericPagination=this.useNumericPagination
  doFilteringByHiddenColumns=this.doFilteringByHiddenColumns
  filteringIgnoreCase=this.filteringIgnoreCase
  multipleColumnsSorting=this.multipleColumnsSorting
  showPageSize=this.showPageSize
  collapseNumPaginationForPagesCount=this.collapseNumPaginationForPagesCount
  showCurrentPageNumberSelect=this.showCurrentPageNumberSelect
}}

{{! BEGIN-SNIPPET common-table }}
<ModelsTable
  @data={{this.data}}
  @columns={{this.columns}}
  @themeInstance={{this.fw.themeInstance}}
  @showComponentFooter={{this.showComponentFooter}}
  @showColumnsDropdown={{this.showColumnsDropdown}}
  @useFilteringByColumns={{this.useFilteringByColumns}}
  @showGlobalFilter={{this.showGlobalFilter}}
  @doFilteringByHiddenColumns={{this.doFilteringByHiddenColumns}}
  @useNumericPagination={{this.useNumericPagination}}
  @filteringIgnoreCase={{this.filteringIgnoreCase}}
  @multipleColumnsSorting={{this.multipleColumnsSorting}}
  @showCurrentPageNumberSelect={{this.showCurrentPageNumberSelect}}
  @collapseNumPaginationForPagesCount={{this.collapseNumPaginationForPagesCount}}
  @currentPageNumber={{this.currentPageNumber}}
  @showPageSize={{this.showPageSize}}
  @onDisplayDataChanged={{this.onDisplayDataChanged}}/>
{{! END-SNIPPET }}

<CodeBlockExample @snippetName="common-table.hbs"/>

<h4>
  Common table
  <small>server paginated table</small>
</h4>
{{! BEGIN-SNIPPET common-table-server-paginated }}
<ModelsTableServerPaginated
  @data={{this.model}}
  @columns={{this.columns}}
  @themeInstance={{this.fw.themeInstance}}
  @filterQueryParameters={{this.filterQueryParameters}}
  @showComponentFooter={{this.showComponentFooter}}
  @showColumnsDropdown={{this.showColumnsDropdown}}
  @useFilteringByColumns={{this.useFilteringByColumns}}
  @showGlobalFilter={{this.showGlobalFilter}}
  @useNumericPagination={{this.useNumericPagination}}
  @showCurrentPageNumberSelect={{this.showCurrentPageNumberSelect}}
  @collapseNumPaginationForPagesCount={{this.collapseNumPaginationForPagesCount}}
  @showPageSize={{this.showPageSize}}
  @onDisplayDataChanged={{this.onDisplayDataChanged}}
  @doQuery={{this.doQuery}}
  @itemsCount={{this.itemsCount}}
  @pagesCount={{this.pagesCount}}/>
{{! END-SNIPPET }}
<CodeBlockExample @snippetName="common-table-server-paginated.hbs"/>