<h4>
  Common table
  <small>simple table</small>
</h4>

<p>This options are applied for both tables:</p>

{{component settingsComponentName
  showComponentFooter=showComponentFooter
  showColumnsDropdown=showColumnsDropdown
  useFilteringByColumns=useFilteringByColumns
  showGlobalFilter=showGlobalFilter
  useNumericPagination=useNumericPagination
  doFilteringByHiddenColumns=doFilteringByHiddenColumns
  filteringIgnoreCase=filteringIgnoreCase
  multipleColumnsSorting=multipleColumnsSorting
  showPageSize=showPageSize
  collapseNumPaginationForPagesCount=collapseNumPaginationForPagesCount
  showCurrentPageNumberSelect=showCurrentPageNumberSelect}}

<ModelsTable
  @data={{data}}
  @columns={{columns}}
  @showComponentFooter={{showComponentFooter}}
  @showColumnsDropdown={{showColumnsDropdown}}
  @useFilteringByColumns={{useFilteringByColumns}}
  @showGlobalFilter={{showGlobalFilter}}
  @doFilteringByHiddenColumns={{doFilteringByHiddenColumns}}
  @useNumericPagination={{useNumericPagination}}
  @filteringIgnoreCase={{filteringIgnoreCase}}
  @multipleColumnsSorting={{multipleColumnsSorting}}
  @showCurrentPageNumberSelect={{showCurrentPageNumberSelect}}
  @collapseNumPaginationForPagesCount={{collapseNumPaginationForPagesCount}}
  @showPageSize={{showPageSize}}/>

<h4>
  Common table
  <small>server paginated table</small>
</h4>
<ModelsTableServerPaginated
  @data={{model}}
  @columns={{columns}}
  @filterQueryParameters={{filterQueryParameters}}
  @showComponentFooter={{showComponentFooter}}
  @showColumnsDropdown={{showColumnsDropdown}}
  @useFilteringByColumns={{useFilteringByColumns}}
  @showGlobalFilter={{showGlobalFilter}}
  @useNumericPagination={{useNumericPagination}}
  @showCurrentPageNumberSelect={{showCurrentPageNumberSelect}}
  @collapseNumPaginationForPagesCount={{collapseNumPaginationForPagesCount}}
  @showPageSize={{showPageSize}}/>
