<div class="row">
  <div class="col-md-12">
    <h4>{{title}}</h4>
  </div>
  <div class="col-md-8">
    {{models-table data=model columns=columns simplePaginationTemplate="custom/pagination"}}
  </div>
  <div class="col-md-4">
    <p>Component usage:</p>
      <pre><code class="handlebars">&lbrace;&lbrace;models-table
        data=model
        columns=columns
        simplePaginationTemplate="custom/pagination"&rbrace;&rbrace;</code></pre>
    <p><code>templates/custom/pagination.hbs</code>:</p>
<pre><code class="handlebars">&lt;a href="#" \{{action "gotoFirst"}} \{{bind-attr class="gotoBackEnabled:enabled:disabled"}}&gt;F&lt;/a&gt;
  &lt;a href="#" \{{action "gotoPrev"}} \{{bind-attr class="gotoBackEnabled:enabled:disabled"}}&gt;P&lt;/a&gt;
  &lt;a href="#" \{{action "gotoNext"}} \{{bind-attr class="gotoForwardEnabled:enabled:disabled"}}&gt;N&lt;/a&gt;
  &lt;a href="#" \{{action "gotoLast"}} \{{bind-attr class="gotoForwardEnabled:enabled:disabled"}}&gt;L&lt;/a&gt;
</code></pre>
  </div>
</div>