<div class="row">
  <div class="col-md-12">
    <h4>{{title}}</h4>
  </div>
  <div class="col-md-8">
    {{models-table data=model columns=columns displayDataChangedAction="myAction" sendDisplayDataChangedAction=true}}
  </div>
  <div class="col-md-4">
    <p>Component usage:</p>
    <pre><code class="handlebars">&lbrace;&lbrace;models-table
  data=model
  columns=columns&rbrace;&rbrace;</code></pre>

    <p><code>columns</code>:</p>
    <pre><code class="javascript">{{to-string this 'columns'}}</code></pre>
    <p><code>actionData</code>:</p>
    <pre><code class="javascript">{{#if trigger}}{{to-string this 'actionData'}}{{else}}{{to-string this 'actionData'}}{{/if}}</code></pre>
  </div>
</div>
