<p>
  {{input
    type="checkbox"
    name="actionAsClosure"
    checked=useClosureAction}}
  Use closure action for (<code>displayDataChangedAction</code>)
</p>
<p class="alert alert-info">Check console to get data sent to the parent context</p>
<h4>
  Handle user interaction with a component
  <small>simple table</small>
</h4>
<ModelsTable
  @data={{data}}
  @columns={{columns}}
  @displayDataChangedAction={{action "myAction"}}/>

<h4>
  Handle user interaction with a component
  <small>server paginated table</small>
</h4>
<ModelsTableServerPaginated
  @data={{model}}
  @columns={{columns}}
  @displayDataChangedAction={{action "myAction"}}/>
