<h4>
  Filtering
  <small>simple table</small>
</h4>
<p class="alert alert-info">
  <code>First name</code>
  uses column values for filter options.<br />
  <code>Last name</code>
  has a predefined list of options.<br />
  <code>Age</code>
  uses a custom filter-function combined with a predefined list of options.
</p>
{{! BEGIN-SNIPPET table-with-custom-filters }}
<ModelsTable
  @data={{this.data}}
  @columns={{this.columns}}
  @themeInstance={{this.fw.themeInstance}}
/>
{{! END-SNIPPET }}

<div class="emt-row">
  <div class="emt-col">
    <CodeBlockExample @snippetName="table-with-custom-filters.hbs" />
  </div>
  <div class="emt-col">
    <CodeBlockExample @snippetName="table-with-custom-filters.js" />
  </div>
</div>

<h4>
  Filtering
  <small>server paginated table</small>
</h4>
<p class="alert alert-info">
  <code>First name</code>
  and
  <code>Last name</code>
  have a predefined lists of options.
</p>
<ModelsTableServerPaginated
  @data={{this.queuedModel}}
  @columns={{this.columnsForServerTable}}
  @themeInstance={{this.fw.themeInstance}}
  @doQuery={{this.doQuery}}
  @itemsCount={{this.itemsCount}}
  @pagesCount={{this.pagesCount}}
/>