<h4>Filter with options loaded from server</h4>
<pre>ember install ember-power-select</pre>
{{! BEGIN-SNIPPET filter-with-server-side-options }}
<ModelsTableServerPaginated
  @data={{this.queuedModel}}
  @columns={{this.commentsColumns}}
  @showColumnsDropdown={{false}}
  @showGlobalFilter={{false}}
  @themeInstance={{this.fw.themeInstance}}
  @doQuery={{this.doQuery}}
  @itemsCount={{this.itemsCount}}
  @pagesCount={{this.pagesCount}}
/>
{{! END-SNIPPET }}
<div class="emt-row">
  <div class="emt-col">
    <CodeBlockExample @snippetName="filter-with-server-side-options.hbs" />
    <CodeBlockExample @snippetName="filter-with-server-side-options.js" />
  </div>
  <div class="emt-col">
    <CodeBlockExample @snippetName="server-side-filter-component.hbs" />
    <CodeBlockExample @snippetName="server-side-filter-component.js" />
  </div>
</div>
{{outlet}}