<h4>
  Grouped rows
  <small>simple table</small>
</h4>

{{#if this.fw.isBs3}}
  <GroupedRowsSettingsBs3
    @displayGroupedValueAsToggle={{this.displayGroupedValueAsToggle}}/>
{{/if}}

{{#if this.fw.isBs4}}
  <GroupedRowsSettingsBs4
    @displayGroupedValueAsToggle={{this.displayGroupedValueAsToggle}}/>
{{/if}}

{{#if this.fw.isSemanticUI}}
  <GroupedRowsSettingsSemantic
    @displayGroupedValueAsToggle={{this.displayGroupedValueAsToggle}}/>
{{/if}}

{{! BEGIN-SNIPPET table-with-grouped-rows }}
<ModelsTable
  @data={{this.data}}
  @columns={{this.columns}}
  @expandedRowComponent={{component "expanded-row"}}
  @multipleExpand={{true}}
  @multipleSelect={{true}}
  @useDataGrouping={{true}}
  @dataGroupProperties={{this.dataGroupProperties}}
  @currentGroupingPropertyName={{this.currentGroupingPropertyName}}
  @displayGroupedValueAs={{this.displayGroupedValueAs}}
  @collapsedGroupValues={{this.collapsedGroupValues}}
  @pageSize={{25}}/>
{{! END-SNIPPET }}

<div class="emt-row">
  <div class="emt-col">
    <CodeBlockExample @snippetName="table-with-grouped-rows.hbs"/>
  </div>
  <div class="emt-col">
    <CodeBlockExample @snippetName="table-with-grouped-rows.js"/>
  </div>
</div>