<h4>
  Grouped headers
  <small>simple table</small>
</h4>
<ModelsTable
  @data={{this.data}}
  @columns={{this.columns}}
  @groupedHeaders={{this.groupedHeaders}}
  @showColumnsDropdown={{false}}
  @showGlobalFilter={{false}}
  @useFilteringByColumns={{false}}/>

<h4>
  Grouped headers
  <small>server paginated table</small>
</h4>
<ModelsTableServerPaginated
  @data={{this.model}}
  @columns={{this.columns}}
  @groupedHeaders={{this.groupedHeaders}}
  @showColumnsDropdown={{false}}
  @showGlobalFilter={{false}}
  @useFilteringByColumns={{false}}/>
