<h4>
  Grouped rows
  <small>simple table</small>
</h4>

{{#if fw.isBs3}}
  <GroupedRowsSettingsBs3
    @displayGroupedValueAsToggle={{displayGroupedValueAsToggle}}/>
{{/if}}

{{#if fw.isBs4}}
  <GroupedRowsSettingsBs4
    @displayGroupedValueAsToggle={{displayGroupedValueAsToggle}}/>
{{/if}}

{{#if fw.isSemanticUI}}
  <GroupedRowsSettingsSemantic
    @displayGroupedValueAsToggle={{displayGroupedValueAsToggle}}/>
{{/if}}

<ModelsTable
  @data={{data}}
  @columns={{columns}}
  @expandedRowComponent={{component "expanded-row"}}
  @multipleExpand={{true}}
  @multipleSelect={{true}}
  @useDataGrouping={{true}}
  @dataGroupProperties={{dataGroupProperties}}
  @currentGroupingPropertyName={{currentGroupingPropertyName}}
  @displayGroupedValueAs={{displayGroupedValueAs}}
  @collapsedGroupValues={{collapsedGroupValues}}
  @pageSize={{25}}/>
