<h4>
  Grouped rows
  <small>simple table</small>
</h4>
<p>
  {{input
    type="checkbox"
    name="displayGroupedValueAs"
    checked=displayGroupedValueAsToggle}} Grouped value will be shown as row above grouped rows (<code>displayGroupedValueAs</code>)
</p>
<ModelsTable
  @data={{data}}
  @columns={{columns}}
  @expandedRowComponent={{component "expanded-row"}}
  @multipleExpand={{true}}
  @multipleSelect={{true}}
  @useDataGrouping={{true}}
  @dataGroupProperties={{dataGroupProperties}}
  @currentGroupingPropertyName={{currentGroupingPropertyName}}
  @displayGroupedValueAs={{displayGroupedValueAs}}
  @collapsedGroupValues={{collapsedGroupValues}}
  @pageSize={{25}}/>
