<h4>
  Grouped headers
  <small>simple table</small>
</h4>
{{! BEGIN-SNIPPET table-with-grouped-headers }}
<ModelsTable
  @data={{this.data}}
  @columns={{this.columns}}
  @groupedHeaders={{this.groupedHeaders}}
  @showColumnsDropdown={{false}}
  @showGlobalFilter={{false}}
  @useFilteringByColumns={{false}}
  @themeInstance={{this.fw.themeInstance}}/>
{{! END-SNIPPET }}

<div class="emt-row">
  <div class="emt-col">
    <CodeBlockExample @snippetName="table-with-grouped-headers.hbs" />
  </div>
  <div class="emt-col">
    <CodeBlockExample @snippetName="table-with-grouped-headers.js" />
  </div>
</div>

<h4>
  Grouped headers
  <small>server paginated table</small>
</h4>
<ModelsTableServerPaginated
  @data={{this.model}}
  @columns={{this.columns}}
  @groupedHeaders={{this.groupedHeaders}}
  @showColumnsDropdown={{false}}
  @showGlobalFilter={{false}}
  @useFilteringByColumns={{false}}
  @themeInstance={{this.fw.themeInstance}}
  @itemsCount={{this.itemsCount}}
  @pagesCount={{this.pagesCount}}
  @doQuery={{this.doQuery}}/>
