<h4>
  In-line edit. Example of using provided cell-edit-toggle
  <small>simple table</small>
</h4>
<p class="alert alert-info">
  Some records may be deleted from both tables in the same time.
</p>
<ModelsTable
  @data={{this.data}}
  @columns={{this.columns}}
  @columnComponents={{hash
    editRow=(
      component
      this.cellEditToggleComponent
      saveRowAction=this.onSaveRow
      cancelRowAction=this.onCancelRow
  )}}/>

<h4>
  In-line edit
  <small>server paginated table</small>
</h4>
<ModelsTableServerPaginated
  @data={{this.model}}
  @columns={{this.columns}}
  @columnComponents={{hash
    editRow=(
      component
      this.cellEditToggleComponent
      saveRowAction=this.onSaveRow
      cancelRowAction=this.onCancelRow
    )}}/>