<h4>
  In-line edit. Example of using provided cell-edit-toggle
  <small>simple table</small>
</h4>
<p class="alert alert-info">
  Some records may be deleted from both tables in the same time.
</p>
{{! BEGIN-SNIPPET table-with-inline-edit }}
<ModelsTable
  @data={{this.data}}
  @columns={{this.columns}}
  @themeInstance={{this.fw.themeInstance}}
  @columnComponents={{hash
    editRow=(component
      (ensure-safe-component this.cellEditToggleComponent)
      onSaveRow=this.onSaveRow
      onCancelRow=this.onCancelRow
    )
  }}
/>
{{! END-SNIPPET }}

<div class="emt-row">
  <div class="emt-col">
    <CodeBlockExample @snippetName="table-with-inline-edit-controller.js" />
  </div>
  <div class="emt-col">
    <CodeBlockExample @snippetName="table-with-inline-edit.hbs" />
    <CodeBlockExample @snippetName="table-with-inline-edit-route.js" />
  </div>
</div>

<h4>
  In-line edit
  <small>server paginated table</small>
</h4>
<ModelsTableServerPaginated
  @data={{this.queuedModel}}
  @columns={{this.columns}}
  @themeInstance={{this.fw.themeInstance}}
  @doQuery={{this.doQuery}}
  @itemsCount={{this.itemsCount}}
  @pagesCount={{this.pagesCount}}
  @columnComponents={{hash
    editRow=(component
      (ensure-safe-component this.cellEditToggleComponent)
      onSaveRow=this.onSaveRow
      onCancelRow=this.onCancelRow
    )
  }}
/>