<h4>
  Route cells
  <small>simple table</small>
</h4>
<p class="alert alert-info">
  firstName cell is a link to the route for model in the row.
</p>
{{! BEGIN-SNIPPET table-with-route-cells }}
<ModelsTable
  @data={{this.data}}
  @columns={{this.columns}}
  @themeInstance={{this.fw.themeInstance}}
/>
{{! END-SNIPPET }}

<div class="emt-row">
  <div class="emt-col">
    <CodeBlockExample @snippetName="table-with-route-cells.hbs" />
  </div>
  <div class="emt-col">
    <CodeBlockExample @snippetName="table-with-route-cells.js" />
  </div>
</div>

<h4>
  Route cells
  <small>server paginated table</small>
</h4>
<ModelsTableServerPaginated
  @data={{this.queuedModel}}
  @columns={{this.columns}}
  @themeInstance={{this.fw.themeInstance}}
  @itemsCount={{this.itemsCount}}
  @pagesCount={{this.pagesCount}}
  @doQuery={{this.doQuery}}
/>