<div class="row">
  <div class="col-md-12">
    <h4>{{title}}</h4>
  </div>
  <div class="col-md-8">
    {{my-table-with-custom-header data=model columns=columns multipleSelect=true sendDisplayDataChangedAction=true}}
  </div>
  <div class="col-md-4">
    <p>Component usage:</p>
        <pre><code class="handlebars">&lbrace;&lbrace;my-table-with-custom-header
  data=model
  columns=columns
  multipleSelect=true
  sendDisplayDataChangedAction=true&rbrace;&rbrace;</code></pre>

    <p><code>my-table-with-custom-header</code></p>
    <p>Same as <code>models-table</code> but with one extra-action <code>toggleAllSelection</code>:</p>
    <pre><code class="javascript">{{to-string c 'toggleAllSelection'}}</code></pre>

    <p><code>columns</code>:</p>
    <pre><code class="javascript">{{to-string this 'columns'}}</code></pre>

    <p>Action called on select/deselect for every row - <code>displayDataChanged</code>:</p>
    <pre><code class="javascript">{{to-string this 'displayDataChanged'}}</code></pre>
  </div>
</div>
