<h4>
  Sort and filter by custom property
  <small>simple table</small>
</h4>
<p class="alert alert-info">
  Filtering and sorting for "First name" column is done by <code>lastName</code>-property. Filtering and sorting for "Last name" column is done by <code>firstName</code>-property.
</p>
<p class="alert alert-info">
  Sorting on "Index" column is done by a custom sort function
</p>
{{! BEGIN-SNIPPET table-with-custom-sorting-and-filtering }}
<ModelsTable
  @data={{this.data}}
  @columns={{this.columns}}
  @multipleColumnsSorting={{false}}
  @themeInstance={{this.fw.themeInstance}}/>
{{! END-SNIPPET }}

<div class="emt-row">
  <div class="emt-col">
    <CodeBlockExample @snippetName="table-with-custom-sorting-and-filtering.hbs"/>
  </div>
  <div class="emt-col">
    <CodeBlockExample @snippetName="table-with-custom-sorting-and-filtering.js"/>
  </div>
</div>

<h4>
  Sort and filter by custom property
  <small>server paginated table</small>
</h4>
<p class="alert alert-info">
  Filtering and sorting for "First name" column is done by <code>lastName</code>-property. Filtering and sorting for "Last name" column is done by <code>firstName</code>-property.
</p>
<ModelsTableServerPaginated
  @data={{this.queuedModel}}
  @columns={{this.columns}}
  @themeInstance={{this.fw.themeInstance}}
  @doQuery={{this.doQuery}}
  @itemsCount={{this.itemsCount}}
  @pagesCount={{this.pagesCount}}/>
