{{#if hasBlock}}
  {{yield
    (hash
      themeInstance=themeInstance
      columnDropdownOptions=columnDropdownOptions
      processedColumns=processedColumns
      showAllColumns=(action "showAllColumns")
      hideAllColumns=(action "hideAllColumns")
      restoreDefaultVisibility=(action "restoreDefaultVisibility")
      toggleColumnSet=(action "toggleColumnSet")
      toggleHidden=(action "toggleHidden")
    )}}
{{else}}
  {{! template-lint-disable attribute-indentation }}
  {{#bs-dropdown
    closeOnMenuClick=false
    class=themeInstance.columnsDropdownWrapper
  as |dd|}}
    {{#dd.toggle class=themeInstance.buttonDefault}}
      {{themeInstance.messages.columns-title}}
      <span class="caret"></span>
    {{/dd.toggle}}
    {{#dd.menu
      align="right"
    as |menu|}}
      {{#if columnDropdownOptions.showAll}}
        {{#menu.item}}
          <a
            href="#"
            class="dropdown-item"
            {{action "showAllColumns" bubbles=false}}>
            {{themeInstance.messages.columns-showAll}}
          </a>
        {{/menu.item}}
      {{/if}}
      {{#if columnDropdownOptions.hideAll}}
        {{#menu.item}}
          <a
            href="#"
            class="dropdown-item"
            {{action "hideAllColumns" bubbles=false}}>
            {{themeInstance.messages.columns-hideAll}}
          </a>
        {{/menu.item}}
      {{/if}}
      {{#if columnDropdownOptions.restoreDefaults}}
        {{#menu.item}}
          <a
            href="#"
            class="dropdown-item"
            {{action "restoreDefaultVisibility"bubbles=false}}>
            {{themeInstance.messages.columns-restoreDefaults}}
          </a>
        {{/menu.item}}
      {{/if}}
      {{#each columnDropdownOptions.columnSets as |columnSet|}}
        {{#menu.item}}
          <a
            href="#"
            class="dropdown-item"
            {{action "toggleColumnSet" columnSet bubbles=false}}>
            {{columnSet.label}}
          </a>
        {{/menu.item}}
      {{/each}}
      {{menu.divider}}
      {{#each processedColumns as |column|}}
        {{#if column.mayBeHidden}}
          {{#menu.item}}
            <a
              href="#"
              class="dropdown-item"
              {{action "toggleHidden" column bubbles=false}}>
              <i
                class={{if column.isVisible themeInstance.column-visible themeInstance.column-hidden}}>
              </i>
              {{column.title}}
            </a>
          {{/menu.item}}
        {{/if}}
      {{/each}}
    {{/dd.menu}}
  {{/bs-dropdown}}
{{/if}}