{{#if (has-block)}}
  {{yield}}
{{else}}
  <div class={{themeInstance.globalFilterWrapper}}>
    <BsForm
      @formLayout="inline"
      class="globalSearch"
      @model={{this}}
      @onSubmit={{action "noop"}}
    as |Form|>
      <Form.element
        class="input-group"
        @placeholder={{themeInstance.searchPlaceholderMsg}}
        @property="value"
        @type="text"
      as |GlobalFilter|>
        {{#if themeInstance.searchLabelMsg}}
          <label for={{GlobalFilter.id}} class="input-group-addon">{{themeInstance.searchLabelMsg}}</label>
        {{/if}}
        <input
          class="filterString form-control"
          value={{GlobalFilter.value}}
          placeholder={{GlobalFilter.placeholder}}
          oninput={{action (mut GlobalFilter.value) value="target.value"}}
          onchange={{action (mut GlobalFilter.value) value="target.value"}}
          id={{GlobalFilter.id}}>
        <span class="input-group-btn">
          <BsButton
            class="clearFilterIcon"
            @disabled={{unless globalFilterUsed "disabled"}}
            @type="secondary"
            @onClick={{action (mut value) ""}}>
            &nbsp;&nbsp;
            <i class={{themeInstance.clearFilterIcon}}></i>
            <span class="emt-sr-only">{{themeInstance.clearGlobalFilterMsg}}</span>
          </BsButton>
        </span>
      </Form.element>
    </BsForm>
  </div>
{{/if}}
