{{#if (has-block)}}
  {{yield}}
{{else}}
  <BsForm
    @formLayout="inline"
    class="globalSearch"
    @model={{this}}
    @onSubmit={{this.noop}}
  as |Form|>
    <Form.element
      class="input-group"
      @placeholder={{this.themeInstance.searchPlaceholderMsg}}
      @property="value"
      @type="text"
    as |GlobalFilter|>
      {{#if this.themeInstance.searchLabelMsg}}
        <label for={{GlobalFilter.id}} class="input-group-addon">{{this.themeInstance.searchLabelMsg}}</label>
      {{/if}}
      <GlobalFilter.control class="filterString"/>
      <span class="input-group-btn">
        <BsButton
          class="clearFilterIcon"
          @disabled={{unless this.globalFilterUsed "disabled"}}
          @type="secondary"
          @onClick={{fn (mut this.value) ""}}>
          &nbsp;&nbsp;
          <i class={{this.themeInstance.clearFilterIcon}}></i>
          <span class="emt-sr-only">{{this.themeInstance.clearGlobalFilterMsg}}</span>
        </BsButton>
      </span>
    </Form.element>
  </BsForm>
{{/if}}