{{#if this.column.componentForFilterCell}}
  {{#let
    (component
      this.column.componentForFilterCell
      column=this.column
      data=this.data
      selectedItems=this.selectedItems
      expandedItems=this.expandedItems
      themeInstance=this.themeInstance
      expandAllRows=this.expandAllRows
      collapseAllRows=this.collapseAllRows
      toggleAllSelection=this.toggleAllSelection)
  as |CellContent|}}
    {{#if (has-block)}}
      {{yield CellContent}}
    {{else}}
      <CellContent/>
    {{/if}}
  {{/let}}
{{else}}
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    {{#if this.column.useFilter}}
      <BsForm
        @model={{this.column}}
        @onSubmit={{this.noop}}
      as |Form|>
        {{#if this.column.filterWithSelect}}
          <Form.element
            @property="filterString"
            class="input-group"
          as |FilterSelect|>
            {{component
              this.themeInstance.selectComponent
              id=FilterSelect.id
              options=this.column.filterOptions
              cssPropertyName=this.column.cssPropertyName
              value=this.column.filterString
              themeInstance=this.themeInstance
              class=(concat this.themeInstance.input " changeFilterForColumn")
              expandAllRows=this.expandAllRows
              collapseAllRows=this.collapseAllRows}}
            <label for={{FilterSelect.id}} class="emt-sr-only">{{this.column.title}}</label>
            <span class="input-group-btn">
              <BsButton
                class="clearFilterIcon"
                @type="secondary"
                @disabled={{unless this.column.filterUsed "disabled"}}
                @onClick={{fn (mut FilterSelect.value) ""}}>
                &nbsp;&nbsp;
                <i class={{this.themeInstance.clearFilterIcon}}></i>
                <span class="emt-sr-only">{{this.themeInstance.clearFilterMsg}}</span>
              </BsButton>
            </span>
          </Form.element>
        {{else}}
          <Form.element
            class="filterString input-group"
            @property="filterString"
            @placeholder={{this.column.filterPlaceholder}}
          as |FilterInput|>
            <FilterInput.control/>
            <label for={{FilterInput.id}} class="emt-sr-only">{{this.column.title}}</label>
            <span class="input-group-btn">
              <BsButton
                @type="secondary"
                class="clearFilterIcon"
                @disabled={{unless this.column.filterUsed "disabled"}}
                @onClick={{fn (mut FilterInput.value) ""}}>
                &nbsp;&nbsp;
                <i class={{this.themeInstance.clearFilterIcon}}></i>
                <span class="emt-sr-only">{{this.themeInstance.clearFilterMsg}}</span>
              </BsButton>
            </span>
          </Form.element>
        {{/if}}
      </BsForm>
    {{else}}
      &nbsp;
    {{/if}}
  {{/if}}
{{/if}}