{{#if (has-block)}}
  {{yield
    (hash
      summary=this.summary
    )
  }}
{{else}}
  <BsForm
    @formLayout="inline"
    @model={{this}}
    @onSubmit={{this.noop}}>
    <label>{{this.summary}}</label>
    <BsButton
      class={{concat "clearFilters " this.themeInstance.buttonLink}}
      @disabled={{unless this.anyFilterUsed "disabled"}}
      @type="button"
      @onClick={{fn this.doClearFilters}}
      @buttonType="secondary">
      <i class={{this.themeInstance.clearAllFiltersIcon}}></i>
      <span class="emt-sr-only">{{this.themeInstance.clearAllFiltersMsg}}</span>
    </BsButton>
  </BsForm>
{{/if}}
