{{#if (has-block)}}
  {{yield
    (hash
      anyFilterUsed=anyFilterUsed
      summary=summary
      clearFilters=doClearFilters
      firstIndex=firstIndex
      lastIndex=lastIndex
      recordsCount=recordsCount
    )}}
{{else}}
  <BsForm
    @formLayout="inline"
    @model={{this}}
    @onSubmit={{action "noop"}}>
    <label>{{summary}}</label>
    <BsButton
      class={{concat "clearFilters " themeInstance.buttonLink}}
      @disabled={{unless anyFilterUsed "disabled"}}
      @type="bytton"
      @onClick={{action "doClearFilters"}}
      @buttonType="secondary">
      <i class={{themeInstance.clearAllFiltersIcon}}></i>
      <span class="emt-sr-only">{{themeInstance.messages.clearAllFilters}}</span>
    </BsButton>
  </BsForm>
{{/if}}
