{{#if hasBlock}}
  {{yield
    (hash
      global-filter=(
        component themeInstance.components.global-filter
        value=filterString
        globalFilterUsed=globalFilterUsed
        themeInstance=themeInstance
        messages=messages
        sendAction=(action "sendAction")
      )
      columns-dropdown=(
        component themeInstance.components.columns-dropdown
        processedColumns=processedColumns
        columnDropdownOptions=columnDropdownOptions
        themeInstance=themeInstance
        messages=messages
        showAllColumns=(action "showAllColumns")
        hideAllColumns=(action "hideAllColumns")
        restoreDefaultVisibility=(action "restoreDefaultVisibility")
        toggleColumnSet=(action "toggleColumnSet")
        toggleHidden=(action "toggleHidden")
        sendAction=(action "sendAction")
      )
      table=(
        component themeInstance.components.table
        noHeaderFilteringAndSorting=noHeaderFilteringAndSorting
        groupedHeaders=groupedHeaders
        sort=(action "sort")
        visibleContent=visibleContent
        selectedItems=_selectedItems
        expandedItems=_expandedItems
        expandedRowComponent=expandedRowComponent
        visibleProcessedColumns=visibleProcessedColumns
        useFilteringByColumns=useFilteringByColumns
        allColumnsAreHidden=allColumnsAreHidden
        clickOnRow=(action "clickOnRow")
        data=data
        themeInstance=themeInstance
        messages=messages
        sendAction=(action "sendAction")
        expandRow=(action "expandRow")
        collapseRow=(action "collapseRow")
        expandAllRows=(action "expandAllRows")
        collapseAllRows=(action "collapseAllRows")
        toggleAllSelection=(action "toggleAllSelection")
      )
      footer=(
        component themeInstance.components.footer
        firstIndex=firstIndex
        lastIndex=lastIndex
        recordsCount=arrangedContentLength
        anyFilterUsed=anyFilterUsed
        pageSizeOptions=pageSizeOptions
        pageSize=pageSize
        currentPageNumber=currentPageNumber
        pagesCount=pagesCount
        showPageSize=showPageSize
        useNumericPagination=useNumericPagination
        goToPage=(action "gotoCustomPage")
        clearFilters=(action "clearFilters")
        themeInstance=themeInstance
        messages=messages
        sendAction=(action "sendAction")
      )
      isLoading=isLoading
      isError=isError
    )
  }}
{{else}}
  {{! global filter start }}
  {{#if showGlobalFilter}}
    {{component themeInstance.components.global-filter
      value=filterString
      globalFilterUsed=globalFilterUsed
      themeInstance=themeInstance
      messages=messages
      sendAction=(action "sendAction")
    }}
  {{/if}}
  {{! global filter end }}
  {{! columns dropdown start }}
  {{#if showColumnsDropdown}}
    {{component themeInstance.components.columns-dropdown
      processedColumns=processedColumns
      columnDropdownOptions=columnDropdownOptions
      themeInstance=themeInstance
      messages=messages
      showAllColumns=(action "showAllColumns")
      hideAllColumns=(action "hideAllColumns")
      restoreDefaultVisibility=(action "restoreDefaultVisibility")
      toggleColumnSet=(action "toggleColumnSet")
      toggleHidden=(action "toggleHidden")
      sendAction=(action "sendAction")
    }}
  {{/if}}
  {{! columns dropdown end }}

  {{! Div needed by Firefox to reset floating positioning }}
  <div class='models-table-clear'></div>

  {{component themeInstance.components.table
    noHeaderFilteringAndSorting=noHeaderFilteringAndSorting
    groupedHeaders=groupedHeaders
    sort=(action "sort")
    visibleContent=visibleContent
    selectedItems=_selectedItems
    useFilteringByColumns=useFilteringByColumns
    expandedItems=_expandedItems
    visibleProcessedColumns=visibleProcessedColumns
    allColumnsAreHidden=allColumnsAreHidden
    clickOnRow=(action "clickOnRow")
    sendAction=(action "sendAction")
    data=data
    themeInstance=themeInstance
    messages=messages
    expandedRowComponent=expandedRowComponent
    expandRow=(action "expandRow")
    collapseRow=(action "collapseRow")
    expandAllRows=(action "expandAllRows")
    collapseAllRows=(action "collapseAllRows")
    toggleAllSelection=(action "toggleAllSelection")
  }}
  {{! table footer start }}
  {{#if showComponentFooter}}
    {{component themeInstance.components.footer
      firstIndex=firstIndex
      lastIndex=lastIndex
      recordsCount=arrangedContentLength
      anyFilterUsed=anyFilterUsed
      pageSizeOptions=pageSizeOptions
      pageSize=pageSize
      currentPageNumber=currentPageNumber
      pagesCount=pagesCount
      showPageSize=showPageSize
      useNumericPagination=useNumericPagination
      goToPage=(action "gotoCustomPage")
      themeInstance=themeInstance
      clearFilters=(action "clearFilters")
      sendAction=(action "sendAction")
      messages=messages
    }}
  {{/if}}
  {{! table footer end }}
{{/if}}
