<div class="models-table-wrapper {{classes.outerTableWrapper}}">
  {{! global filter start }}
  {{#if showGlobalFilter}}
    {{partial globalFilterTemplate}}
  {{/if}}
  {{! global filter end }}
  {{! columns dropdown start }}
  {{#if showColumnsDropdown}}
    {{partial columnsDropdownTemplate}}
  {{/if}}
  {{! columns dropdown end }}

  <!-- Div needed by Firefox to reset floating positioning -->
  <div style="clear:both"/>

  <div class="{{classes.innerTableWrapper}}">
    <table class="{{classes.table}}">
      {{! table header start }}
      <thead class="{{classes.thead}}">
        {{#if groupedHeaders.length}}
          {{partial headerGroupedRowsTemplate}}
        {{/if}}
        {{partial headerSortingRowTemplate}}
        {{#if useFilteringByColumns}}
          {{partial headerFilteringRowTemplate}}
        {{/if}}
      </thead>
      {{! table header end }}
      {{! table body start }}
      <tbody>
        {{#if allColumnsAreHidden}}
          <tr><td colspan={{processedColumns.length}} class="{{classes.noDataCell}}">{{{messages.allColumnsAreHidden}}}</td></tr>
        {{else}}
          {{#if visibleContent.length}}
            {{#each visibleContent as |record index|}}
              {{partial rowTemplate}}
            {{/each}}
          {{else}}
            <tr><td colspan="{{visibleProcessedColumns.length}}">{{{messages.noDataToShow}}}</td></tr>
          {{/if}}
        {{/if}}
      </tbody>
      {{! table body end }}
      {{! table footer start }}
      <tfoot>
        {{partial tableFooterTemplate}}
      </tfoot>
      {{! table footer end }}
    </table>
  </div>
  {{! table footer start }}
  {{#if showComponentFooter}}
    {{partial componentFooterTemplate}}
  {{/if}}
  {{! table footer end }}
</div>
{{yield}}