{{#if hasBlock}}
  {{yield
    (hash
      allColumnsAreHidden=allColumnsAreHidden
      columns-hidden=(
        component "models-table-columns-hidden"
        columnsCount=columnsCount
        messages=messages
        sendAction=sendAction
      )
      row=(
        component "models-table-row"
        visibleProcessedColumns=visibleProcessedColumns
        messages=messages
        clickOnRow=clickOnRow
        sendAction=sendAction
        expandRow=expandRow
        collapseRow=collapseRow
        expandAllRows=expandAllRows
        collapseAllRows=collapseAllRows
        selectedItems=selectedItems
        expandedRowIndexes=expandedRowIndexes
      )
      no-data=(
        component "models-table-no-data"
        messages=messages
        columnsCount=visibleProcessedColumns.length
        sendAction=sendAction
      )
      visibleContent=visibleContent
    )
  }}
{{else}}
  {{#if allColumnsAreHidden}}
    {{models-table-columns-hidden
      columnsCount=columnsCount
      messages=messages
      sendAction=sendAction
    }}
  {{else}}
    {{#if visibleContent.length}}
      {{#each visibleContent as |record index|}}
        {{models-table-row
          record=record
          visibleProcessedColumns=visibleProcessedColumns
          index=index
          selectedItems=selectedItems
          messages=messages
          isSelected=(exists-in selectedItems record)
          expandedRowIndexes=expandedRowIndexes
          clickOnRow=clickOnRow
          sendAction=sendAction
          expandRow=expandRow
          collapseRow=collapseRow
          expandAllRows=expandAllRows
          collapseAllRows=collapseAllRows
          themeInstance=themeInstance
        }}
        {{#if (exists-in expandedRowIndexes index)}}
          <tr class="expand-row {{concat "expand-" index}} {{if (exists-in selectedItems record)
                                                                "selected-expand"}}" {{action "clickOnRow" index
                                                                                              record on="click"}}>
            <td colspan="{{visibleProcessedColumns.length}}">
              {{component
                expandedRowComponent
                record=record
                processedColumns=processedColumns
                messages=messages
                index=index
                clickOnRow=clickOnRow
                sendAction=sendAction
                themeInstance=themeInstance
              }}
            </td>
          </tr>
        {{/if}}
      {{/each}}
    {{else}}
      {{models-table-no-data
        messages=messages
        columnsCount=visibleProcessedColumns.length
        sendAction=sendAction
      }}
    {{/if}}
  {{/if}}
{{/if}}