{{#if hasBlock}}
  {{yield
    (hash
      global-filter=(
        component "models-table-global-filter"
        value=filterString
        globalFilterUsed=globalFilterUsed
        themeInstance=themeInstance
        messages=messages
        sendAction=(action "sendAction")
      )
      columns-dropdown=(
        component "models-table-columns-dropdown"
        processedColumns=processedColumns
        columnDropdownOptions=columnDropdownOptions
        themeInstance=themeInstance
        messages=messages
        showAllColumns=(action "showAllColumns")
        hideAllColumns=(action "hideAllColumns")
        restoreDefaultVisibility=(action "restoreDefaultVisibility")
        toggleColumnSet=(action "toggleColumnSet")
        toggleHidden=(action "toggleHidden")
        sendAction=(action "sendAction")
      )
      table=(
        component "models-table-table"
        noHeaderFilteringAndSorting=noHeaderFilteringAndSorting
        groupedHeaders=groupedHeaders
        processedColumns=processedColumns
        sort=(action "sort")
        columnsCount=processedColumns.length
        visibleContent=visibleContent
        selectedItems=_selectedItems
        expandedRowIndexes=_expandedRowIndexes
        expandedRowComponen=expandedRowComponent
        visibleProcessedColumns=visibleProcessedColumns
        useFilteringByColumns=useFilteringByColumns
        allColumnsAreHidden=allColumnsAreHidden
        clickOnRow=(action "clickOnRow")
        data=data
        themeInstance=themeInstance
        messages=messages
        sendAction=(action "sendAction")
        expandRow=(action "expandRow")
        collapseRow=(action "collapseRow")
        expandAllRows=(action "expandAllRows")
        collapseAllRows=(action "collapseAllRows")
      )
      footer=(
        component "models-table-footer"
        firstIndex=firstIndex
        lastIndex=lastIndex
        recordsCount=arrangedContentLength
        anyFilterUsed=anyFilterUsed
        pageSizeOptions=pageSizeOptions
        pageSize=pageSize
        currentPageNumber=currentPageNumber
        pagesCount=pagesCount
        showPageSize=showPageSize
        useNumericPagination=useNumericPagination
        goToPage=(action "gotoCustomPage")
        clearFilters=(action "clearFilters")
        themeInstance=themeInstance
        messages=messages
        sendAction=(action "sendAction")
      )
    )
  }}
{{else}}
  {{! global filter start }}
  {{#if showGlobalFilter}}
    {{models-table-global-filter
      value=filterString
      globalFilterUsed=globalFilterUsed
      themeInstance=themeInstance
      messages=messages
      sendAction=(action "sendAction")
    }}
  {{/if}}
  {{! global filter end }}
  {{! columns dropdown start }}
  {{#if showColumnsDropdown}}
    {{models-table-columns-dropdown
      processedColumns=processedColumns
      columnDropdownOptions=columnDropdownOptions
      themeInstance=themeInstance
      messages=messages
      showAllColumns=(action "showAllColumns")
      hideAllColumns=(action "hideAllColumns")
      restoreDefaultVisibility=(action "restoreDefaultVisibility")
      toggleColumnSet=(action "toggleColumnSet")
      toggleHidden=(action "toggleHidden")
      sendAction=(action "sendAction")
    }}
  {{/if}}
  {{! columns dropdown end }}

  {{! Div needed by Firefox to reset floating positioning }}
  <div class='models-table-clear'></div>

  {{models-table-table
    noHeaderFilteringAndSorting=noHeaderFilteringAndSorting
    groupedHeaders=groupedHeaders
    processedColumns=processedColumns
    sort=(action "sort")
    columnsCount=processedColumns.length
    visibleContent=visibleContent
    selectedItems=_selectedItems
    useFilteringByColumns=useFilteringByColumns
    expandedRowIndexes=_expandedRowIndexes
    visibleProcessedColumns=visibleProcessedColumns
    allColumnsAreHidden=allColumnsAreHidden
    clickOnRow=(action "clickOnRow")
    sendAction=(action "sendAction")
    data=data
    themeInstance=themeInstance
    messages=messages
    expandedRowComponent=expandedRowComponent
    expandRow=(action "expandRow")
    collapseRow=(action "collapseRow")
    expandAllRows=(action "expandAllRows")
    collapseAllRows=(action "collapseAllRows")
  }}
  {{! table footer start }}
  {{#if showComponentFooter}}
    {{models-table-footer
      firstIndex=firstIndex
      lastIndex=lastIndex
      recordsCount=arrangedContentLength
      anyFilterUsed=anyFilterUsed
      pageSizeOptions=pageSizeOptions
      pageSize=pageSize
      currentPageNumber=currentPageNumber
      pagesCount=pagesCount
      showPageSize=showPageSize
      useNumericPagination=useNumericPagination
      goToPage=(action "gotoCustomPage")
      themeInstance=themeInstance
      clearFilters=(action "clearFilters")
      sendAction=(action "sendAction")
      messages=messages
    }}
  {{/if}}
  {{! table footer end }}
{{/if}}
