<div class="{{@themeInstance.globalFilterWrapper}}" ...attributes>
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    <div class="globalSearch {{@themeInstance.form}}">
      <div class={{@themeInstance.inputGroup}}>
        <label for={{this.inputId}} class="input-group-addon">{{@themeInstance.searchLabelMsg}}</label>
        <Input
          id={{this.inputId}}
          @type="text"
          @value={{@value}}
          class="filterString {{@themeInstance.input}}"
          {{on "enter" this.noop}}
          {{on "input" this.updateGlobalFilterString}}
          placeholder={{@themeInstance.searchPlaceholderMsg}}/>
        <span class="input-group-btn">
          <button
            class="clearFilterIcon {{@themeInstance.buttonDefaultSmall}}"
            disabled={{unless @globalFilterUsed "disabled"}}
            {{on "click" this.clearGlobalFilter}}
            type="button">
            {{#let (component (ensure-safe-component @themeInstance.clearFilterIconComponent) themeInstance=@themeInstance) as |ClearFilterIcon|}}<ClearFilterIcon/>{{/let}}
            <span class="emt-sr-only">{{@themeInstance.clearGlobalFilterMsg}}</span>
          </button>
        </span>
      </div>
    </div>
  {{/if}}
</div>