<th
  class="{{@themeInstance.theadCell}} {{@column.className}} {{this.filteringClassName}}"
  colspan="{{@column.realColspanForFilterCell}}"
  ...attributes>
  {{#if @column.componentForFilterCell}}
    {{#let
      (component
        (ensure-safe-component @column.componentForFilterCell)
        column=@column
        data=@data
        selectedItems=this.selectedItems
        expandedItems=this.expandedItems
        themeInstance=@themeInstance
        expandAllRows=this.expandAllRows
        collapseAllRows=this.collapseAllRows
        toggleAllSelection=this.toggleAllSelection
        changeColumnFilter=this.updateColumnFilter
        clearColumnFilter=this.clearColumnFilter
      )
    as |CellContent|
    }}
      {{#if (has-block)}}
        {{yield CellContent}}
      {{else}}
        <CellContent/>
      {{/if}}
    {{/let}}
  {{else}}
    {{#if (has-block)}}
      {{yield
        (hash
          changeColumnFilter=this.updateColumnFilter
          clearColumnFilter=this.clearColumnFilter
        )
      }}
    {{else}}
      {{#if @column.useFilter}}
        <label for={{this.inputId}} class="emt-sr-only">{{@column.columnTitle}}</label>
        <div class={{@themeInstance.inputGroup}}>
          {{#if @column.filterWithSelect}}
            {{#let (component (ensure-safe-component @themeInstance.selectComponent)) as |Select|}}
              <Select
                @id={{this.inputId}}
                @options={{@column.filterOptions}}
                @cssPropertyName={{@column.cssPropertyName}}
                @value={{@column.filterString}}
                @themeInstance={{@themeInstance}}
                @changeValue={{this.updateColumnFilter}}
                class="changeFilterForColumn"
              />
            {{/let}}
          {{else}}
            <Input
              id={{this.inputId}}
              @type="text"
              @value={{@column.filterString}}
              class={{@themeInstance.input}}
              @enter={{this.noop}}
              {{on "input" this.updateColumnFilter}}
              placeholder={{@column.filterPlaceholder}}/>
          {{/if}}
          <span class="input-group-btn">
            <button
              class="clearFilterIcon {{@themeInstance.buttonDefaultSmall}}"
              aria-label={{@themeInstance.clearFilterMsg}}
              disabled={{unless @column.filterUsed "disabled"}}
              {{on "click" this.clearColumnFilter}}
              type="button">
              <i class={{@themeInstance.clearFilterIcon}}></i>
            </button>
          </span>
        </div>
      {{else}}
        &nbsp;
      {{/if}}
    {{/if}}
  {{/if}}
</th>
