<button
  class={{concat @themeInstance.buttonLink " " @themeInstance.expandAllRows}}
  type="button"
  onclick={{fn this.doExpandAllRows}}>
  <i class={{@themeInstance.expandAllRowsIcon}}></i>
</button>
<br>
<button
  class={{concat @themeInstance.buttonLink " " @themeInstance.collapseAllRows}}
  type="button"
  onclick={{fn this.doCollapseAllRows}}>
  <i class={{@themeInstance.collapseAllRowsIcon}}></i>
</button>
{{yield}}