{{!-- template-lint-disable no-invalid-interactive  --}}
<tr {{on "click" (fn this.onClick)}} class="expand-row {{this.indexedClass}} {{if this.isSelected "selected-expand"}}">
  {{#let
    (component @expandedRowComponent
      record=@record
      visibleProcessedColumns=@visibleProcessedColumns
      index=@index
      clickOnRow=@clickOnRow
      themeInstance=@themeInstance
    )
  as |RowExpand|
  }}
    <td colspan={{this.cellColspan}}>
      {{#if (has-block)}}
        {{yield RowExpand}}
      {{else}}
        <RowExpand />
      {{/if}}
    </td>
  {{/let}}
</tr>