<select
  {{on "change" this.onChange}}
  {{on "click" this.onClick}}
  disabled="{{if this.isDisabled "disabled"}}"
  class="{{@themeInstance.input}} {{@themeInstance.select}} {{@cssPropertyName}}">
  {{#each @options as |opt|}}
    <option
      value={{opt.value}}
      selected={{is-equal @value opt.value}}>
      {{opt.label}}
    </option>
  {{/each}}
  {{yield}}
</select>