<div class="ui icon input">
  <Input
    type="text"
    value={{get @record @column.propertyName}}
    class={{this.themeInstance.input}}
    @enter={{this.noop}}
    placeholder={{@column.filterPlaceholder}}/>
</div>
{{yield}}