<div class="ui icon input">
  <Input
    type="text"
    @value={{get this.record this.column.propertyName}}
    class={{this.themeInstance.input}}
    @enter={{this.noop}}
    placeholder={{this.column.filterPlaceholder}}/>
</div>
{{yield}}