{{#if (has-block)}}
  {{yield}}
{{else}}
  <div class={{this.themeInstance.columnsDropdownWrapper}}>
    <div class="ui simple dropdown item">
      <div class="text">{{this.themeInstance.columnsTitleMsg}}</div>
      <i class={{this.themeInstance.caretIcon}}></i>
      <div class="menu floating left">
        {{#if @columnDropdownOptions.showAll}}
          <div role="button" class="item" onclick={{fn this.doShowAllColumns}}>
            {{this.themeInstance.columnsShowAllMsg}}
          </div>
        {{/if}}
        {{#if @columnDropdownOptions.hideAll}}
          <div role="button" class="item" onclick={{fn this.doHideAllColumns}}>
            {{this.themeInstance.columnsHideAllMsg}}
          </div>
        {{/if}}
        {{#if @columnDropdownOptions.restoreDefaults}}
          <div role="button" class="item" onclick={{fn this.doRestoreDefaultVisibility}}>
            {{this.themeInstance.columnsRestoreDefaultsMsg}}
          </div>
        {{/if}}
        {{#each @columnDropdownOptions.columnSets as |columnSet|}}
          <div role="button" class="item" onclick={{fn this.doToggleColumnSet columnSet}}>
            {{columnSet.label}}
          </div>
        {{/each}}
        <div role="button" class={{this.themeInstance.columnsDropdownDivider}}></div>
        {{#each @processedColumns as |column|}}
          {{#if @column.mayBeHidden}}
            <div role="button" class="item" onclick={{fn this.doToggleHidden column}}>
              <i class={{if column.isVisible this.themeInstance.columnVisibleIcon this.themeInstance.columnHiddenIcon}}>
              </i>
              {{@column.title}}
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
{{/if}}