{{#if (has-block)}}
  {{yield}}
{{else}}
  <div class={{themeInstance.columnsDropdownWrapper}}>
    <div class="ui simple dropdown item">
      <div class="text">{{themeInstance.columnsTitleMsg}}</div>
      <i class={{themeInstance.caretIcon}}></i>
      <div class="menu floating left">
        {{#if columnDropdownOptions.showAll}}
          <div class="item" {{action "doShowAllColumns" bubbles=false}}>
            {{themeInstance.columnsShowAllMsg}}
          </div>
        {{/if}}
        {{#if columnDropdownOptions.hideAll}}
          <div class="item" {{action "doHideAllColumns" bubbles=false}}>
            {{themeInstance.columnsHideAllMsg}}
          </div>
        {{/if}}
        {{#if columnDropdownOptions.restoreDefaults}}
          <div class="item" {{action "doRestoreDefaultVisibility" bubbles=false}}>
            {{themeInstance.columnsRestoreDefaultsMsg}}
          </div>
        {{/if}}
        {{#each columnDropdownOptions.columnSets as |columnSet|}}
          <div class="item" {{action "doToggleColumnSet" columnSet bubbles=false}}>
            {{columnSet.label}}
          </div>
        {{/each}}
        <div class={{themeInstance.columnsDropdownDivider}}></div>
        {{#each processedColumns as |column|}}
          {{#if column.mayBeHidden}}
            <div class="item" {{action "doToggleHidden" column bubbles=false}}>
              <i
                class={{if column.isVisible themeInstance.columnVisibleIcon themeInstance.columnHiddenIcon}}>
              </i>
              {{column.title}}
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
{{/if}}