{{#let
  (hash
    Select=(
      component this.themeInstance.selectComponent
      options=this.options
      value=this.value
      themeInstance=this.themeInstance
      class=this.themeInstance.changeGroupByField
    )
    sort=this.doSort
  )
as |DataGroupBySelect|
}}
  {{#if (has-block)}}
    {{yield DataGroupBySelect}}
  {{else}}
    <div class="ui label">{{this.themeInstance.groupByLabelMsg}}</div>
    <DataGroupBySelect.Select/>
    <button
      class={{this.themeInstance.sortGroupedPropertyBtn}}
      type="button"
      onclick={{this.doSort}}>
      <i
        class={{if
          (is-equal "asc" this.sortByGroupedFieldDirection)
          this.themeInstance.sortAscIcon
          this.themeInstance.sortDescIcon
        }}></i>
    </button>
  {{/if}}
{{/let}}
