{{#with
  (hash
    data-group-by-select=(
      component themeInstance.components.select
      options=options
      value=value
      themeInstance=themeInstance
      class=themeInstance.changeGroupByField
    )
    themeInstance=themeInstance
    pageSizeOptions=pageSizeOptions
    pageSize=pageSize
    sort=sort
  )
as |dgbs|}}
  {{#if hasBlock}}
    {{yield dgbs}}
  {{else}}
    <div class={{themeInstance.dataGroupBySelectWrapper}}>
      <div class="ui label">{{themeInstance.messages.groupByLabel}}</div>
      {{component dgbs.data-group-by-select}}
      <button
        class={{themeInstance.sortGroupedPropertyBtn}}
        onclick={{action "sort"}}>
        <i
          class={{if
            (is-equal "asc" sortByGroupedFieldDirection)
            themeInstance.sort-asc
            themeInstance.sort-desc}}>
        </i>
      </button>
    </div>
  {{/if}}
{{/with}}