<a
  href="#"
  role="button"
  class={{concat themeInstance.buttonLink " " themeInstance.expandAllRows}}
  {{action "doExpandAllRows" bubbles=false}}>
  <i class={{themeInstance.expandAllRowsIcon}}></i>
</a>
<br>
<a
  href="#"
  role="button"
  class={{concat themeInstance.buttonLink " " themeInstance.collapseAllRows}}
  {{action "doCollapseAllRows" bubbles=false}}>
  <i class={{themeInstance.collapseAllRowsIcon}}></i>
</a>
{{yield}}