<a
  href="#"
  role="button"
  class={{concat this.themeInstance.buttonLink " " this.themeInstance.expandAllRows}}
  onclick={{fn this.doExpandAllRows}}>
  <i class={{this.themeInstance.expandAllRowsIcon}}></i>
</a>
<br>
<a
  href="#"
  role="button"
  class={{concat this.themeInstance.buttonLink " " this.themeInstance.collapseAllRows}}
  onclick={{fn this.doCollapseAllRows}}>
  <i class={{this.themeInstance.collapseAllRowsIcon}}></i>
</a>
{{yield}}