<div class="globalSearch">
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    <label for={{this.inputId}} class="ui label">
      {{this.themeInstance.searchLabelMsg}}
    </label>
    <Input
      id={{this.inputId}}
      type="text"
      value={{this.value}}
      @enter={{this.noop}}
      class="filterString"
      placeholder={{this.themeInstance.searchPlaceholderMsg}}/>
    {{#if this.globalFilterUsed}}
      <i
        class="clearFilterIcon {{this.themeInstance.clearFilterIcon}}"
        role="button"
        aria-label={{this.themeInstance.clearGlobalFilterMsg}}
        onclick={{fn (mut this.value) ""}}>
      </i>
    {{/if}}
  {{/if}}
</div>