{{#if (has-block)}}
  {{yield
    (hash
      themeInstance=themeInstance
    )}}
{{else}}
  <div class="globalSearch {{themeInstance.globalFilterWrapper}}">
    <div class="ui label">
      {{themeInstance.messages.searchLabel}}
    </div>
    {{input
      type="text"
      value=value
      enter=(action "noop")
      class="filterString"
      placeholder=themeInstance.messages.searchPlaceholder}}
    {{#if globalFilterUsed}}
      <i
        class="clearFilterIcon {{themeInstance.clearFilterIcon}}"
        onclick={{action (mut value) ""}}>
      </i>
    {{/if}}
  </div>
{{/if}}