{{#if (has-block)}}
  {{yield}}
{{else}}
  <div class="globalSearch {{themeInstance.globalFilterWrapper}}">
    <label for={{inputId}} class="ui label">
      {{themeInstance.searchLabelMsg}}
    </label>
    {{input
      id=inputId
      type="text"
      value=value
      enter=(action "noop")
      class="filterString"
      placeholder=themeInstance.searchPlaceholderMsg}}
    {{#if globalFilterUsed}}
      <i
        class="clearFilterIcon {{themeInstance.clearFilterIcon}}"
        role="button"
        aria-label={{themeInstance.clearGlobalFilterMsg}}
        onclick={{action (mut value) ""}}>
      </i>
    {{/if}}
  </div>
{{/if}}