{{#with
  (hash
    select=(
      component themeInstance.components.select
      options=pageSizeOptions
      value=pageSize
      type=type
      themeInstance=themeInstance
      sendAction=sendAction
      class="changePageSize"
    )
    themeInstance=themeInstance
    pageSizeOptions=pageSizeOptions
    pageSize=pageSize
    sendAction=sendAction
  )
as |pss|}}
  {{#if hasBlock}}
    {{yield pss}}
  {{else}}
    <form class={{themeInstance.form}}>
      <div class={{themeInstance.formElementWrapper}}>
        <label>{{themeInstance.messages.rowsCount}}</label>
        {{component pss.select}}
      </div>
    </form>
  {{/if}}
{{/with}}