{{#if hasBlock}}
  {{yield
    (hash
      goToPage=goToPage
      gotoFirst=(action "gotoFirst")
      gotoPrev=(action "gotoPrev")
      gotoNext=(action "gotoNext")
      gotoLast=(action "gotoLast")
      gotoBackEnabled=gotoBackEnabled
      gotoForwardEnabled=gotoForwardEnabled
      sendAction=sendAction
      themeInstance=themeInstance
    )}}
{{else}}
  <div class={{themeInstance.paginationBlock}}>
    <button
      class="{{themeInstance.buttonDefault}} {{if gotoBackEnabled "enabled" "disabled"}}"
      {{action "gotoFirst"}}>
      <i class={{themeInstance.nav-first}}></i>
    </button>
    <button
      class="{{themeInstance.buttonDefault}} {{if gotoBackEnabled "enabled" "disabled"}}"
      {{action "gotoPrev"}}>
      <i class={{themeInstance.nav-prev}}></i>
    </button>
    <button
      class="{{themeInstance.buttonDefault}} {{if gotoForwardEnabled "enabled" "disabled"}}"
      {{action "gotoNext"}}>
      <i class={{themeInstance.nav-next}}></i>
    </button>
    <button
      class="{{themeInstance.buttonDefault}} {{if gotoForwardEnabled "enabled" "disabled"}}"
      {{action "gotoLast"}}>
      <i class={{themeInstance.nav-last}}></i>
    </button>
  </div>
{{/if}}