{{#let
  (hash
    PageNumberSelect=(component
      themeInstance.selectComponent
      id=inputId
      options=currentPageNumberOptions
      value=currentPageNumber
      type="number"
      themeInstance=themeInstance)
    goToPage=goToPage
    goToFirst=(action "gotoFirst")
    goToPrev=(action "gotoPrev")
    goToNext=(action "gotoNext")
    goToLast=(action "gotoLast")
    goToBackEnabled=goToBackEnabled
    goToForwardEnabled=goToForwardEnabled
  )
as |Pagination|}}
  {{#if (has-block)}}
    {{yield Pagination}}
  {{else}}
    <div class={{themeInstance.currentPageSizeSelectWrapper}}>
      <div class="inline fields">
        {{#if showCurrentPageNumberSelect}}
          <label for={{inputId}}>{{themeInstance.currentPageNumberMsg}}</label>
          <div class="field">
            <Pagination.PageNumberSelect/>
          </div>
        {{/if}}
        <div class="field">
          <div class={{themeInstance.paginationBlock}}>
            <button
              class="{{themeInstance.buttonDefault}} {{if goToBackEnabled "enabled" "disabled"}}"
              aria-label={{themeInstance.goToFirstPageButtonTextMsg}}
              {{action "gotoFirst"}}>
              <i class={{themeInstance.navFirstIcon}}></i>
            </button>
            <button
              class="{{themeInstance.buttonDefault}} {{if goToBackEnabled "enabled" "disabled"}}"
              aria-label={{themeInstance.goToPrevPageButtonTextMsg}}
              {{action "gotoPrev"}}>
              <i class={{themeInstance.navPrevIcon}}></i>
            </button>
            <button
              class="{{themeInstance.buttonDefault}} {{if goToForwardEnabled "enabled" "disabled"}}"
              aria-label={{themeInstance.goToNextPageButtonTextMsg}}
              {{action "gotoNext"}}>
              <i class={{themeInstance.navNextIcon}}></i>
            </button>
            <button
              class="{{themeInstance.buttonDefault}} {{if goToForwardEnabled "enabled" "disabled"}}"
              aria-label={{themeInstance.goToLastPageButtonTextMsg}}
              {{action "gotoLast"}}>
              <i class={{themeInstance.navLastIcon}}></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
{{/let}}