{{#if hasBlock}}
  {{yield
    (hash
      goToPage=goToPage
      gotoFirst=(action "gotoFirst")
      gotoPrev=(action "gotoPrev")
      gotoNext=(action "gotoNext")
      gotoLast=(action "gotoLast")
      gotoBackEnabled=gotoBackEnabled
      gotoForwardEnabled=gotoForwardEnabled
      themeInstance=themeInstance
    )}}
{{else}}
  <div class={{themeInstance.currentPageSizeSelectWrapper}}>
    <div class="inline fields">
      {{#if showCurrentPageNumberSelect}}
        <label for={{inputId}}>{{themeInstance.messages.currentPageNumber}}</label>
        <div class="field">
          {{component
            themeInstance.components.select
            id=inputId
            options=currentPageNumberOptions
            value=currentPageNumber
            type="number"
            themeInstance=themeInstance}}
        </div>
      {{/if}}
      <div class="field">
        <div class={{themeInstance.paginationBlock}}>
          <button
            type="button"
            class="{{themeInstance.buttonDefault}} {{if gotoBackEnabled "enabled" "disabled"}}"
            aria-label={{themeInstance.messages.goToFirstPageButtonText}}
            {{action "gotoFirst"}}>
            <i class={{themeInstance.nav-first}}></i>
          </button>
          <button
            type="button"
            class="{{themeInstance.buttonDefault}} {{if gotoBackEnabled "enabled" "disabled"}}"
            aria-label={{themeInstance.messages.goToPrevPageButtonText}}
            {{action "gotoPrev"}}>
            <i class={{themeInstance.nav-prev}}></i>
          </button>
          <button
            type="button"
            class="{{themeInstance.buttonDefault}} {{if gotoForwardEnabled "enabled" "disabled"}}"
            aria-label={{themeInstance.messages.goToNextPageButtonText}}
            {{action "gotoNext"}}>
            <i class={{themeInstance.nav-next}}></i>
          </button>
          <button
            type="button"
            class="{{themeInstance.buttonDefault}} {{if gotoForwardEnabled "enabled" "disabled"}}"
            aria-label={{themeInstance.messages.goToLastPageButtonText}}
            {{action "gotoLast"}}>
            <i class={{themeInstance.nav-last}}></i>
          </button>
        </div>
      </div>
    </div>
  </div>

{{/if}}
