{{#let
  (hash
    PageNumberSelect=(
      component this.themeInstance.selectComponent
      id=this.inputId
      options=this.currentPageNumberOptions
      value=this.currentPageNumber
      type="number"
      themeInstance=this.themeInstance)
    visiblePageNumbers=this.visiblePageNumbers) as |Pagination|}}
  {{#if (has-block)}}
    {{yield Pagination}}
  {{else}}
    <div class={{this.themeInstance.currentPageSizeSelectWrapper}}>
      <div class="inline fields">
        {{#if @showCurrentPageNumberSelect}}
          <label for={{this.inputId}}>{{this.themeInstance.currentPageNumberMsg}}</label>
          <div class="field">
            <Pagination.PageNumberSelect/>
          </div>
        {{/if}}
        <div class="field">
          <div class={{this.themeInstance.paginationBlock}}>
            {{#each this.visiblePageNumbers as |page|}}
              {{#if page.isLink}}
                <button
                  class="{{this.themeInstance.buttonDefault}} {{if page.isActive "active"}}"
                  type="button"
                  onclick={{fn this.gotoCustomPage page.label}}>
                  {{page.label}}
                </button>
              {{else}}
                <button
                  disabled="disabled"
                  type="button"
                  class={{this.themeInstance.buttonDefault}}>
                  {{page.label}}
                </button>
              {{/if}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  {{/if}}
{{/let}}