{{#let
  (hash
    PageNumberSelect=(component
      this.themeInstance.selectComponent
      id=this.inputId
      options=this.currentPageNumberOptions
      value=this.currentPageNumber
      type="number"
      themeInstance=this.themeInstance)
    goToPage=this.goToPage
    goToFirst=this.gotoFirst
    goToPrev=this.gotoPrev
    goToNext=this.gotoNext
    goToLast=this.gotoLast
    goToBackEnabled=this.goToBackEnabled
    goToForwardEnabled=this.goToForwardEnabled
  )
as |Pagination|
}}
  {{#if (has-block)}}
    {{yield Pagination}}
  {{else}}
    <div class={{this.themeInstance.currentPageSizeSelectWrapper}}>
      <div class="inline fields">
        {{#if this.showCurrentPageNumberSelect}}
          <label for={{this.inputId}}>{{this.themeInstance.currentPageNumberMsg}}</label>
          <div class="field">
            <Pagination.PageNumberSelect/>&nbsp;
          </div>
        {{/if}}
        <div class="field">
          <div class={{this.themeInstance.paginationBlock}}>
            <button
              type="button"
              class="{{this.themeInstance.buttonDefault}} {{if this.goToBackEnabled "enabled" "disabled"}}"
              aria-label={{this.themeInstance.goToFirstPageButtonTextMsg}}
              onclick={{fn this.gotoFirst}}>
              <i class={{this.themeInstance.navFirstIcon}}></i>
            </button>
            <button
              type="button"
              class="{{this.themeInstance.buttonDefault}} {{if this.goToBackEnabled "enabled" "disabled"}}"
              aria-label={{this.themeInstance.goToPrevPageButtonTextMsg}}
              onclick={{fn this.gotoPrev}}>
              <i class={{this.themeInstance.navPrevIcon}}></i>
            </button>
            <button
              type="button"
              class="{{this.themeInstance.buttonDefault}} {{if this.goToForwardEnabled "enabled" "disabled"}}"
              aria-label={{this.themeInstance.goToNextPageButtonTextMsg}}
              onclick={{fn this.gotoNext}}>
              <i class={{this.themeInstance.navNextIcon}}></i>
            </button>
            <button
              type="button"
              class="{{this.themeInstance.buttonDefault}} {{if this.goToForwardEnabled "enabled" "disabled"}}"
              aria-label={{this.themeInstance.goToLastPageButtonTextMsg}}
              onclick={{fn this.gotoLast}}>
              <i class={{this.themeInstance.navLastIcon}}></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
{{/let}}