{{#if @column.componentForFilterCell}}
  {{#let
    (component
      @column.componentForFilterCell
      column=this.column
      data=this.data
      selectedItems=this.selectedItems
      expandedItems=this.expandedItems
      themeInstance=this.themeInstance
      expandAllRows=this.expandAllRows
      collapseAllRows=this.collapseAllRows
      toggleAllSelection=this.toggleAllSelection)
  as |CellContent|}}
    {{#if (has-block)}}
      {{yield CellContent}}
    {{else}}
      <CellContent/>
    {{/if}}
  {{/let}}
{{else}}
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    {{#if @column.useFilter}}
      {{#if @column.filterWithSelect}}
        <div class="select ui icon">
          <label for={{this.inputId}} class="ui label emt-sr-only">{{@column.title}}</label>
          {{#let
            (component
              this.themeInstance.selectComponent
              options=this.column.filterOptions
              cssPropertyName=this.column.cssPropertyName
              value=this.column.filterString
              themeInstance=this.themeInstance
              class=(concat this.themeInstance.input " changeFilterForColumn")
              expandAllRows=this.expandAllRows
              collapseAllRows=this.collapseAllRows)
          as |DefaultSelect|}}
            <DefaultSelect/>
          {{/let}}
          {{#if @column.filterUsed}}
            <i
              role="button"
              class="clearFilterIcon {{this.themeInstance.clearFilterIcon}}"
              onclick={{fn (mut @column.filterString) ""}}>
            </i>
          {{/if}}
        </div>
      {{else}}
        <div class="ui icon input">
          <label for={{this.inputId}} class="ui label emt-sr-only">{{@column.title}}</label>
          <Input
            type="text"
            value={{@column.filterString}}
            class={{this.themeInstance.input}}
            @enter={{this.noop}}
            placeholder={{@column.filterPlaceholder}}/>
          {{#if @column.filterUsed}}
            <i
              class="clearFilterIcon {{this.themeInstance.clearFilterIcon}}"
              role="button"
              aria-label={{this.themeInstance.clearFilterMsg}}
              onclick={{fn (mut @column.filterString) ""}}>
            </i>
          {{/if}}
        </div>
      {{/if}}
    {{/if}}
  {{/if}}
{{/if}}