{{#if hasBlock}}
  {{yield
    (hash
      anyFilterUsed=anyFilterUsed
      summary=summary
      clearFilters=clearFilters
      firstIndex=firstIndex
      lastIndex=lastIndex
      recordsCount=recordsCount
    )}}
{{else}}
  <form class={{themeInstance.form}}>
    <div class={{themeInstance.formElementWrapper}}>
      <label>
        {{summary}}
        {{#if anyFilterUsed}}
          <a
            href="#"
            class="clearFilters"
            {{action "clearFilters"}}>
            <i class={{themeInstance.clearAllFiltersIcon}}></i>
          </a>
        {{/if}}
      </label>
    </div>
  </form>
{{/if}}