{{#if (has-block)}}
  {{yield
    (hash
      summary=this.summary
    )
  }}
{{else}}
  <form class={{this.themeInstance.form}}>
    <div class={{this.themeInstance.formElementWrapper}}>
      <label>
        {{this.summary}}
        <a
          href="#"
          role="button"
          class={{concat "clearFilters " (unless this.anyFilterUsed "hidden transition")}}
          onclick={{fn this.doClearFilters}}>
          <i class={{this.themeInstance.clearAllFiltersIcon}}></i>
          <span class="emt-sr-only">{{this.themeInstance.clearAllFiltersMsg}}</span>
        </a>
      </label>
    </div>
  </form>
{{/if}}
