{{#if (has-block)}}
  {{yield
    (hash
      anyFilterUsed=anyFilterUsed
      summary=summary
      clearFilters=doClearFilters
      firstIndex=firstIndex
      lastIndex=lastIndex
      recordsCount=recordsCount
    )}}
{{else}}
  <form class={{themeInstance.form}}>
    <div class={{themeInstance.formElementWrapper}}>
      <label>
        {{summary}}
        <a
          href="#"
          role="button"
          class={{concat "clearFilters " (unless anyFilterUsed "hidden transition")}}
          {{action "doClearFilters"}}>
          <i class={{themeInstance.clearAllFiltersIcon}}></i>
          <span class="emt-sr-only">{{themeInstance.messages.clearAllFilters}}</span>
        </a>
      </label>
    </div>
  </form>
{{/if}}
