<div class={{if @column.filterUsed "has-feedback"}}>
  <ModelsTable::Themes::EmberPaper::Select
    @options={{this.filterOptions}}
    @cssPropertyName={{@column.cssPropertyName}}
    @value={{@column.filterString}}
    @changeValue={{this.onChangeColumnFilter}}
    class={{concat @themeInstance.input " changeFilterForColumn"}}/>
  {{#if @column.filterUsed}}
    <i
      class="clearFilterIcon {{@themeInstance.clearFilterIcon}}"
      role="button"
      aria-label={{@themeInstance.clearFilterMsg}}
      {{on "click" this.clearFilter}}>
    </i>
  {{/if}}
</div>
{{yield}}
