{{#if (has-block)}}
  {{yield}}
{{else}}
  <BsDropdown
    class={{this.themeInstance.columnsDropdownWrapper}}
    @closeOnMenuClick={{false}}
  as |Dropdown|>
    <Dropdown.toggle @tagName="button" class={{this.themeInstance.buttonDefault}}>
      {{this.themeInstance.columnsTitleMsg}}
    </Dropdown.toggle>
    <Dropdown.menu
      @align="right"
    as |Menu|>
      {{#if this.columnDropdownOptions.showAll}}
        <Menu.item>
          <a
            href="#"
            class="dropdown-item"
            onclick={{fn this.doShowAllColumns}}>
            {{this.themeInstance.columnsShowAllMsg}}
          </a>
        </Menu.item>
      {{/if}}
      {{#if this.columnDropdownOptions.hideAll}}
        <Menu.item>
          <a
            href="#"
            class="dropdown-item"
            onclick={{fn this.doHideAllColumns}}>
            {{this.themeInstance.columnsHideAllMsg}}
          </a>
        </Menu.item>
      {{/if}}
      {{#if this.columnDropdownOptions.restoreDefaults}}
        <Menu.item>
          <a
            href="#"
            class="dropdown-item"
            onclick={{fn this.doRestoreDefaultVisibility}}>
            {{this.themeInstance.columnsRestoreDefaultsMsg}}
          </a>
        </Menu.item>
      {{/if}}
      {{#each this.columnDropdownOptions.columnSets as |columnSet|}}
        <Menu.item>
          <a
            href="#"
            class="dropdown-item"
            onclick={{fn this.doToggleColumnSet columnSet}}>
            {{columnSet.label}}
          </a>
        </Menu.item>
      {{/each}}
      <Menu.divider/>
      {{#each this.processedColumns as |column|}}
        {{#if column.mayBeHidden}}
          <Menu.item>
            <a
              href="#"
              class="dropdown-item"
              onclick={{fn this.doToggleHidden column}}>
              <i
                class={{if column.isVisible this.themeInstance.columnVisibleIcon this.themeInstance.columnHiddenIcon}}>
              </i>
              {{column.title}}
            </a>
          </Menu.item>
        {{/if}}
      {{/each}}
    </Dropdown.menu>
  </BsDropdown>
{{/if}}
