{{#if (has-block)}}
  {{yield
    (hash
      themeInstance=themeInstance
      columnDropdownOptions=columnDropdownOptions
      processedColumns=processedColumns
      showAllColumns=(action "doShowAllColumns")
      hideAllColumns=(action "doHideAllColumns")
      restoreDefaultVisibility=(action "doRestoreDefaultVisibility")
      toggleColumnSet=(action "doToggleColumnSet")
      toggleHidden=(action "doToggleHidden")
    )}}
{{else}}
  <BsDropdown
    class={{themeInstance.columnsDropdownWrapper}}
    @closeOnMenuClick={{false}}
  as |Dropdown|>
    <Dropdown.toggle @tagName="button" class={{themeInstance.buttonDefault}}>
      {{themeInstance.columnsTitleMsg}}
    </Dropdown.toggle>
    <Dropdown.menu
      align="right"
    as |Menu|>
      {{#if columnDropdownOptions.showAll}}
        <Menu.item>
          <a
            href="#"
            class="dropdown-item"
            {{action "doShowAllColumns" bubbles=false}}>
            {{themeInstance.columnsShowAllMsg}}
          </a>
        </Menu.item>
      {{/if}}
      {{#if columnDropdownOptions.hideAll}}
        <Menu.item>
          <a
            href="#"
            class="dropdown-item"
            {{action "doHideAllColumns" bubbles=false}}>
            {{themeInstance.columnsHideAllMsg}}
          </a>
        </Menu.item>
      {{/if}}
      {{#if columnDropdownOptions.restoreDefaults}}
        <Menu.item>
          <a
            href="#"
            class="dropdown-item"
            {{action "doRestoreDefaultVisibility" bubbles=false}}>
            {{themeInstance.columnsRestoreDefaultsMsg}}
          </a>
        </Menu.item>
      {{/if}}
      {{#each columnDropdownOptions.columnSets as |columnSet|}}
        <Menu.item>
          <a
            href="#"
            class="dropdown-item"
            {{action "doToggleColumnSet" columnSet bubbles=false}}>
            {{columnSet.label}}
          </a>
        </Menu.item>
      {{/each}}
      <Menu.divider/>
      {{#each processedColumns as |column|}}
        {{#if column.mayBeHidden}}
          <Menu.item>
            <a
              href="#"
              class="dropdown-item"
              {{action "doToggleHidden" column bubbles=false}}>
              <i
                class={{if column.isVisible themeInstance.columnVisibleIcon themeInstance.columnHiddenIcon}}>
              </i>
              {{column.title}}
            </a>
          </Menu.item>
        {{/if}}
      {{/each}}
    </Dropdown.menu>
  </BsDropdown>
{{/if}}
