{{#with
  (hash
    data-group-by-select=(
      component
      themeInstance.components.select
      options=options
      value=value
      themeInstance=themeInstance
      class=themeInstance.changeGroupByField
    )
    themeInstance=themeInstance
    pageSizeOptions=pageSizeOptions
    pageSize=pageSize
    sort=sort
  )
as |dgbs|}}
  {{#if hasBlock}}
    {{yield dgbs}}
  {{else}}
    <div class={{themeInstance.dataGroupBySelectWrapper}}>
      {{! template-lint-disable attribute-indentation }}
      {{#bs-form
        formLayout="inline"
        class="globalSearch"
        model=this
        onSubmit=(action "noop")
      as |form|}}
        {{#form.element class="input-group" as |el|}}
          {{#if themeInstance.messages.groupByLabel}}
            <div class="input-group-prepend">
              <span class="input-group-text">{{themeInstance.messages.groupByLabel}}</span>
            </div>
          {{/if}}
          {{component dgbs.data-group-by-select id=el.id}}
          <div class="input-group-append">
            {{#bs-button
              class=themeInstance.sortGroupedPropertyBtn
              type="secondary"
              onClick=(action "sort")
              buttonType="link"}}
              <i
                class={{if
                (is-equal sortByGroupedFieldDirection "asc")
                themeInstance.sort-asc
                themeInstance.sort-desc}}>
              </i>
            {{/bs-button}}
          </div>
        {{/form.element}}
      {{/bs-form}}
    </div>
  {{/if}}
{{/with}}