{{#let
  (hash
    Select=(
      component
      this.themeInstance.selectComponent
      options=this.options
      value=this.value
      themeInstance=this.themeInstance
      class=this.themeInstance.changeGroupByField
    )
    sort=this.doSort
  )
as |DataGroupBySelect|
}}
  {{#if (has-block)}}
    {{yield DataGroupBySelect}}
  {{else}}
    <BsForm
      class="globalSearch"
      @formLayout="inline"
      @model={{this}}
      @onSubmit={{this.noop}}
    as |Form|>
      <Form.element
        @property="value"
        class="input-group"
      as |GroupByField|>
        {{#if this.themeInstance.groupByLabelMsg}}
          <div class="input-group-prepend">
            <span class="input-group-text">{{this.themeInstance.groupByLabelMsg}}</span>
          </div>
        {{/if}}
        <DataGroupBySelect.Select
          @id={{GroupByField.id}}
          @value={{GroupByField.value}}/>
        <div class="input-group-append">
          <BsButton
            class={{this.themeInstance.sortGroupedPropertyBtn}}
            @type="secondary"
            @onClick={{this.doSort}}
            @buttonType="link">
            <i
              class={{if
                (is-equal this.sortByGroupedFieldDirection "asc")
                this.themeInstance.sortAscIcon
                this.themeInstance.sortDescIcon
              }}></i>
          </BsButton>
        </div>
      </Form.element>
    </BsForm>
  {{/if}}
{{/let}}
