{{#let
  (hash
    Select=(
      component
      themeInstance.components.select
      options=options
      value=value
      themeInstance=themeInstance
      class=themeInstance.changeGroupByField
    )
    themeInstance=themeInstance
    sort=doSort
  )
as |DataGroupBySelect|}}
  {{#if (has-block)}}
    {{yield DataGroupBySelect}}
  {{else}}
    <div class={{themeInstance.dataGroupBySelectWrapper}}>
      <BsForm
        class="globalSearch"
        @formLayout="inline"
        @model={{this}}
        @onSubmit={{action "noop"}}
      as |Form|>
        <Form.element
          @property="value"
          class="input-group"
        as |GroupByField|>
          {{#if themeInstance.messages.groupByLabel}}
            <div class="input-group-prepend">
              <span class="input-group-text">{{themeInstance.messages.groupByLabel}}</span>
            </div>
          {{/if}}
          <DataGroupBySelect.Select
            @id={{GroupByField.id}}
            @value={{GroupByField.value}}/>
          <div class="input-group-append">
            <BsButton
              class={{themeInstance.sortGroupedPropertyBtn}}
              @type="secondary"
              @onClick={{action "doSort"}}
              @buttonType="link">
              <i
                class={{if
                (is-equal sortByGroupedFieldDirection "asc")
                themeInstance.sort-asc
                themeInstance.sort-desc}}>
              </i>
            </BsButton>
          </div>
        </Form.element>
      </BsForm>
    </div>
  {{/if}}
{{/let}}
