{{#if (has-block)}}
  {{yield}}
{{else}}
  <BsForm
    class="globalSearch"
    @formLayout="inline"
    @model={{this}}
    @onSubmit={{this.noop}}
  as |Form|>
    <Form.element
      class="input-group"
      @property="value"
      type="text"
    as |GlobalFilter|>
      {{#if this.themeInstance.searchLabelMsg}}
        <div class="input-group-prepend">
          <label for={{GlobalFilter.id}} class="input-group-text">{{this.themeInstance.searchLabelMsg}}</label>
        </div>
      {{/if}}
      <GlobalFilter.control placeholder={{this.themeInstance.searchPlaceholderMsg}} class="filterString"/>
      <div class="input-group-append">
        <BsButton
          class={{concat "clearFilterIcon " this.themeInstance.buttonLink}}
          disabled={{unless this.globalFilterUsed "disabled"}}
          @outline={{true}}
          @onClick={{fn this.clearGlobalFilter}}>
          <i class={{this.themeInstance.clearFilterIcon}}></i>
          <span class="emt-sr-only">{{this.themeInstance.clearGlobalFilterMsg}}</span>
        </BsButton>
      </div>
    </Form.element>
  </BsForm>
{{/if}}
