{{#if hasBlock}}
  {{yield
    (hash
      column=column
      selectedItems=selectedItems
      expandedItems=expandedItems
      themeInstance=themeInstance
      expandAllRows=expandAllRows
      collapseAllRows=collapseAllRows
      toggleAllSelection=toggleAllSelection
    )}}
{{else}}
  {{#if column.componentForFilterCell}}
    {{#with
      (component
        column.componentForFilterCell
        column=column
        selectedItems=selectedItems
        expandedItems=expandedItems
        themeInstance=themeInstance
        expandAllRows=expandAllRows
        collapseAllRows=collapseAllRows
        toggleAllSelection=toggleAllSelection
      ) as |FilterCellContent|}}
      <FilterCellContent/>
    {{/with}}
  {{else}}
    {{#if column.useFilter}}
      <BsForm
        @model={{column}}
          @onSubmit={{action "noop"}}
        as |Form|>
        {{#if column.filterWithSelect}}
          <Form.element
            @property="filterString"
            class="input-group"
            as |FilterSelect|>
            {{#with
              (component
                themeInstance.components.select
                id=FilterSelect.id
                options=column.filterOptions
                cssPropertyName=column.cssPropertyName
                value=column.filterString
                themeInstance=themeInstance
                class=(concat themeInstance.input " changeFilterForColumn")
                expandAllRows=expandAllRows
                collapseAllRows=collapseAllRows)
            as |DefaultSelect|}}
              <DefaultSelect/>
            {{/with}}
            <div class="input-group-append">
              <BsButton
                class={{concat "clearFilterIcon btn-outline-secondary " themeInstance.buttonLink}}
                @type="secondary"
                @disabled={{unless column.filterUsed "disabled"}}
                @onClick={{action (mut column.filterString) ""}}>
                <i class={{themeInstance.clearFilterIcon}}></i>
              </BsButton>
            </div>
          </Form.element>
        {{else}}
          <Form.element
            class="filterString input-group"
            @placeholder={{column.filterPlaceholder}}
            @property="filterString"
            @type="text"
            as |FilterInput|>
            <input
              value={{FilterInput.value}}
              class="form-control"
              placeholder={{column.filterPlaceholder}}
              oninput={{action (mut FilterInput.value) value="target.value"}}
              onchange={{action (mut FilterInput.value) value="target.value"}}
              id={{FilterInput.id}}>
            <div class="input-group-append">
              <BsButton
                class={{concat "clearFilterIcon btn-outline-secondary " themeInstance.buttonLink}}
                @type="secondary"
                @disabled={{unless column.filterUsed "disabled"}}
                @onClick={{action (mut column.filterString) ""}}>
                <i class={{themeInstance.clearFilterIcon}}></i>
              </BsButton>
            </div>
          </Form.element>
        {{/if}}
      </BsForm>
    {{else}}
      &nbsp;
    {{/if}}
  {{/if}}
{{/if}}