{{#if fw.isBs3}}
  <TopNavBs3 />
  <div class={{containerClass}}>
    <h2>Install</h2>
    <pre>ember install ember-models-table@3</pre>
    {{outlet}}
  </div>
{{/if}}
{{#if fw.isBs4}}
  <TopNavBs4 />
  <div class={{containerClass}}>
    <h2>Install</h2>
    <pre>ember install ember-models-table@3</pre>
    {{outlet}}
  </div>
{{/if}}
{{#if fw.isSemanticUI}}
  <TopNavSemantic />
  <div class={{containerClass}}>
    <h2>Install</h2>
    <pre>ember install ember-models-table@3</pre>
    {{outlet}}
  </div>
{{/if}}
{{#if fw.isPaper}}
  <TopNavPaper />
  <PaperContent scroll-y="true" class="layout-padding flex">
    <h2>Install</h2>
    <pre>ember install ember-models-table@3</pre>
    <div id="main" class="flex layout-column" tabindex="-1" role="main">
      {{#paper-toolbar accent=true class="md-whiteframe-1dp" as |toolbar|}}
        {{#toolbar.tools}}
          <span class="flex"><strong>IMPORTANT!</strong> Styles for ember-paper themes are <strong>NOT</strong> included to the package. You should use your own or copy it from <a href="https://github.com/onechiporenko/ember-models-table/blob/master/tests/dummy/app/styles/app.scss" target="_blank" rel="noopener">dummy/app.scss</a>.</span>
        {{/toolbar.tools}}
      {{/paper-toolbar}}
      {{outlet}}
    </div>
  </PaperContent>
{{/if}}