<h3>Examples</h3>
{{#if this.fw.isBs4}}
  <ExamplesNavBs4 @routes={{this.routes}} />
  {{outlet}}
{{/if}}
{{#if this.fw.isBs5}}
  <ExamplesNavBs5 @routes={{this.routes}} />
  {{outlet}}
{{/if}}
{{#if this.fw.isPlainHtml}}
  <ExamplesNavPlainHtml @routes={{this.routes}} />
  {{outlet}}
{{/if}}
{{#if this.fw.isPaper}}
  <ExamplesNavPaper @routes={{this.routes}} />
  <this.PaperCard as |card|>
    <card.content>
      {{outlet}}
    </card.content>
  </this.PaperCard>
{{/if}}
{{#if this.fw.isDefault}}
  {{outlet}}
{{/if}}