<h3>Examples</h3>
{{#if this.fw.isBs3}}
  <ExamplesNavBs3 @routes={{this.routes}} />
  {{outlet}}
{{/if}}
{{#if this.fw.isBs4}}
  <ExamplesNavBs4 @routes={{this.routes}} />
  {{outlet}}
{{/if}}
{{#if this.fw.isPlainHtml}}
  <ExamplesNavPlainHtml @routes={{this.routes}} />
  {{outlet}}
{{/if}}
{{#if this.fw.isSemanticUI}}
  <div class="ui grid">
    <div class="three wide column">
      <ExamplesNavSemantic @routes={{this.routes}} />
    </div>
    <div class="thirteen wide column">
      {{outlet}}
    </div>
  </div>
{{/if}}
{{#if this.fw.isPaper}}
  <ExamplesNavPaper @routes={{this.routes}} />
  <PaperCard as |card|>
    <card.content>
      {{outlet}}
    </card.content>
  </PaperCard>
{{/if}}