<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h3>Component's options</h3>
      <table class="table-striped table-bordered table-condensed table">
        <thead>
          <tr>
            <td>Option</td>
            <td>Type</td>
            <td>Default value</td>
            <td>Description</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>data</code></td>
            <td>Ember.Object[]</td>
            <td><pre>[]</pre></td>
            <td><p>All table records</p></td>
          </tr>
          <tr>
            <td><code>columns</code></td>
            <td>Object[]</td>
            <td><pre>[]</pre></td>
            <td>
              <p>All table columns</p>
              <p>Each column may have such fields:</p>
              <table class="table table-condensed table-column-options">
                <tbody>
                  <tr>
                    <td><code>propertyName</code></td>
                    <td>String</td>
                    <td><p>Field-name of the data's object shown in the current column. If it isn't provided, sorting and filtering options for current column are ignored</p></td>
                  </tr>
                  <tr>
                    <td><code>title</code></td>
                    <td>String</td>
                    <td><p>Header for column. If it isn't provided, capitalized <code>propertyName</code> is used</p></td>
                  </tr>
                  <tr>
                    <td><code>template</code></td>
                    <td>String</td>
                    <td><p>Custom template for each cell in the current column</p></td>
                  </tr>
                  <tr>
                    <td><code>sortedBy</code></td>
                    <td>String</td>
                    <td><p>Field-name for sorting by current column. If it isn't provided, <code>propertyName</code> is used</p></td>
                  </tr>
                  <tr>
                    <td><code>isHidden</code></td>
                    <td>Boolean</td>
                    <td><p>Is current column hidden by default</p></td>
                  </tr>
                  <tr>
                    <td><code>mayBeHidden</code></td>
                    <td>Boolean</td>
                    <td><p>Is current column me be hidden. This field determines, if column appears in the columns-dropdown. If <code>mayBeHidden</code> is <code>true</code> and <code>isHidden</code> is also <code>true</code> for current column, this column always be hidden</p></td>
                  </tr>
                  <tr>
                    <td><code>filterWithSelect</code></td>
                    <td>Boolean</td>
                    <td><p>If <code>true</code> select-dropdown will be used for filtering by current column. Options are unique values for <code>data.@each.${propertyName}</code></p></td>
                  </tr>
                  <tr>
                    <td><code>predefinedFilterOptions</code></td>
                    <td>String[]</td>
                    <td><p>List of predefined options for select-dropdown. Used if <code>filterWithSelect</code> is <code>true</code>. It isn't overrode with <code>data.@each.${propertyName}</code></p></td>
                  </tr>
                  <tr>
                    <td><code>className</code></td>
                    <td>String</td>
                    <td>Custom class-name for cells in the current column</td>
                  </tr>
                  <tr>
                    <td><code>filterFunction</code></td>
                    <td>Function</td>
                    <td>Custom function used to filter rows (used if <code>filterWithSelect</code> is false)</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td><code>tableStriped</code></td>
            <td>Boolean</td>
            <td><pre>{{c.tableStriped}}</pre></td>
            <td><p>Determines if `table-striped`-class should be added to the table</p></td>
          </tr>
          <tr>
            <td><code>tableBordered</code></td>
            <td>Boolean</td>
            <td><pre>{{c.tableBordered}}</pre></td>
            <td><p>Determines if `table-bordered`-class should be added to the table</p></td>
          </tr>
          <tr>
            <td><code>tableCondensed</code></td>
            <td>Boolean</td>
            <td><pre>{{c.tableCondensed}}</pre></td>
            <td><p>Determines if `table-condensed`-class should be added to the table</p></td>
          </tr>
          <tr>
            <td><code>multipleColumnsSorting</code></td>
            <td>Boolean</td>
            <td><pre>{{c.multipleColumnsSorting}}</pre></td>
            <td><p>Determines if multi-columns sorting should be used</p></td>
          </tr>
          <tr>
            <td><code>useNumericPagination</code></td>
            <td>Boolean</td>
            <td><pre>{{c.useNumericPagination}}</pre></td>
            <td><p>Determines if numeric pagination should be used</p></td>
          </tr>
          <tr>
            <td><code>showTableFooter</code></td>
            <td>Boolean</td>
            <td><pre>{{c.showTableFooter}}</pre></td>
            <td><p>Determines if table footer should be shown on the page</p></td>
          </tr>
          <tr>
            <td><code>showColumnsDropdown</code></td>
            <td>Boolean</td>
            <td><pre>{{c.showColumnsDropdown}}</pre></td>
            <td><p>Determines if columns-dropdown should be shown</p></td>
          </tr>
          <tr>
            <td><code>useFilteringByColumns</code></td>
            <td>Boolean</td>
            <td><pre>{{c.useFilteringByColumns}}</pre></td>
            <td><p>Determines if filtering by columns should be available to the user</p></td>
          </tr>
          <tr>
            <td><code>filteringIgnoreCase</code></td>
            <td>Boolean</td>
            <td><pre>{{c.filteringIgnoreCase}}</pre></td>
            <td><p>Determines if filtering (global and by column) should ignore case</p></td>
          </tr>
          <tr>
            <td><code>showGlobalFilter</code></td>
            <td>Boolean</td>
            <td><pre>{{c.showGlobalFilter}}</pre></td>
            <td><p>Determines if "Global filter"-field should be shown</p></td>
          </tr>
          <tr>
            <td><code>simplePaginationTemplate</code></td>
            <td>String</td>
            <td><pre>{{c.simplePaginationTemplate}}</pre></td>
            <td><p>Path to the custom template with pagination. Ignored if <code>useNumericPagination</code> is <code>true</code></p></td>
          </tr>
          <tr>
            <td><code>numericPaginationTemplate</code></td>
            <td>String</td>
            <td><pre>{{c.numericPaginationTemplate}}</pre></td>
            <td><p>Path to the custom template with numeric pagination. Used if <code>useNumericPagination</code> is <code>true</code></p></td>
          </tr>
          <tr>
            <td><code>tableFooterTemplate</code></td>
            <td>String</td>
            <td><pre>{{c.tableFooterTemplate}}</pre></td>
            <td><p>Path to the custom template with table footer. Used if <code>showTableFooter</code> is <code>true</code></p></td>
          </tr>
          <tr>
            <td><code>globalFilterTemplate</code></td>
            <td>String</td>
            <td><pre>{{c.globalFilterTemplate}}</pre></td>
            <td><p>Path to the custom template with global filter. Used if <code>showGlobalFilter</code> is <code>true</code></p></td>
          </tr>
          <tr>
            <td><code>columnsDropdownTemplate</code></td>
            <td>String</td>
            <td><pre>{{c.columnsDropdownTemplate}}</pre></td>
            <td><p>Path to the custom template with columns dropdown. Used if <code>showColumnsDropdown</code> is <code>true</code></p></td>
          </tr>
          <tr>
            <td><code>rowTemplate</code></td>
            <td>String</td>
            <td><pre>{{c.rowTemplate}}</pre></td>
            <td><p>Path to the custom template with table's row</p></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>{{example1.title}}</h4>
    </div>
    <div class="col-md-8">
      {{models-table data=example1.content columns=example1.columns}}
    </div>
    <div class="col-md-4">
      <p>Component usage:</p>
        <pre><code class="handlebars">&lbrace;&lbrace;models-table
  data=example1.content
  columns=example1.columns
&rbrace;&rbrace;</code></pre>

      <p><code>example1.columns</code>:</p>
      <pre><code class="javascript">{{to-string example1 'columns'}}</code></pre>
    </div>
  </div>

    <div class="row">
        <div class="col-md-12">
            <h4>{{example12.title}}</h4>
        </div>
        <div class="col-md-8">
            {{models-table data=example12.content columns=example12.columns filteringIgnoreCase=true}}
        </div>
        <div class="col-md-4">
            <p>Component usage:</p>
        <pre><code class="handlebars">&lbrace;&lbrace;models-table
  data=example12.content
  columns=example12.columns
  filteringIgnoreCase=true
&rbrace;&rbrace;</code></pre>

            <p><code>example12.columns</code>:</p>
      <pre><code class="javascript">{{to-string example12 'columns'}}</code></pre>
        </div>
    </div>

  <div class="row">
    <div class="col-md-12">
      <h4>{{example13.title}}</h4>
    </div>
    <div class="col-md-8">
      {{models-table data=example13.content columns=example13.columns}}
    </div>
    <div class="col-md-4">
      <p>Component usage:</p>
        <pre><code class="handlebars">&lbrace;&lbrace;models-table
  data=example13.content
  columns=example13.columns
&rbrace;&rbrace;</code></pre>

      <p><code>example13.columns</code>:</p>
      <pre><code class="javascript">{{to-string example13 'columns'}}</code></pre>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h4>{{example2.title}}</h4>
    </div>
    <div class="col-md-8">
      {{models-table data=example2.content columns=example2.columns showTableFooter=example2.showTableFooter}}
    </div>
    <div class="col-md-4">
      <p>Component usage:</p>
        <pre><code class="handlebars">&lbrace;&lbrace;models-table
  data=example2.content
  columns=example2.columns
  showTableFooter=false
&rbrace;&rbrace;</code></pre>

      <p><code>example2.columns</code>:</p>
      <pre><code class="javascript">{{to-string example2 'columns'}}</code></pre>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>{{example4.title}}</h4>
    </div>
    <div class="col-md-8">
      <p>{{example4.message}}</p>
      {{models-table data=example4.content columns=example4.columns}}
    </div>
    <div class="col-md-4">
      <p>Component usage:</p>
      <pre><code class="handlebars">&lbrace;&lbrace;models-table
  data=example4.content
  columns=example4.columns
&rbrace;&rbrace;</code></pre>
      <p><code>example4.columns</code>:</p>
      <pre><code class="javascript">{{to-string example4 'columns'}}</code></pre>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>{{example5.title}}</h4>
    </div>
    <div class="col-md-8">
      {{models-table data=example5.content columns=example5.columns}}
    </div>
    <div class="col-md-4">
      <p>Component usage:</p>
      <pre><code class="handlebars">&lbrace;&lbrace;models-table
  data=example5.content
  columns=example5.columns
&rbrace;&rbrace;
</code></pre>
      <p><code>example5.columns</code>:</p>
      <pre><code class="javascript">{{to-string example5 'columns'}}</code></pre>
      <p><code>templates/custom/fullname.hbs</code>:</p>
      <pre><code class="handlebars">&lbrace;&lbrace;!`record` - row from content, current column is available as `column`&rbrace;&rbrace;
&lbrace;&lbrace;record.firstName&rbrace;&rbrace; &lbrace;&lbrace;record.lastName&rbrace;&rbrace;</code></pre>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>{{example6.title}}</h4>
    </div>
    <div class="col-md-8">
      {{models-table data=example6.content columns=example6.columns tableBordered=false tableStriped=false tableCondenced=false}}
    </div>
    <div class="col-md-4">
      <p>Component usage:</p>
      <pre><code class="handlebars">&lbrace;&lbrace;models-table
  data=example6.content
  columns=example6.columns
  tableBordered=false
  tableStriped=false
  tableCondenced=false
&rbrace;&rbrace;</code></pre>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>{{example7.title}}</h4>
    </div>
    <div class="col-md-8">
      {{models-table data=example7.content columns=example7.columns useNumericPagination=true currentPageNumber=8}}
    </div>
    <div class="col-md-4">
      <p>Component usage:</p>
      <pre><code class="handlebars">&lbrace;&lbrace;models-table
  data=example7.content
  columns=example7.columns
  useNumericPagination=true
  currentPageNumber=8
&rbrace;&rbrace;</code></pre>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>{{example8.title}}</h4>
    </div>
    <div class="col-md-8">
      {{models-table data=example8.content columns=example8.columns simplePaginationTemplate="custom/pagination"}}
    </div>
    <div class="col-md-4">
      <p>Component usage:</p>
      <pre><code class="handlebars">&lbrace;&lbrace;models-table
  data=example8.content
  columns=example8.columns
  simplePaginationTemplate="custom/pagination"
&rbrace;&rbrace;</code></pre>
      <p><code>templates/custom/pagination.hbs</code>:</p>
<pre><code class="handlebars">&lt;a href="#" \{{action "gotoFirst"}} \{{bind-attr class="gotoBackEnabled:enabled:disabled"}}&gt;F&lt;/a&gt;
  &lt;a href="#" \{{action "gotoPrev"}} \{{bind-attr class="gotoBackEnabled:enabled:disabled"}}&gt;P&lt;/a&gt;
  &lt;a href="#" \{{action "gotoNext"}} \{{bind-attr class="gotoForwardEnabled:enabled:disabled"}}&gt;N&lt;/a&gt;
  &lt;a href="#" \{{action "gotoLast"}} \{{bind-attr class="gotoForwardEnabled:enabled:disabled"}}&gt;L&lt;/a&gt;
</code></pre>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>{{example9.title}}</h4>
    </div>
    <div class="col-md-8">
      {{models-table data=example9.content columns=example9.columns delete='deleteRecord'}}
    </div>
    <div class="col-md-4">
      <p>Component usage:</p>
      <pre><code class="handlebars">&lbrace;&lbrace;models-table
  data=example9.content
  columns=example9.columns
  delete='deleteRecord'
&rbrace;&rbrace;</code></pre>
      <p><code>example9.columns</code>:</p>
<pre><code class="javascript">{{to-string example9 'columns'}}</code></pre>
      <p><code>templates/custom/delete.hbs</code>:</p>
<pre><code class="handlebars">&lt;button \{{action 'sendAction' 'delete' record}}&gt;Delete&lt;/button&gt;
</code></pre>
      <p><code>controller:application</code>:</p>
      <pre><code class="javascript">
//...
actions: {
  deleteRecord: function(record) {
    var content = this.get('example9.content');
    this.set('example9.content', content.without(record));
  }
}
//...
</code></pre>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>{{example10.title}}</h4>
    </div>
    <div class="col-md-8">
      {{models-table data=example10.content columns=example10.columns customMessages=example10.customMessages}}
    </div>
    <div class="col-md-4">
      <p>Component usage:</p>
      <pre><code class="handlebars">&lbrace;&lbrace;models-table
  data=example10.content
  columns=example10.columns
  customMessages=example10.customMessages
&rbrace;&rbrace;</code></pre>
      <p><code>customMessages</code> (must be <code>Ember.Object</code>):</p>
      <pre><code class="javascript">{{to-string example10 'customMessages'}}</code></pre>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>{{example11.title}}</h4>
    </div>
    <div class="col-md-8">
      <p>Setting the <code>className</code> property on a column adds a css class to each cell in a column. This can be useful for styling columns.</p>
      {{models-table data=example11.content columns=example11.columns customMessages=example11.customMessages}}
    </div>
    <div class="col-md-4">
      <p>Component usage:</p>
      <pre><code class="handlebars">&lbrace;&lbrace;models-table
  data=example11.content
  columns=example11.columns
&rbrace;&rbrace;</code></pre>
      <p><code>example11.columns</code>:</p>
      <pre><code class="javascript">{{to-string example11 'columns'}}</code></pre>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>Content for all tables is generated using this code:</p>
      <pre><code class="javascript">var names = ("Ingeborg Jim Rigoberto Ian Wei Otilia Wendell Chasity " +
    "Billi Chester Omer Paulene Hiram Laurice Deneen Chuck Petrina Lamonica " +
    "Roy Ai Marsha Kiana Tamar Fabiola Travis Mazie Dawna Fe Tommye Jene").split(' ');

var surnames = ("Brown Smith Patel Jones Williams Johnson Taylor Thomas " +
  "Roberts Khan Lewis Jackson Clarke James Phillips Wilson Ali Mason " +
  "Mitchell Rose Davis Davies Rodríguez Cox Alexander " +
  "Stewart Quinn Robinson Murphy Graham").split(' ');

var cities = ["Shanghai", "Karachi", "Beijing", "Tianjin", "Istanbul", "Lagos",
  "Guangzhou", "Mumbai", "Moscow", "Dhaka", "Cairo", "São Paulo",
  "Lahore", "Shenzhen", "Seoul", "Jakarta", "Kinshasa", "Tokyo", "Mexico City",
  "Lima", "New York City", "Bengaluru", "London", "Bangkok", "Dongguan",
  "Nanjing", "Tehran", "Shenyang", "Ahmedabad", "Bogotá"];

var generateContent = function (recordsCount) {
  var ret = Ember.A([]);
  for (let i = 0; i &lt; recordsCount; i++) {
    ret.push(Ember.Object.create({
      id: i + 1,
      firstName: names[i],
      lastName: surnames[i],
      age: Math.floor(Math.random() * (50 - 18)) + 18,
      city: cities[i],
      cityWithHtml: '&lt;i&gt;' + cities[i] + '&lt;/i&gt;'
    }));
  }
  return ret;
};</code></pre>
    </div>
  </div>

  {{outlet}}
</div>
