{{#if this.isEditRow}}
  <button
    class={{concat this.themeInstance.buttonDefault " " this.themeInstance.cancelRowButton}}
    type="button"
    onclick={{this.cancelClicked}}>
    {{this.cancelButtonLabel}}
  </button>
  <button
    class={{concat this.themeInstance.buttonDefault " " this.themeInstance.saveRowButton}}
    type="button"
    onclick={{this.saveClicked}}>
    {{this.saveButtonLabel}}
  </button>
{{else}}
  <button
    class={{concat this.themeInstance.buttonDefault " " this.themeInstance.editRowButton}}
    type="button"
    onclick={{this.editClicked}}>
    {{this.editButtonLabel}}
  </button>
{{/if}}
{{yield}}