{{#if isEditRow}}
  <button
    class={{themeInstance.cancelRowButton}}
    onclick={{action "cancelClicked"}}>
    {{cancelButtonLabel}}
  </button>
  <button
    class={{themeInstance.saveRowButton}}
    onclick={{action "saveClicked"}}>
    {{saveButtonLabel}}
  </button>
{{else}}
  <button
    class={{themeInstance.editRowButton}}
    onclick={{action "editClicked"}}>
    {{editButtonLabel}}
  </button>
{{/if}}