<td colspan={{columnsCount}} class={{themeInstance.noDataCell}}>
  {{#if hasBlock}}
    {{yield
      (hash
        columnsCount=columnsCount
        themeInstance=themeInstance
      )}}
  {{else}}
    {{html-safe themeInstance.messages.allColumnsAreHidden}}
  {{/if}}
</td>
