{{#if (has-block)}}
  {{yield
    (hash
      themeInstance=themeInstance
      columnDropdownOptions=columnDropdownOptions
      processedColumns=processedColumns
      showAllColumns=(action "doShowAllColumns")
      hideAllColumns=(action "doHideAllColumns")
      restoreDefaultVisibility=(action "doRestoreDefaultVisibility")
      toggleColumnSet=(action "doToggleColumnSet")
      toggleHidden=(action "doToggleHidden")
    )}}
{{else}}
  <div class={{themeInstance.columnsDropdownWrapper}}>
    <div class={{themeInstance.buttonsGroup}}>
      <button
        class="{{themeInstance.buttonDefault}} dropdown-toggle"
        type="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false">
        {{themeInstance.messages.columns-title}} <i class={{themeInstance.caret}}></i>
      </button>
      <ul class={{themeInstance.columnsDropdown}} data-role="dropdown">

        {{#if columnDropdownOptions.showAll}}
          <li>
            <a {{action "doShowAllColumns" bubbles=false}} href="#">
              {{themeInstance.messages.columns-showAll}}
            </a>
          </li>
        {{/if}}
        {{#if columnDropdownOptions.hideAll}}
          <li>
            <a {{action "doHideAllColumns" bubbles=false}} href="#">
              {{themeInstance.messages.columns-hideAll}}
            </a>
          </li>
        {{/if}}
        {{#if columnDropdownOptions.restoreDefaults}}
          <li>
            <a {{action "doRestoreDefaultVisibility" bubbles=false}} href="#">
              {{themeInstance.messages.columns-restoreDefaults}}
            </a>
          </li>
        {{/if}}

        {{#each columnDropdownOptions.columnSets as |columnSet|}}
          <li>
            <a {{action "doToggleColumnSet" columnSet bubbles=false}} href="#">
              {{columnSet.label}}
            </a>
          </li>
        {{/each}}

        <li class={{themeInstance.columnsDropdownDivider}}></li>

        {{#each processedColumns as |column|}}
          {{#if column.mayBeHidden}}
            <li>
              <a {{action "doToggleHidden" column bubbles=false}} href="#">
                <i
                  class={{if column.isVisible themeInstance.column-visible themeInstance.column-hidden}}>
                </i> {{column.title}}
              </a>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
{{/if}}
