<td colspan={{columnsCount}} class="{{themeInstance.noDataCell}}">
  {{#if hasBlock}}
    {{yield
      (hash
        columnsCount=columnsCount
        themeInstance=themeInstance
      )
    }}
  {{else}}
    {{{messages.allColumnsAreHidden}}}
  {{/if}}
</td>
