{{#if (has-block)}}
  {{yield}}
{{else}}
  <div class={{this.themeInstance.columnsDropdownWrapper}}>
    <div class={{this.themeInstance.buttonsGroup}}>
      <button
        class="{{this.themeInstance.buttonDefault}} dropdown-toggle"
        type="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false">
        {{this.themeInstance.columnsTitleMsg}} <i class={{this.themeInstance.caretIcon}}></i>
      </button>
      <ul class={{this.themeInstance.columnsDropdown}} data-role="dropdown">

        {{#if @columnDropdownOptions.showAll}}
          <li>
            <a onclick={{fn this.doShowAllColumns}} href="#">
              {{this.themeInstance.columnsShowAllMsg}}
            </a>
          </li>
        {{/if}}
        {{#if @columnDropdownOptions.hideAll}}
          <li>
            <a onclick={{fn this.doHideAllColumns}} href="#">
              {{this.themeInstance.columnsHideAllMsg}}
            </a>
          </li>
        {{/if}}
        {{#if @columnDropdownOptions.restoreDefaults}}
          <li>
            <a onclick={{fn this.doRestoreDefaultVisibility}} href="#">
              {{this.themeInstance.columnsRestoreDefaultsMsg}}
            </a>
          </li>
        {{/if}}

        {{#each @columnDropdownOptions.columnSets as |columnSet|}}
          <li>
            <a onclick={{fn this.doToggleColumnSet columnSet}} href="#">
              {{columnSet.label}}
            </a>
          </li>
        {{/each}}

        <li class={{this.themeInstance.columnsDropdownDivider}}></li>

        {{#each @processedColumns as |column|}}
          {{#if column.mayBeHidden}}
            <li>
              <a onclick={{fn this.doToggleHidden column}} href="#">
                <i
                  class={{if column.isVisible this.themeInstance.columnVisibleIcon this.themeInstance.columnHiddenIcon}}>
                </i> {{column.title}}
              </a>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
{{/if}}
