<td colspan={{@columnsCount}} class={{this.themeInstance.noDataCell}}>
  {{#if (has-block)}}
    {{yield
      (hash
        columnsCount=this.columnsCount
        themeInstance=this.themeInstance
      )}}
  {{else}}
    {{html-safe this.themeInstance.allColumnsAreHiddenMsg}}
  {{/if}}
</td>
