{{#with
  (hash
    Select=(
      component
      themeInstance.components.select
      options=options
      value=value
      themeInstance=themeInstance
      class=themeInstance.changeGroupByField
    )
    themeInstance=themeInstance
    pageSizeOptions=pageSizeOptions
    pageSize=pageSize
    sort=doSort
  )
as |DataGroupBySelect|}}
  {{#if hasBlock}}
    {{yield DataGroupBySelect}}
  {{else}}
    <div class={{themeInstance.dataGroupBySelectWrapper}}>
      <div class={{themeInstance.form}}>
        <div class={{themeInstance.formElementWrapper}}>
          <label>{{themeInstance.messages.groupByLabel}}</label>
          <DataGroupBySelect.Select/>
          <button
            class={{themeInstance.sortGroupedPropertyBtn}}
            onclick={{action "doSort"}}>
            <i
              class={{if
                (is-equal sortByGroupedFieldDirection "asc")
                themeInstance.sort-asc
                themeInstance.sort-desc}}>
            </i>
          </button>
        </div>
      </div>
    </div>
  {{/if}}
{{/with}}
