{{#let
  (hash
    Select=(
      component
      this.themeInstance.selectComponent
      options=this.options
      value=this.value
      themeInstance=this.themeInstance
      class=this.themeInstance.changeGroupByField
    )
    sort=this.doSort
  )
as |DataGroupBySelect|}}
  {{#if (has-block)}}
    {{yield DataGroupBySelect}}
  {{else}}
    <div class={{this.themeInstance.form}}>
      <div class={{this.themeInstance.formElementWrapper}}>
        <label>{{this.themeInstance.groupByLabelMsg}}</label>
        <DataGroupBySelect.Select/>
        <button
          class={{this.themeInstance.sortGroupedPropertyBtn}}
          type="button"
          onclick={{this.doSort}}>
          <i
            class={{if
              (is-equal @sortByGroupedFieldDirection "asc")
              this.themeInstance.sortAscIcon
              this.themeInstance.sortDescIcon}}>
          </i>
        </button>
      </div>
    </div>
  {{/if}}
{{/let}}
