{{#let
  (hash
    Select=(
      component
      themeInstance.selectComponent
      options=options
      value=value
      themeInstance=themeInstance
      class=themeInstance.changeGroupByField
    )
  )
as |DataGroupBySelect|}}
  {{#if (has-block)}}
    {{yield DataGroupBySelect}}
  {{else}}
    <div class={{themeInstance.dataGroupBySelectWrapper}}>
      <div class={{themeInstance.form}}>
        <div class={{themeInstance.formElementWrapper}}>
          <label>{{themeInstance.groupByLabelMsg}}</label>
          <DataGroupBySelect.Select/>
          <button
            class={{themeInstance.sortGroupedPropertyBtn}}
            onclick={{action "doSort"}}>
            <i
              class={{if
                (is-equal sortByGroupedFieldDirection "asc")
                themeInstance.sortAscIcon
                themeInstance.sortDescIcon}}>
            </i>
          </button>
        </div>
      </div>
    </div>
  {{/if}}
{{/let}}
