<button
  class={{concat this.themeInstance.buttonLink " " this.themeInstance.expandAllRows}}
  type="button"
  onclick={{fn this.doExpandAllRows}}>
  <i class={{this.themeInstance.expandAllRowsIcon}}></i>
</button>
<br>
<button
  class={{concat this.themeInstance.buttonLink " " this.themeInstance.collapseAllRows}}
  type="button"
  onclick={{fn this.doCollapseAllRows}}>
  <i class={{this.themeInstance.collapseAllRowsIcon}}></i>
</button>
{{yield}}