<button
  class={{concat themeInstance.buttonLink " " themeInstance.expandAllRows}}
  {{action "doExpandAllRows" bubbles=false}}>
  <i class={{themeInstance.expandAllRowsIcon}}></i>
</button>
<br>
<button
  class={{concat themeInstance.buttonLink " " themeInstance.collapseAllRows}}
  {{action "doCollapseAllRows" bubbles=false}}>
  <i class={{themeInstance.collapseAllRowsIcon}}></i>
</button>
{{yield}}