{{#with
  (hash
    summary=(
      component themeInstance.components.summary
      firstIndex=firstIndex
      lastIndex=lastIndex
      recordsCount=recordsCount
      anyFilterUsed=anyFilterUsed
      themeInstance=themeInstance
      clearFilters=clearFilters
      sendAction=sendAction
      useNumericPagination=useNumericPagination
    )
    size-select=(
      component themeInstance.components.page-size-select
      type="number"
      pageSizeOptions=pageSizeOptions
      pageSize=pageSize
      themeInstance=themeInstance
      sendAction=sendAction
    )
    pagination-numeric=(
      component themeInstance.components.pagination-numeric
      currentPageNumber=currentPageNumber
      collapseNumPaginationForPagesCount=collapseNumPaginationForPagesCount
      recordsCount=recordsCount
      pageSize=pageSize
      currentPageNumberOptions=currentPageNumberOptions
      pagesCount=pagesCount
      themeInstance=themeInstance
      goToPage=goToPage
      sendAction=sendAction
    )
    pagination-simple=(
      component themeInstance.components.pagination-simple
      currentPageNumber=currentPageNumber
      recordsCount=recordsCount
      pagesCount=pagesCount
      currentPageNumberOptions=currentPageNumberOptions
      pageSize=pageSize
      themeInstance=themeInstance
      goToPage=goToPage
      sendAction=sendAction
    )
    themeInstance=themeInstance
  )
as |f|}}
  <div class={{themeInstance.tfooterInternalWrapper}}>
    {{#if hasBlock}}
      {{yield f}}
    {{else}}
      {{component f.summary}}
      <div class={{themeInstance.pageSizeWrapper}}>
        {{#if showPageSize}}
          {{component f.size-select}}
        {{/if}}
      </div>
      {{#if useNumericPagination}}
        {{component f.pagination-numeric}}
      {{else}}
        {{component f.pagination-simple}}
      {{/if}}
    {{/if}}
  </div>
{{/with}}