{{#if hasBlock}}
  {{yield}}
{{else}}
  <div class="{{themeInstance.globalFilterWrapper}}">
    <div class="form-inline globalSearch">
      <div class="form-group">
        <label>{{messages.searchLabel}}</label> {{input type="text" value=value class=(concat themeInstance.input " filterString") enter="" placeholder=messages.searchPlaceholder}}
        {{#if globalFilterUsed}}
          <span class="clearFilterIcon {{themeInstance.clearFilterIcon}}" onclick={{action (mut value) ""}}></span>
        {{/if}}
      </div>
    </div>
  </div>
{{/if}}