{{#let
  (hash
    Select=(
      component themeInstance.components.select
      id=inputId
      options=pageSizeOptions
      value=pageSize
      type=type
      themeInstance=themeInstance
      class="changePageSize"
    )
    themeInstance=themeInstance
    pageSizeOptions=pageSizeOptions
    pageSize=pageSize
  )
as |PageSizeSelect|}}
  {{#if (has-block)}}
    {{yield PageSizeSelect}}
  {{else}}
    <form class={{themeInstance.form}}>
      <div class={{themeInstance.formElementWrapper}}>
        <label for={{inputId}}>{{themeInstance.messages.rowsCount}}</label>
        <PageSizeSelect.Select/>
      </div>
    </form>
  {{/if}}
{{/let}}
