{{#let
  (hash
    Select=(
      component this.themeInstance.selectComponent
      id=this.inputId
      options=this.pageSizeOptions
      value=this.pageSize
      type=this.type
      themeInstance=this.themeInstance
      class="changePageSize"
    )
  )
as |PageSizeSelect|}}
  {{#if (has-block)}}
    {{yield PageSizeSelect}}
  {{else}}
    <form class={{this.themeInstance.form}}>
      <div class={{this.themeInstance.formElementWrapper}}>
        <label for={{this.inputId}}>{{this.themeInstance.rowsCountMsg}}</label>
        <PageSizeSelect.Select/>
      </div>
    </form>
  {{/if}}
{{/let}}
