{{#if hasBlock}}
  {{yield
    (hash
      gotoCustomPage=(action "gotoCustomPage")
      sendAction=sendAction
      visiblePageNumbers=visiblePageNumbers
      themeInstance=themeInstance
    )}}
{{else}}
  <div class={{themeInstance.paginationInternalWrapper}}>
    <div class={{themeInstance.paginationBlock}}>
      {{#each visiblePageNumbers as |page|}}
        {{#if page.isLink}}
          <button
            type="button"
            class="{{themeInstance.paginationNumericItem}} {{if page.isActive themeInstance.paginationNumericItemActive}} {{themeInstance.buttonDefault}}"
            {{action "gotoCustomPage" page.label}}>
            {{page.label}}
          </button>
        {{else}}
          <button
            type="button"
            class="{{themeInstance.buttonDefault}} {{themeInstance.paginationNumericItem}}"
            disabled="disabled"
            {{action "gotoCustomPage" page.label}}>
            {{page.label}}
          </button>
        {{/if}}
      {{/each}}
    </div>
  </div>

  <div class={{themeInstance.currentPageSizeSelectWrapper}}>
    <form class={{themeInstance.form}}>
      <div class={{themeInstance.formElementWrapper}}>
        <label>{{themeInstance.messages.currentPageNumber}}</label>
        {{component
          themeInstance.components.select
          options=currentPageNumberOptions
          value=currentPageNumber
          type="number"
          themeInstance=themeInstance
          sendAction=sendAction}}&nbsp;
      </div>
    </form>
  </div>
{{/if}}