{{#let
  (hash
    PageNumberSelect=(
      component themeInstance.selectComponent
      id=inputId
      options=currentPageNumberOptions
      label=themeInstance.currentPageNumberMsg
      value=currentPageNumber
      type="number"
      themeInstance=themeInstance
    )
    goToPage=goToPage
    goToFirst=(action "gotoFirst")
    goToPrev=(action "gotoPrev")
    goToNext=(action "gotoNext")
    goToLast=(action "gotoLast")
    goToBackEnabled=goToBackEnabled
    goToForwardEnabled=goToForwardEnabled
  )
as |Pagination|}}
  {{#if (has-block)}}
    {{yield Pagination}}
  {{else}}
    <div class={{themeInstance.paginationInternalWrapper}}>
      <div class={{themeInstance.paginationBlock}}>
        <button
          class="{{if goToBackEnabled "enabled" "disabled"}} {{themeInstance.buttonDefault}}"
          aria-label={{themeInstance.goToFirstPageButtonTextMsg}}
          {{action "gotoFirst"}}>
          <i class={{themeInstance.navFirstIcon}}></i>
        </button>
        <button
          class="{{if goToBackEnabled "enabled" "disabled"}} {{themeInstance.buttonDefault}}"
          aria-label={{themeInstance.goToPrevPageButtonTextMsg}}
          {{action "gotoPrev"}}>
          <i class={{themeInstance.navPrevIcon}}></i>
        </button>
        <button
          class="{{if goToForwardEnabled "enabled" "disabled"}} {{themeInstance.buttonDefault}}"
          aria-label={{themeInstance.goToNextPageButtonTextMsg}}
          {{action "gotoNext"}}>
          <i class={{themeInstance.navNextIcon}}></i>
        </button>
        <button
          class="{{if goToForwardEnabled "enabled" "disabled"}} {{themeInstance.buttonDefault}}"
          aria-label={{themeInstance.goToLastPageButtonTextMsg}}
          {{action "gotoLast"}}>
          <i class={{themeInstance.navLastIcon}}></i>
        </button>
      </div>
    </div>
    {{#if showCurrentPageNumberSelect}}
      <div class={{themeInstance.currentPageSizeSelectWrapper}}>
        <form class={{themeInstance.form}}>
          <div class={{themeInstance.formElementWrapper}}>
            <label for={{inputId}}>{{themeInstance.currentPageNumberMsg}}</label>
            <Pagination.PageNumberSelect/>&nbsp;
          </div>
        </form>
      </div>
    {{/if}}
  {{/if}}
{{/let}}