{{#let
  (hash
    PageNumberSelect=(
      component themeInstance.selectComponent
      id=inputId
      options=currentPageNumberOptions
      label=themeInstance.currentPageNumberMsg
      value=currentPageNumber
      type="number"
      themeInstance=themeInstance
    )
    goToPage=goToPage
    gotoFirst=(action "gotoFirst")
    gotoPrev=(action "gotoPrev")
    gotoNext=(action "gotoNext")
    gotoLast=(action "gotoLast")
    gotoBackEnabled=gotoBackEnabled
    gotoForwardEnabled=gotoForwardEnabled
    themeInstance=themeInstance
  )
as |Pagination|}}
  {{#if (has-block)}}
    {{yield Pagination}}
  {{else}}
    <div class={{themeInstance.paginationInternalWrapper}}>
      <div class={{themeInstance.paginationBlock}}>
        <button
          class="{{if gotoBackEnabled "enabled" "disabled"}} {{themeInstance.buttonDefault}}"
          aria-label={{themeInstance.goToFirstPageButtonTextMsg}}
          {{action "gotoFirst"}}>
          <i class={{themeInstance.nav-first}}></i>
        </button>
        <button
          class="{{if gotoBackEnabled "enabled" "disabled"}} {{themeInstance.buttonDefault}}"
          aria-label={{themeInstance.goToPrevPageButtonTextMsg}}
          {{action "gotoPrev"}}>
          <i class={{themeInstance.nav-prev}}></i>
        </button>
        <button
          class="{{if gotoForwardEnabled "enabled" "disabled"}} {{themeInstance.buttonDefault}}"
          aria-label={{themeInstance.goToNextPageButtonTextMsg}}
          {{action "gotoNext"}}>
          <i class={{themeInstance.nav-next}}></i>
        </button>
        <button
          class="{{if gotoForwardEnabled "enabled" "disabled"}} {{themeInstance.buttonDefault}}"
          aria-label={{themeInstance.goToLastPageButtonTextMsg}}
          {{action "gotoLast"}}>
          <i class={{themeInstance.nav-last}}></i>
        </button>
      </div>
    </div>
    {{#if showCurrentPageNumberSelect}}
      <div class={{themeInstance.currentPageSizeSelectWrapper}}>
        <form class={{themeInstance.form}}>
          <div class={{themeInstance.formElementWrapper}}>
            <label for={{inputId}}>{{themeInstance.currentPageNumberMsg}}</label>
            <Pagination.PageNumberSelect/>&nbsp;
          </div>
        </form>
      </div>
    {{/if}}
  {{/if}}
{{/let}}