{{#let
  (hash
    PageNumberSelect=(
      component this.themeInstance.selectComponent
      options=this.currentPageNumberOptions
      value=this.currentPageNumber
      type="number"
      visiblePageNumbers=this.visiblePageNumbers
      themeInstance=this.themeInstance
      gotoCustomPage=this.gotoCustomPage)
    visiblePageNumbers=this.visiblePageNumbers) as |Pagination|}}
  {{#if (has-block)}}
    {{yield Pagination}}
  {{else}}
    <div class={{this.themeInstance.paginationInternalWrapper}}>
      <div class={{this.themeInstance.paginationBlock}}>
        {{#each this.visiblePageNumbers as |page|}}
          {{#if page.isLink}}
            <button
              type="button"
              class="{{this.themeInstance.paginationNumericItem}} {{if page.isActive this.themeInstance.paginationNumericItemActive}} {{this.themeInstance.buttonDefault}}"
              onclick={{fn this.gotoCustomPage page.label}}>
              {{page.label}}
            </button>
          {{else}}
            <button
              type="button"
              class="{{this.themeInstance.buttonDefault}} {{this.themeInstance.paginationNumericItem}}"
              disabled="disabled">
              {{page.label}}
            </button>
          {{/if}}
        {{/each}}
      </div>
    </div>
    {{#if this.showCurrentPageNumberSelect}}
      <div class={{this.themeInstance.currentPageSizeSelectWrapper}}>
        <form class={{this.themeInstance.form}}>
          <div class={{this.themeInstance.formElementWrapper}}>
            <label for={{this.inputId}}>{{this.themeInstance.currentPageNumberMsg}}</label>
            <Pagination.PageNumberSelect/>
          </div>
        </form>
      </div>
    {{/if}}
  {{/if}}
{{/let}}