{{#if hasBlock}}
  {{yield
    (hash
      goToPage=goToPage
      gotoFirst=(action "gotoFirst")
      gotoPrev=(action "gotoPrev")
      gotoNext=(action "gotoNext")
      gotoLast=(action "gotoLast")
      gotoBackEnabled=gotoBackEnabled
      gotoForwardEnabled=gotoForwardEnabled
      themeInstance=themeInstance
    )}}
{{else}}
  <div class={{themeInstance.paginationInternalWrapper}}>
    <div class={{themeInstance.paginationBlock}}>
      <button
        class="{{if gotoBackEnabled "enabled" "disabled"}} {{themeInstance.buttonDefault}}"
        aria-label={{themeInstance.messages.goToFirstPageButtonText}}
        {{action "gotoFirst"}}>
        <i class={{themeInstance.nav-first}}></i>
      </button>
      <button
        class="{{if gotoBackEnabled "enabled" "disabled"}} {{themeInstance.buttonDefault}}"
        aria-label={{themeInstance.messages.goToPrevPageButtonText}}
        {{action "gotoPrev"}}>
        <i class={{themeInstance.nav-prev}}></i>
      </button>
      <button
        class="{{if gotoForwardEnabled "enabled" "disabled"}} {{themeInstance.buttonDefault}}"
        aria-label={{themeInstance.messages.goToNextPageButtonText}}
        {{action "gotoNext"}}>
        <i class={{themeInstance.nav-next}}></i>
      </button>
      <button
        class="{{if gotoForwardEnabled "enabled" "disabled"}} {{themeInstance.buttonDefault}}"
        aria-label={{themeInstance.messages.goToLastPageButtonText}}
        {{action "gotoLast"}}>
        <i class={{themeInstance.nav-last}}></i>
      </button>
    </div>
  </div>
  {{#if showCurrentPageNumberSelect}}
    <div class={{themeInstance.currentPageSizeSelectWrapper}}>
      <form class={{themeInstance.form}}>
        <div class={{themeInstance.formElementWrapper}}>
          <label for={{inputId}}>{{themeInstance.messages.currentPageNumber}}</label>
          {{component
            themeInstance.components.select
            id=inputId
            options=currentPageNumberOptions
            value=currentPageNumber
            type="number"
            themeInstance=themeInstance}}&nbsp;
        </div>
      </form>
    </div>
  {{/if}}
{{/if}}
