{{#if hasBlock}}
  {{yield
    (hash
      goToPage=goToPage
      gotoFirst=(action "gotoFirst")
      gotoPrev=(action "gotoPrev")
      gotoNext=(action "gotoNext")
      gotoLast=(action "gotoLast")
      gotoBackEnabled=gotoBackEnabled
      gotoForwardEnabled=gotoForwardEnabled
      sendAction=sendAction
      themeInstance=themeInstance
    )}}
{{else}}
  <div class={{themeInstance.paginationInternalWrapper}} role="toolbar">
    <div class={{themeInstance.paginationBlock}} role="group">
      <button
        href="#"
        class="{{if gotoBackEnabled "enabled" "disabled"}} {{themeInstance.buttonDefault}}"
        {{action "gotoFirst"}}>
        <i class={{themeInstance.nav-first}}></i>
      </button>
      <button
        href="#"
        class="{{if gotoBackEnabled "enabled" "disabled"}} {{themeInstance.buttonDefault}}"
        {{action "gotoPrev"}}>
        <i class={{themeInstance.nav-prev}}></i>
      </button>
      <button
        href="#"
        class="{{if gotoForwardEnabled "enabled" "disabled"}} {{themeInstance.buttonDefault}}"
        {{action "gotoNext"}}>
        <i class={{themeInstance.nav-next}}></i>
      </button>
      <button
        href="#"
        class="{{if gotoForwardEnabled "enabled" "disabled"}} {{themeInstance.buttonDefault}}"
        {{action "gotoLast"}}>
        <i class={{themeInstance.nav-last}}></i>
      </button>
    </div>
  </div>
{{/if}}