{{#let
  (hash
    PageNumberSelect=(
      component themeInstance.selectComponent
      options=currentPageNumberOptions
      value=currentPageNumber
      type="number"
      visiblePageNumbers=visiblePageNumbers
      themeInstance=themeInstance
      gotoCustomPage=(action "gotoCustomPage")
    )
    visiblePageNumbers=visiblePageNumbers
    goToPage=goToPage
  )
as |Pagination|}}
  {{#if (has-block)}}
    {{yield Pagination}}
  {{else}}
    <div class={{themeInstance.paginationInternalWrapper}}>
      <div class={{themeInstance.paginationBlock}}>
        {{#each visiblePageNumbers as |page|}}
          {{#if page.isLink}}
            <button
              type="button"
              class="{{themeInstance.paginationNumericItem}} {{if page.isActive themeInstance.paginationNumericItemActive}} {{themeInstance.buttonDefault}}"
              {{action "gotoCustomPage" page.label}}>
              {{page.label}}
            </button>
          {{else}}
            <button
              type="button"
              class="{{themeInstance.buttonDefault}} {{themeInstance.paginationNumericItem}}"
              disabled="disabled"
              {{action "gotoCustomPage" page.label}}>
              {{page.label}}
            </button>
          {{/if}}
        {{/each}}
      </div>
    </div>
    {{#if showCurrentPageNumberSelect}}
      <div class={{themeInstance.currentPageSizeSelectWrapper}}>
        <form class={{themeInstance.form}}>
          <div class={{themeInstance.formElementWrapper}}>
            <label for={{inputId}}>{{themeInstance.currentPageNumberMsg}}</label>
            <Pagination.PageNumberSelect/>
          </div>
        </form>
      </div>
    {{/if}}
  {{/if}}
{{/let}}