{{#let
  (hash
    PageNumberSelect=(
      component this.themeInstance.selectComponent
      id=this.inputId
      options=this.currentPageNumberOptions
      label=this.themeInstance.currentPageNumberMsg
      value=this.currentPageNumber
      type="number"
      themeInstance=this.themeInstance
    )
    goToPage=this.goToPage
    goToFirst=this.gotoFirst
    goToPrev=this.gotoPrev
    goToNext=this.gotoNext
    goToLast=this.gotoLast
    goToBackEnabled=this.goToBackEnabled
    goToForwardEnabled=this.goToForwardEnabled
  )
as |Pagination|
}}
  {{#if (has-block)}}
    {{yield Pagination}}
  {{else}}
    <div class={{this.themeInstance.paginationInternalWrapper}}>
      <div class={{this.themeInstance.paginationBlock}}>
        <button
          class="{{if this.goToBackEnabled "enabled" "disabled"}} {{this.themeInstance.buttonDefault}}"
          type="button"
          aria-label={{this.themeInstance.goToFirstPageButtonTextMsg}}
          onclick={{fn this.gotoFirst}}>
          <i class={{this.themeInstance.navFirstIcon}}></i>
        </button>
        <button
          class="{{if this.goToBackEnabled "enabled" "disabled"}} {{this.themeInstance.buttonDefault}}"
          type="button"
          aria-label={{this.themeInstance.goToPrevPageButtonTextMsg}}
          onclick={{fn this.gotoPrev}}>
          <i class={{this.themeInstance.navPrevIcon}}></i>
        </button>
        <button
          class="{{if this.goToForwardEnabled "enabled" "disabled"}} {{this.themeInstance.buttonDefault}}"
          type="button"
          aria-label={{this.themeInstance.goToNextPageButtonTextMsg}}
          onclick={{fn this.gotoNext}}>
          <i class={{this.themeInstance.navNextIcon}}></i>
        </button>
        <button
          class="{{if this.goToForwardEnabled "enabled" "disabled"}} {{this.themeInstance.buttonDefault}}"
          type="button"
          aria-label={{this.themeInstance.goToLastPageButtonTextMsg}}
          onclick={{fn this.gotoLast}}>
          <i class={{this.themeInstance.navLastIcon}}></i>
        </button>
      </div>
    </div>
    {{#if this.showCurrentPageNumberSelect}}
      <div class={{this.themeInstance.currentPageSizeSelectWrapper}}>
        <form class={{this.themeInstance.form}}>
          <div class={{this.themeInstance.formElementWrapper}}>
            <label for={{this.inputId}}>{{this.themeInstance.currentPageNumberMsg}}</label>
            <Pagination.PageNumberSelect/>&nbsp;
          </div>
        </form>
      </div>
    {{/if}}
  {{/if}}
{{/let}}