{{#if (has-block)}}
  {{yield
    (hash
      column=column
      selectedItems=selectedItems
      expandedItems=expandedItems
      themeInstance=themeInstance
      expandAllRows=expandAllRows
      collapseAllRows=collapseAllRows
      toggleAllSelection=toggleAllSelection
    )}}
{{else}}
  {{#if column.componentForFilterCell}}
    {{#with
      (component
        column.componentForFilterCell
        column=column
        selectedItems=selectedItems
        expandedItems=expandedItems
        themeInstance=themeInstance
        expandAllRows=expandAllRows
        collapseAllRows=collapseAllRows
        toggleAllSelection=toggleAllSelection)
      as |CellContent|}}
      <CellContent/>
    {{/with}}
  {{else}}
    {{#if column.useFilter}}
      <div
        class={{concat
          themeInstance.formElementWrapper
          (if column.filterUsed " has-feedback")}}>
        <label for={{inputId}} class="emt-sr-only">{{column.title}}</label>
        {{#if column.filterWithSelect}}
          {{#with
            (component
              themeInstance.components.select
              id=inputId
              options=column.filterOptions
              cssPropertyName=column.cssPropertyName
              value=column.filterString
              themeInstance=themeInstance
              class=(concat themeInstance.input " changeFilterForColumn")
              expandAllRows=expandAllRows
              collapseAllRows=collapseAllRows)
            as |DefaultSelect|}}
            <DefaultSelect/>
          {{/with}}
        {{else}}
          {{input
            id=inputId
            type="text"
            value=column.filterString
            class=themeInstance.input
            enter=(action "noop")
            placeholder=column.filterPlaceholder}}
        {{/if}}
        {{#if column.filterUsed}}
          <i
            class="clearFilterIcon {{themeInstance.clearFilterIcon}}"
            onclick={{action (mut column.filterString) ""}}>
          </i>
        {{/if}}
      </div>
    {{else}}
      &nbsp;
    {{/if}}
  {{/if}}
{{/if}}