{{#if @column.componentForFilterCell}}
  {{#let
    (component
      @column.componentForFilterCell
      column=this.column
      data=this.data
      selectedItems=this.selectedItems
      expandedItems=this.expandedItems
      themeInstance=this.themeInstance
      expandAllRows=this.expandAllRows
      collapseAllRows=this.collapseAllRows
      toggleAllSelection=this.toggleAllSelection)
  as |CellContent|}}
    {{#if (has-block)}}
      {{yield CellContent}}
    {{else}}
      <CellContent/>
    {{/if}}
  {{/let}}
{{else}}
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    {{#if @column.useFilter}}
      <div
        class={{concat
          this.themeInstance.formElementWrapper
          (if @column.filterUsed " has-feedback")}}>
        <label for={{this.inputId}} class="emt-sr-only">{{@column.title}}</label>
        {{#if @column.filterWithSelect}}
          {{#let
            (component
              this.themeInstance.selectComponent
              id=this.inputId
              options=this.column.filterOptions
              cssPropertyName=this.column.cssPropertyName
              value=this.column.filterString
              themeInstance=this.themeInstance
              class=(concat this.themeInstance.input " changeFilterForColumn")
              expandAllRows=this.expandAllRows
              collapseAllRows=this.collapseAllRows)
            as |DefaultSelect|}}
            <DefaultSelect/>
          {{/let}}
        {{else}}
          <Input
            id={{this.inputId}}
            type="text"
            value={{@column.filterString}}
            class={{this.themeInstance.input}}
            @enter={{this.noop}}
            placeholder={{@column.filterPlaceholder}}/>
        {{/if}}
        {{#if @column.filterUsed}}
          <i
            role="button"
            class="clearFilterIcon {{this.themeInstance.clearFilterIcon}}"
            onclick={{fn (mut @column.filterString) ""}}>
          </i>
        {{/if}}
      </div>
    {{else}}
      &nbsp;
    {{/if}}
  {{/if}}
{{/if}}