{{#if this.column.componentForFilterCell}}
  {{#let
    (
      component
        this.column.componentForFilterCell
        column=this.column
        data=this.data
        selectedItems=this.selectedItems
        expandedItems=this.expandedItems
        themeInstance=this.themeInstance
        expandAllRows=this.expandAllRows
        collapseAllRows=this.collapseAllRows
        toggleAllSelection=this.toggleAllSelection
    )
  as |CellContent|
  }}
    {{#if (has-block)}}
      {{yield CellContent}}
    {{else}}
      <CellContent/>
    {{/if}}
  {{/let}}
{{else}}
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    {{#if this.column.useFilter}}
      <div
        class={{concat
          this.themeInstance.formElementWrapper
          (if this.column.filterUsed " has-feedback")
        }}>
        <label for={{this.inputId}} class="emt-sr-only">{{this.column.title}}</label>
        {{#if this.column.filterWithSelect}}
          {{component
            this.themeInstance.selectComponent
            id=this.inputId
            options=this.column.filterOptions
            cssPropertyName=this.column.cssPropertyName
            value=this.column.filterString
            themeInstance=this.themeInstance
            class=(concat this.themeInstance.input " changeFilterForColumn")
            expandAllRows=this.expandAllRows
            collapseAllRows=this.collapseAllRows
          }}
        {{else}}
          <Input
            id={{this.inputId}}
            type="text"
            @value={{this.column.filterString}}
            class={{this.themeInstance.input}}
            @enter={{this.noop}}
            placeholder={{this.column.filterPlaceholder}}/>
        {{/if}}
        {{#if this.column.filterUsed}}
          <i
            role="button"
            class="clearFilterIcon {{this.themeInstance.clearFilterIcon}}"
            onclick={{fn (mut this.column.filterString) ""}}>
          </i>
        {{/if}}
      </div>
    {{else}}
      &nbsp;
    {{/if}}
  {{/if}}
{{/if}}