{{! template-lint-disable attribute-indentation }}
<td
  class={{themeInstance.groupingCell}}
  colspan={{cellColspan}}>
  {{#with
    (hash
      row-group-toggle=(
        component (if
          groupingRowComponent
          groupingRowComponent
          themeInstance.components.row-group-toggle
        )
        groupedValue=groupedValue
        groupedLength=groupedLength
        currentGroupingPropertyName=currentGroupingPropertyName
        displayGroupedValueAs=displayGroupedValueAs
        visibleProcessedColumns=visibleProcessedColumns
        groupedItems=groupedItems
        selectedItems=selectedItems
        expandedItems=expandedItems
        visibleGroupedItems=visibleGroupedItems
        selectedGroupedItems=selectedGroupedItems
        expandedGroupedItems=expandedGroupedItems
        groupIsCollapsed=groupIsCollapsed
        themeInstance=themeInstance
        toggleGroupedRowsSelection=toggleGroupedRowsSelection
        toggleGroupedRowsExpands=toggleGroupedRowsExpands
        toggleGroupedRows=toggleGroupedRows
        sendAction=sendAction
      )
    )
  as |rg|}}
    {{#if hasBlock}}
      {{yield rg}}
    {{else}}
      {{component rg.row-group-toggle}}
    {{/if}}
  {{/with}}
</td>