{{#with (hash
  cell=(
    component themeInstance.components.cell
    record=record
    sendAction=sendAction
    expandRow=expandRow
    collapseRow=collapseRow
    expandAllRows=expandAllRows
    clickOnRow=clickOnRow
    collapseAllRows=collapseAllRows
    themeInstance=themeInstance
  )
  visibleProcessedColumns=visibleProcessedColumns
  themeInstance=themeInstance
) as |r|}}
  {{#if hasBlock}}
    {{yield r}}
  {{else}}
    {{#each visibleProcessedColumns as |column|}}
      {{#if column.routeName}}
        <td class={{column.className}}>
          {{#link-to column.routeName record.id}}
            {{#if column.propertyName}}
              {{get record column.propertyName}}
            {{else}}
              {{record.id}}
            {{/if}}
          {{/link-to}}
        </td>
      {{else}}
        {{#if column.component}}
          {{component r.cell index=index column=column isExpanded=isExpanded isSelected=isSelected}}
        {{else}}
          <td class={{column.className}}>
            {{#if column.propertyName}}
              {{get record column.propertyName}}
            {{/if}}
          </td>
        {{/if}}
      {{/if}}
    {{/each}}
  {{/if}}
{{/with}}