{{#with (hash
  cell=(
    component themeInstance.components.cell
    record=record
    sendAction=sendAction
    expandRow=expandRow
    collapseRow=collapseRow
    expandAllRows=expandAllRows
    clickOnRow=clickOnRow
    collapseAllRows=collapseAllRows
    themeInstance=themeInstance
    groupedLength=groupedLength
  )
  row-group-toggle=(
    component (if groupingRowComponent groupingRowComponent themeInstance.components.row-group-toggle)
    currentGroupingPropertyName=currentGroupingPropertyName
    groupedValue=groupedValue
    displayGroupedValueAs=displayGroupedValueAs
    visibleProcessedColumns=visibleProcessedColumns
    groupedLength=groupedLength
    groupedItems=groupedItems
    visibleGroupedItems=visibleGroupedItems
    selectedGroupedItems=selectedGroupedItems
    expandedGroupedItems=expandedGroupedItems
    themeInstance=themeInstance
    messages=messages
    toggleGroupedRows=toggleGroupedRows
    toggleGroupedRowsSelection=toggleGroupedRowsSelection
    toggleGroupedRowsExpands=toggleGroupedRowsExpands
    sendAction=sendAction
  )
  visibleProcessedColumns=visibleProcessedColumns
  themeInstance=themeInstance
) as |r|}}
  {{#if hasBlock}}
    {{yield r}}
  {{else}}
    {{#if (and (is-equal displayGroupedValueAs 'column') isFirstGroupedRow)}}
      <td rowspan={{rowspanForFirstCell}} class={{themeInstance.groupingCell}}>{{r.row-group-toggle groupedValue=groupedValue groupIsCollapsed=(exists-in collapsedGroupValues groupValue)}}</td>
    {{/if}}
    {{#each visibleProcessedColumns as |column|}}
      {{#if column.routeName}}
        <td class={{column.className}}>
          {{#link-to column.routeName record.id}}
            {{#if column.propertyName}}
              {{get record column.propertyName}}
            {{else}}
              {{record.id}}
            {{/if}}
          {{/link-to}}
        </td>
      {{else}}
        {{#if column.component}}
          {{component r.cell index=index column=column isExpanded=isExpanded isSelected=isSelected}}
        {{else}}
          <td class={{column.className}}>
            {{#if column.propertyName}}
              {{get record column.propertyName}}
            {{/if}}
          </td>
        {{/if}}
      {{/if}}
    {{/each}}
  {{/if}}
{{/with}}