{{#let
  (hash
    Cell=(
      component themeInstance.cellComponent
      cellContentComponent=themeInstance.cellContentComponent
      record=record
      isExpanded=isExpanded
      isSelected=isSelected
      expandRow=expandRow
      collapseRow=collapseRow
      expandAllRows=expandAllRows
      clickOnRow=clickOnRow
      collapseAllRows=collapseAllRows
      themeInstance=themeInstance
      groupedLength=groupedLength
      isEditRow=isEditRow
      editRow=(action "editRow")
      saveRow=(action "saveRow")
      cancelEditRow=(action "cancelEditRow")
    )
    RowGroupToggle=(
      component (if groupingRowComponent groupingRowComponent themeInstance.rowGroupToggleComponent)
      currentGroupingPropertyName=currentGroupingPropertyName
      groupedValue=groupedValue
      displayGroupedValueAs=displayGroupedValueAs
      visibleProcessedColumns=visibleProcessedColumns
      groupedLength=groupedLength
      groupedItems=groupedItems
      visibleGroupedItems=visibleGroupedItems
      selectedGroupedItems=selectedGroupedItems
      expandedGroupedItems=expandedGroupedItems
      themeInstance=themeInstance
      toggleGroupedRows=doToggleGroupedRows
      toggleGroupedRowsSelection=toggleGroupedRowsSelection
      toggleGroupedRowsExpands=toggleGroupedRowsExpands
    )
    isEditRow=isEditRow
    editRow=(action "editRow")
    saveRow=(action "saveRow")
    cancelEditRow=(action "cancelEditRow")
    isFirstGroupedRow=isFirstGroupedRow
  )
as |Row|}}
  {{#if (has-block)}}
    {{yield Row}}
  {{else}}
    {{#if (and (is-equal displayGroupedValueAs "column") isFirstGroupedRow useDataGrouping)}}
      <td
        rowspan={{rowspanForFirstCell}}
        class={{themeInstance.groupingCell}}>
        <Row.RowGroupToggle
          @groupedValue={{groupedValue}}
          @groupIsCollapsed={{exists-in collapsedGroupValues groupValue}} />
      </td>
    {{/if}}
    {{#each visibleProcessedColumns as |column|}}
      {{#if column.simple}}
        <td class={{column.className}}>
          {{#if column.propertyName}}
            {{get record column.propertyName}}
          {{/if}}
        </td>
      {{else}}
        {{#if column.routeName}}
          <td class={{column.className}}>
            {{#link-to column.routeName (get record column.routeProperty)}}
              {{#if column.propertyName}}
                {{get record column.propertyName}}
              {{else}}
                {{record.id}}
              {{/if}}
            {{/link-to}}
          </td>
        {{else}}
          <Row.Cell @index={{index}} @column={{column}} />
        {{/if}}
      {{/if}}
    {{/each}}
  {{/if}}
{{/let}}