{{#let
  (hash
    Cell=(
      component this.themeInstance.cellComponent
      cellContentComponent=this.themeInstance.cellContentComponent
      record=this.record
      isExpanded=this.isExpanded
      isSelected=this.isSelected
      expandRow=this.expandRow
      collapseRow=this.collapseRow
      expandAllRows=this.expandAllRows
      clickOnRow=this.clickOnRow
      collapseAllRows=this.collapseAllRows
      themeInstance=this.themeInstance
      groupedLength=this.groupedLength
      isEditRow=this.isEditRow
      editRow=this.editRow
      saveRow=this.saveRow
      cancelEditRow=this.cancelEditRow
    )
    RowGroupToggle=(
      component (if this.groupingRowComponent this.groupingRowComponent this.themeInstance.rowGroupToggleComponent)
      currentGroupingPropertyName=this.currentGroupingPropertyName
      groupedValue=this.groupedValue
      displayGroupedValueAs=this.displayGroupedValueAs
      visibleProcessedColumns=this.visibleProcessedColumns
      groupedLength=this.groupedLength
      groupedItems=this.groupedItems
      visibleGroupedItems=this.visibleGroupedItems
      selectedGroupedItems=this.selectedGroupedItems
      expandedGroupedItems=this.expandedGroupedItems
      themeInstance=this.themeInstance
      toggleGroupedRows=this.doToggleGroupedRows
      toggleGroupedRowsSelection=this.toggleGroupedRowsSelection
      toggleGroupedRowsExpands=this.toggleGroupedRowsExpands
    )
    RowSelectCheckbox=(
      component this.themeInstance.rowSelectCheckboxComponent
      record=this.record
      isSelected=this.isSelected
      clickOnRow=this.clickOnRow
      themeInstance=this.themeInstance
    )
    ExpandToggle=(
      component this.themeInstance.expandToggleComponent
      record=this.record
      isExpanded=this.isExpanded
      expandRow=this.expandRow
      collapseRow=this.collapseRow
      themeInstance=this.themeInstance
    )
    isEditRow=this.isEditRow
    editRow=this.editRow
    saveRow=this.saveRow
    cancelEditRow=this.cancelEditRow
    rowspanForFirstCell=this.rowspanForFirstCell
    isFirstGroupedRow=this.isFirstGroupedRow
    shouldShowGroupToggleCell=this.shouldShowGroupToggleCell
  )
as |Row|
}}
  {{#if (has-block)}}
    {{yield Row}}
  {{else}}
    {{#if (and (is-equal this.displayGroupedValueAs "column") this.isFirstGroupedRow this.useDataGrouping)}}
      <td
        rowspan={{this.rowspanForFirstCell}}
        class={{this.themeInstance.groupingCell}}>
        <Row.RowGroupToggle
          @groupedValue={{this.groupedValue}}
          @groupIsCollapsed={{exists-in this.collapsedGroupValues this.groupValue}} />
      </td>
    {{/if}}
    {{#each this.visibleProcessedColumns as |column|}}
      {{#if column.simple}}
        <Row.Cell @column={{column}}>
          {{#if column.propertyName}}
            {{get this.record column.propertyName}}
          {{/if}}
        </Row.Cell>
      {{else if column.routeName}}
        <Row.Cell @column={{column}}>
          <LinkTo @route={{column.routeName}} @model={{get this.record column.routeProperty}}>
            {{#if column.propertyName}}
              {{get this.record column.propertyName}}
            {{else}}
              {{this.record.id}}
            {{/if}}
          </LinkTo>
        </Row.Cell>
      {{else}}
        <Row.Cell @index={{this.index}} @column={{column}} />
      {{/if}}
    {{/each}}
  {{/if}}
{{/let}}
