{{#if hasBlock}}
  {{yield
    (hash
      anyFilterUsed=anyFilterUsed
      summary=summary
      clearFilters=clearFilters
      firstIndex=firstIndex
      lastIndex=lastIndex
      recordsCount=recordsCount
    )}}
{{else}}
  {{summary}}
  {{#if anyFilterUsed}}
    <a
      href="#"
      class="{{themeInstance.buttonLink}} clearFilters"
      {{action "clearFilters"}}>
      <i class={{themeInstance.clearAllFiltersIcon}}></i>
    </a>
  {{/if}}
{{/if}}