<div class="{{if useNumericPagination themeInstance.footerSummaryNumericPagination
                 themeInstance.footerSummaryDefaultPagination}}">
  {{#if hasBlock}}
    {{yield
      (hash
        anyFilterUsed=anyFilterUsed
        summary=summary
        clearFilters=clearFilters
        firstIndex=firstIndex
        lastIndex=lastIndex
        recordsCount=recordsCount
      )
    }}
  {{else}}
    {{summary}}
    <a href="#" {{action "clearFilters"}} class="btn btn-link clearFilters {{unless anyFilterUsed "invisible"}}">
      <span class="{{themeInstance.clearAllFiltersIcon}}"></span>
    </a>
  {{/if}}
</div>