{{#if hasBlock}}
  {{yield
    (hash
      anyFilterUsed=anyFilterUsed
      summary=summary
      clearFilters=clearFilters
      firstIndex=firstIndex
      lastIndex=lastIndex
      recordsCount=recordsCount
    )}}
{{else}}
  <form class={{themeInstance.form}}>
    <div class={{themeInstance.formElementWrapper}}>
      <label for={{inputId}}>
        {{summary}}
        {{#if anyFilterUsed}}
          <a
            href="#"
            role="button"
            class="clearFilters"
            {{action "clearFilters"}}>
            <i class={{themeInstance.clearAllFiltersIcon}}></i>
            <span class="emt-sr-only">{{themeInstance.messages.clearAllFilters}}</span>
          </a>
        {{/if}}
      </label>
      {{! just a small hack to align label vertically }}
      <input id={{inputId}} class={{concat themeInstance.input " invisible"}}>
    </div>
  </form>
{{/if}}