{{#if (has-block)}}
  {{yield
    (hash
      anyFilterUsed=anyFilterUsed
      summary=summary
      clearFilters=doClearFilters
      firstIndex=firstIndex
      lastIndex=lastIndex
      recordsCount=recordsCount
    )}}
{{else}}
  <form class={{themeInstance.form}}>
    <div class={{themeInstance.formElementWrapper}}>
      <label>
        {{summary}}
        {{#if anyFilterUsed}}
          <a
            href="#"
            class="clearFilters"
            {{action "doClearFilters"}}>
            <i class={{themeInstance.clearAllFiltersIcon}}></i>
          </a>
        {{/if}}
      </label>
      {{! just a small hack to align label vertically }}
      <input class={{concat themeInstance.input " invisible"}}>
    </div>
  </form>
{{/if}}