{{#if (has-block)}}
  {{yield
    (hash
      summary=summary
    )}}
{{else}}
  <form class={{themeInstance.form}}>
    <div class={{themeInstance.formElementWrapper}}>
      <label for={{inputId}}>
        {{summary}}
        <a
          href="#"
          role="button"
          class={{concat "clearFilters " (unless anyFilterUsed "hidden")}}
          {{action "doClearFilters"}}>
          <i class={{themeInstance.clearAllFiltersIcon}}></i>
          <span class="emt-sr-only">{{themeInstance.clearAllFiltersMsg}}</span>
        </a>
      </label>
      {{! just a small hack to align label vertically }}
      <input id={{inputId}} class={{concat themeInstance.input " invisible"}}>
    </div>
  </form>
{{/if}}