{{#if (has-block)}}
  {{yield
    (hash
      summary=this.summary
    )
  }}
{{else}}
  <form class={{this.themeInstance.form}}>
    <div class={{this.themeInstance.formElementWrapper}}>
      <label for={{this.inputId}}>
        {{this.summary}}
        <a
          href="#"
          role="button"
          class={{concat "clearFilters " (unless this.anyFilterUsed "hidden")}}
          onclick={{this.doClearFilters}}>
          <i class={{this.themeInstance.clearAllFiltersIcon}}></i>
          <span class="emt-sr-only">{{this.themeInstance.clearAllFiltersMsg}}</span>
        </a>
      </label>
      {{! just a small hack to align label vertically }}
      <input id={{this.inputId}} class={{concat this.themeInstance.input " invisible"}}>
    </div>
  </form>
{{/if}}