<a href="#" onclick={{this.gotoFirst}} class={{this.gotoBackEnabled:enabled:disabled}}>F</a>&nbsp;
<a href="#" onclick={{this.gotoPrev}} class={{this.gotoBackEnabled:enabled:disabled}}>P</a>&nbsp;
<a href="#" onclick={{this.gotoNext}} class={{this.gotoForwardEnabled:enabled:disabled}}>N</a>&nbsp;
<a href="#" onclick={{this.gotoLast}} class={{this.gotoForwardEnabled:enabled:disabled}}>L</a>
{{yield}}