{{#if (has-block)}}
  {{yield}}
{{else}}
  <div class={{this.themeInstance.columnsDropdownWrapper}}>
    <button
      class="{{this.themeInstance.buttonDefault}} dropdown-toggle"
      type="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false">
      {{this.themeInstance.columnsTitleMsg}}
      <i class={{this.themeInstance.caretIcon}}></i>
    </button>
    <div class={{this.themeInstance.columnsDropdown}}>
      {{#if @columnDropdownOptions.showAll}}
        <a
          href="#"
          class="dropdown-item"
          onclick={{fn this.doShowAllColumns}}>
          {{this.themeInstance.columnsShowAllMsg}}
        </a>
      {{/if}}
      {{#if @columnDropdownOptions.hideAll}}
        <a
          href="#"
          class="dropdown-item"
          onclick={{fn this.doHideAllColumns}}>
          {{this.themeInstance.columnsHideAllMsg}}
        </a>
      {{/if}}
      {{#if @columnDropdownOptions.restoreDefaults}}
        <a
          href="#"
          class="dropdown-item"
          onclick={{fn this.doRestoreDefaultVisibility}}>
          {{this.themeInstance.columnsRestoreDefaultsMsg}}
        </a>
      {{/if}}
      {{#each @columnDropdownOptions.columnSets as |columnSet|}}
        <a
          href="#"
          class="dropdown-item"
          onclick={{fn this.doToggleColumnSet columnSet}}>
          {{columnSet.label}}
        </a>
      {{/each}}
      <div class={{this.themeInstance.columnsDropdownDivider}}></div>
      {{#each @processedColumns as |column|}}
        {{#if column.mayBeHidden}}
          <a
            href="#"
            class="dropdown-item"
            onclick={{fn this.doToggleHidden column}}>
            <i
              class={{if column.isVisible this.themeInstance.columnVisibleIcon this.themeInstance.columnHiddenIcon}}>
            </i>
            {{column.title}}
          </a>
        {{/if}}
      {{/each}}
    </div>
  </div>
{{/if}}