{{#if (has-block)}}
  {{yield
    (hash
      themeInstance=themeInstance
      columnDropdownOptions=columnDropdownOptions
      processedColumns=processedColumns
      showAllColumns=(action "doShowAllColumns")
      hideAllColumns=(action "doHideAllColumns")
      restoreDefaultVisibility=(action "doRestoreDefaultVisibility")
      toggleColumnSet=(action "doToggleColumnSet")
      toggleHidden=(action "doToggleHidden")
    )}}
{{else}}
  <div class={{themeInstance.columnsDropdownWrapper}}>
    <button
      class="{{themeInstance.buttonDefault}} dropdown-toggle"
      type="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false">
      {{themeInstance.columnsTitleMsg}}
      <i class={{themeInstance.caret}}></i>
    </button>
    <div class={{themeInstance.columnsDropdown}}>
      {{#if columnDropdownOptions.showAll}}
        <a
          href="#"
          class="dropdown-item"
          {{action "doShowAllColumns" bubbles=false}}>
          {{themeInstance.columnsShowAllMsg}}
        </a>
      {{/if}}
      {{#if columnDropdownOptions.hideAll}}
        <a
          href="#"
          class="dropdown-item"
          {{action "doHideAllColumns" bubbles=false}}>
          {{themeInstance.columnsHideAllMsg}}
        </a>
      {{/if}}
      {{#if columnDropdownOptions.restoreDefaults}}
        <a
          href="#"
          class="dropdown-item"
          {{action "doRestoreDefaultVisibility"bubbles=false}}>
          {{themeInstance.columnsRestoreDefaultsMsg}}
        </a>
      {{/if}}
      {{#each columnDropdownOptions.columnSets as |columnSet|}}
        <a
          href="#"
          class="dropdown-item"
          {{action "doToggleColumnSet" columnSet bubbles=false}}>
          {{columnSet.label}}
        </a>
      {{/each}}
      <div class={{themeInstance.columnsDropdownDivider}}></div>
      {{#each processedColumns as |column|}}
        {{#if column.mayBeHidden}}
          <a
            href="#"
            class="dropdown-item"
            {{action "doToggleHidden" column bubbles=false}}>
            <i
              class={{if column.isVisible themeInstance.column-visible themeInstance.column-hidden}}>
            </i>
            {{column.title}}
          </a>
        {{/if}}
      {{/each}}
    </div>
  </div>
{{/if}}