{{#with (hash
  data-group-by-select=(
    component themeInstance.components.select
    options=options
    value=value
    themeInstance=themeInstance
    sendAction=sendAction
    class=themeInstance.changeGroupByField
  )
  themeInstance=themeInstance
  pageSizeOptions=pageSizeOptions
  pageSize=pageSize
  sendAction=sendAction
  sort=sort
) as |dgbs|}}
  {{#if hasBlock}}
    {{yield dgbs}}
  {{else}}
    <div class={{themeInstance.dataGroupBySelectWrapper}}>
      <div class={{themeInstance.inputGroup}}>
        <span class="input-group-addon">{{messages.groupByLabel}}</span>
        {{component dgbs.data-group-by-select}}
        <span class="input-group-btn">
          <button class={{themeInstance.sortGroupedPropertyBtn}} onclick={{action "sort"}} type="button">
            <i class="{{if (is-equal "asc" sortByGroupedFieldDirection) themeInstance.sort-asc themeInstance.sort-desc}}"></i>
          </button>
        </span>
      </div>
    </div>
  {{/if}}
{{/with}}