{{#let
  (hash
    Select=(
      component
      this.themeInstance.selectComponent
      options=this.options
      value=this.value
      themeInstance=this.themeInstance
      class=this.themeInstance.changeGroupByField
    )
    sort=this.doSort
  )
as |DataGroupBySelect|}}
  {{#if (has-block)}}
    {{yield DataGroupBySelect}}
  {{else}}
    <div class={{this.themeInstance.inputGroup}}>
      <span class="input-group-addon">{{this.themeInstance.groupByLabelMsg}}</span>
      <DataGroupBySelect.Select/>
      <span class="input-group-btn">
        <button
          class={{this.themeInstance.sortGroupedPropertyBtn}}
          onclick={{this.doSort}}
          type="button">
          <i
            class={{if
              (is-equal this.sortByGroupedFieldDirection "asc")
              this.themeInstance.sortAscIcon
              this.themeInstance.sortDescIcon}}>
          </i>
        </button>
      </span>
    </div>
  {{/if}}
{{/let}}
