{{#if (has-block)}}
  {{yield
    (hash
      themeInstance=themeInstance
    )}}
{{else}}
  <div class={{themeInstance.globalFilterWrapper}}>
    <div class={{concat themeInstance.form " globalSearch"}}>
      <div class={{themeInstance.inputGroup}}>
        <label for={{inputId}} class="input-group-addon">{{themeInstance.searchLabelMsg}}</label>
        {{input
          id=inputId
          type="text"
          value=value
          class=(concat themeInstance.input " filterString")
          enter=(action "noop")
          placeholder=themeInstance.searchPlaceholderMsg}}
        <span class="input-group-btn">
          <button
            class="clearFilterIcon {{themeInstance.buttonDefaultSmall}}"
            disabled={{unless globalFilterUsed "disabled"}}
            onclick={{action (mut value) ""}}
            type="button">
            <i class={{themeInstance.clearFilterIcon}}></i>
            <span class="emt-sr-only">{{themeInstance.clearGlobalFilterMsg}}</span>
          </button>
        </span>
      </div>
    </div>
  </div>
{{/if}}