{{#if (has-block)}}
  {{yield}}
{{else}}
  <div class={{concat this.themeInstance.form " globalSearch"}}>
    <div class={{this.themeInstance.inputGroup}}>
      <label for={{this.inputId}} class="input-group-addon">{{this.themeInstance.searchLabelMsg}}</label>
      <Input
        id={{this.inputId}}
        type="text"
        @value={{this.value}}
        class={{concat this.themeInstance.input " filterString"}}
        @enter={{this.noop}}
        placeholder={{this.themeInstance.searchPlaceholderMsg}}/>
      <span class="input-group-btn">
        <button
          class="clearFilterIcon {{this.themeInstance.buttonDefaultSmall}}"
          disabled={{unless this.globalFilterUsed "disabled"}}
          onclick={{fn this.clearGlobalFilter}}
          type="button">
          <i class={{this.themeInstance.clearFilterIcon}}></i>
          <span class="emt-sr-only">{{this.themeInstance.clearGlobalFilterMsg}}</span>
        </button>
      </span>
    </div>
  </div>
{{/if}}