{{#if (has-block)}}
  {{yield
    (hash
      column=column
      selectedItems=selectedItems
      expandedItems=expandedItems
      themeInstance=themeInstance
      expandAllRows=expandAllRows
      collapseAllRows=collapseAllRows
      toggleAllSelection=toggleAllSelection
    )}}
{{else}}
  {{#if column.componentForFilterCell}}
    {{#let
      (component
        column.componentForFilterCell
        column=column
        selectedItems=selectedItems
        expandedItems=expandedItems
        themeInstance=themeInstance
        expandAllRows=expandAllRows
        collapseAllRows=collapseAllRows
        toggleAllSelection=toggleAllSelection)
    as |CellContent|}}
      <CellContent/>
    {{/let}}
  {{else}}
    {{#if column.useFilter}}
      <label for={{inputId}} class="emt-sr-only">{{column.title}}</label>
      <div class={{themeInstance.inputGroup}}>
        {{#if column.filterWithSelect}}
          {{#let
            (component
              themeInstance.selectComponent
              options=column.filterOptions
              cssPropertyName=column.cssPropertyName
              value=column.filterString
              themeInstance=themeInstance
              class=(concat themeInstance.input " changeFilterForColumn")
              expandAllRows=expandAllRows
              collapseAllRows=collapseAllRows)
          as |DefaultSelect|}}
            <DefaultSelect/>
          {{/let}}
        {{else}}
          {{input
            type="text"
            value=column.filterString
            class=themeInstance.input
            enter=(action "noop")
            placeholder=column.filterPlaceholder}}
        {{/if}}
        <span class="input-group-btn">
          <button
            class="clearFilterIcon {{themeInstance.buttonDefaultSmall}}"
            aria-label={{themeInstance.clearFilterMsg}}
            disabled={{unless column.filterUsed "disabled"}}
            onclick={{action (mut column.filterString) ""}}
            type="button">
            <i class={{themeInstance.clearFilterIcon}}></i>
          </button>
        </span>
      </div>
    {{else}}
      &nbsp;
    {{/if}}
  {{/if}}
{{/if}}