{{#if @column.componentForFilterCell}}
  {{#let
    (component
      @column.componentForFilterCell
      column=this.column
      data=this.data
      selectedItems=this.selectedItems
      expandedItems=this.expandedItems
      themeInstance=this.themeInstance
      expandAllRows=this.expandAllRows
      collapseAllRows=this.collapseAllRows
      toggleAllSelection=this.toggleAllSelection)
  as |CellContent|}}
    {{#if (has-block)}}
      {{yield CellContent}}
    {{else}}
      <CellContent/>
    {{/if}}
  {{/let}}
{{else}}
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    {{#if @column.useFilter}}
      <label for={{this.inputId}} class="emt-sr-only">{{@column.title}}</label>
      <div class={{this.themeInstance.inputGroup}}>
        {{#if @column.filterWithSelect}}
          {{#let
            (component
              this.themeInstance.selectComponent
              options=this.column.filterOptions
              cssPropertyName=this.column.cssPropertyName
              value=this.column.filterString
              themeInstance=this.themeInstance
              class=(concat this.themeInstance.input " changeFilterForColumn")
              expandAllRows=this.expandAllRows
              collapseAllRows=this.collapseAllRows)
          as |DefaultSelect|}}
            <DefaultSelect/>
          {{/let}}
        {{else}}
          <Input
            type="text"
            value={{@column.filterString}}
            class={{this.themeInstance.input}}
            @enter={{this.noop}}
            placeholder={{@column.filterPlaceholder}}/>
        {{/if}}
        <span class="input-group-btn">
          <button
            class="clearFilterIcon {{this.themeInstance.buttonDefaultSmall}}"
            aria-label={{this.themeInstance.clearFilterMsg}}
            disabled={{unless @column.filterUsed "disabled"}}
            onclick={{fn (mut @column.filterString) ""}}
            type="button">
            <i class={{this.themeInstance.clearFilterIcon}}></i>
          </button>
        </span>
      </div>
    {{else}}
      &nbsp;
    {{/if}}
  {{/if}}
{{/if}}