{{#if hasBlock}}
  {{yield
    (hash
      column=column
      selectedItems=selectedItems
      expandedItems=expandedItems
      sendAction=sendAction
      themeInstance=themeInstance
      expandAllRows=expandAllRows
      collapseAllRows=collapseAllRows
      toggleAllSelection=toggleAllSelection
    )}}
{{else}}
  {{#if column.componentForFilterCell}}
    {{component
      column.componentForFilterCell
      column=column
      selectedItems=selectedItems
      expandedItems=expandedItems
      sendAction=sendAction
      themeInstance=themeInstance
      expandAllRows=expandAllRows
      collapseAllRows=collapseAllRows
      toggleAllSelection=toggleAllSelection}}
  {{else}}
    {{#if column.useFilter}}
      <div class={{themeInstance.inputGroup}}>
        <label for={{inputId}} class="emt-sr-only">{{column.title}}</label>
        {{#if column.filterWithSelect}}
          {{component
            themeInstance.components.select
            options=column.filterOptions
            cssPropertyName=column.cssPropertyName
            value=column.filterString
            themeInstance=themeInstance
            sendAction=sendAction
            class=(concat themeInstance.input " changeFilterForColumn")
            expandAllRows=expandAllRows
            collapseAllRows=collapseAllRows}}
        {{else}}
          {{input
            type="text"
            value=column.filterString
            class=themeInstance.input
            enter=(action "noop")
            placeholder=column.filterPlaceholder}}
        {{/if}}
        <span class="input-group-btn">
          <button
            class="clearFilterIcon {{themeInstance.buttonDefaultSmall}}"
            aria-label={{themeInstance.messages.clearFilter}}
            disabled={{unless column.filterUsed "disabled"}}
            onclick={{action (mut column.filterString) ""}}
            type="button">
            <i class={{themeInstance.clearFilterIcon}}></i>
          </button>
        </span>
      </div>
    {{else}}
      &nbsp;
    {{/if}}
  {{/if}}
{{/if}}